**<h2 style="text-align:center">Phase 3: Exploratory Data Analysis</h2>**

<h3 style="text-align:center">Home Credit Default Risk</h3>

**<h4 style="text-align:center">Group 10</h4>**

| | |
|:-----:|:-----:|
| Mark Green | Pragat Wagle |
| [margree@iu.edu](mailto:margree@iu.edu) | [pwagle@iupui.edu](mailto:pwagle@iupui.edu) |
| <img src="../images/picMark.png" alt="drawing" width="200"/> | <img src="../images/picPragat.jpeg" alt="drawing" width="210"/> |
| <img src="../images/picSahil.jpg" alt="drawing" width="200"/> | <img src="../images/picKunal.jpg" alt="drawing" width="230"/> |
| Sahil Dhingra | Kunal Singh |
| [sahdhin@iu.edu](mailto:sahdhin@iu.edu) | [singhku@iu.edu](mailto:singhku@iu.edu) |

<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>

---

**<h4 style="text-align:left">Table of Contents</h4>**

1. [Phase Leader Table](#phase)
2. [Credit Assignment Plan](#credit)
3. [Abstract](#abstract)
4. [Introduction](#intro)
5. [Data Description](#datadesc)
6. [Exploratory Data Analysis](#EDA)
7. [Visual EDA](#EDAV)
8. [Baseline Machine Learning Pipelines](#pipelines)
9. [Results and Discussion](#results)
10. [Conclusion](#conclusion)
11. [Bibliography](#bibliography)
12. [Attachment 1 - Data Dictionary](#datadict)

---

# Phase Leader Table <a name='phase'></a>

| Phase | Leader | Phase Description | Completed |
|-------|:------:|:------------------|-----------|
| 1     | Mark   | **Project Proposal**: Project Plan, Data description, algorithms and metrics, baseline models, pipelines | *11/15/22* | 
| 2     | Kunal  | **Baseline Report**: EDA, baseline pipeline, feature engineering, video presentation | *11/29/22* | 
| 3     | Pragat | **Finetuning Model**: Hyperparameter tuning, feature selection, ensemble methods, video presentation | 12/06/22 | 
| 4     | Sahil  | **Final Report**: Implement neural network, advanced models and loss functions, video presentation | TBD |

# Credit Assignment Table <a name='credit'></a>

| Phase | Person | Hours | Effort |
|:-----:|:-----:|:------:|:-----:|
| 3 |   Mark   | 24 | Mark's goal was (1) to transform (IE denormalize) and perform EDA on the `bureau` and `bureau_balance` datasets, (2) to explore multicollinearity between variables in the aggregated dataset, (3) to facilitate production of the document deliverable, and (4) to help develop the summary video. Mark achieved his goal to complete these tasks by 11/29/2022. Mark accomplished these goals by writing code to aggregate and explore the `bureau` and `bureau_bal` tables, combining work from multiple documents into a singular report document and editing/formatting to produce a final draft document in html, pdf, and ipynb formats, and engaging in zoom meetings to facilitate workflow and develop the video. Accomplishing these goals completes a significant piece of the data preparation and provides insights into the `bureau` data and the "rolled-up" denormalized data. Accomplishing these goals also ensures we have high-quality deliverables that are suitable for reading by audiences with varied ML backgrounds. |
| 3 |   Sahil    | 42 | Sahil’s goal was to write reusable functions like aggregation, summarization, ETL-transformations for EDA and functions like Num plots, categorical plots, NULL count, Dendrograms, histograms, and unique feature plots for EDA visualization. These goals were required to facilitate creation of new features, pre-processing, remove data below a threshold value(0.7), aggregation of hundreds of attributes for POS (POS-CASH Balance) and PREVAPP (previous applications) tables, and then rolling them to the application train and test tables. Helper functions were used for both EDA and visual EDA. Another goal was to publish details which could be added w.r.t functions. Last goal was to have the results and provide the discussion considering the feature engineering and score recorded in the last phase and doing a comparative analysis. This is all to be done before 11/29/2022. Sahil accomplished these goals by running and understanding the starter notebook, research on helpful EDA, EDA visualization, and feature engineering techniques which could be used across tables. Accomplishing these goals will enable Sahil to have better understanding of data visually and statistically. Accomplishing these goals will also provide insight for the next phase of targeted feature engineering and hyper-parameter tuning. |
| 3   |  Pragat     | 34 | Pragat’s goal was to create visualizations including correlation plots and numerical plots such as a histogram, barplot, and kernel density tables. Another goal was to roll up the credit card balance table by summarizing and aggregating that data and then merging into the train data. Lastly, to run, train the pipeline on the final aggregated table and test it on the final aggregated test table to measure accuracy of the model on the test set, and submit to Kaggle. This is all to be done before 11/29/2022. Pragat will accomplish this goal by looking at the existing code, reading python documentation, and by using the web to find existing implementations. This goal will help with EDA to eventually create a more improved model from phase 1 to improve test set accuracy on the dataset provided by kaggle. |
| 3    | Kunal      | 20 | Kunals goal was to load , transform and perform EDA on “installments payments” table. He explored the collinearity between the variables in the dataset. He also worked for preparing the documentation for Team and Plan updates, Project Abstract and description. He also helped develop the summary video. |
| | | |
| 2 |   Mark   | 24 | Mark's goal was (1) to transform (IE denormalize) and perform EDA on the `bureau` and `bureau_balance` datasets, (2) to explore multicollinearity between variables in the aggregated dataset, (3) to facilitate production of the document deliverable, and (4) to help develop the summary video. Mark achieved his goal to complete these tasks by 11/29/2022. Mark accomplished these goals by writing code to aggregate and explore the `bureau` and `bureau_bal` tables, combining work from multiple documents into a singular report document and editing/formatting to produce a final draft document in html, pdf, and ipynb formats, and engaging in zoom meetings to facilitate workflow and develop the video. Accomplishing these goals completes a significant piece of the data preparation and provides insights into the `bureau` data and the "rolled-up" denormalized data. Accomplishing these goals also ensures we have high-quality deliverables that are suitable for reading by audiences with varied ML backgrounds. |
| 2 |   Sahil    | 42 | Sahil’s goal was to write reusable functions like aggregation, summarization, ETL-transformations for EDA and functions like Num plots, categorical plots, NULL count, Dendrograms, histograms, and unique feature plots for EDA visualization. These goals were required to facilitate creation of new features, pre-processing, remove data below a threshold value(0.7), aggregation of hundreds of attributes for POS (POS-CASH Balance) and PREVAPP (previous applications) tables, and then rolling them to the application train and test tables. Helper functions were used for both EDA and visual EDA. Another goal was to publish details which could be added w.r.t functions. Last goal was to have the results and provide the discussion considering the feature engineering and score recorded in the last phase and doing a comparative analysis. This is all to be done before 11/29/2022. Sahil accomplished these goals by running and understanding the starter notebook, research on helpful EDA, EDA visualization, and feature engineering techniques which could be used across tables. Accomplishing these goals will enable Sahil to have better understanding of data visually and statistically. Accomplishing these goals will also provide insight for the next phase of targeted feature engineering and hyper-parameter tuning. |
| 2    |  Pragat     | 34 | Pragat’s goal was to create visualizations including correlation plots and numerical plots such as a histogram, barplot, and kernel density tables. Another goal was to roll up the credit card balance table by summarizing and aggregating that data and then merging into the train data. Lastly, to run, train the pipeline on the final aggregated table and test it on the final aggregated test table to measure accuracy of the model on the test set, and submit to Kaggle. This is all to be done before 11/29/2022. Pragat will accomplish this goal by looking at the existing code, reading python documentation, and by using the web to find existing implementations. This goal will help with EDA to eventually create a more improved model from phase 1 to improve test set accuracy on the dataset provided by kaggle. |
| 2    | Kunal      | 20 | Kunals goal was to load , transform and perform EDA on “installments payments” table. He explored the collinearity between the variables in the dataset. He also worked for preparing the documentation for Team and Plan updates, Project Abstract and description. He also helped develop the summary video. |
| | | |
|1  |   Mark   |   16     | Mark's goals were to accomplish exploration and write about the data description, combine project elements developed by team members into a singular document, organize phase leader table, edit document appearance and content, guide discussion, goals, and organize team and resources as Phase 1 Leader, and to collaborate with team members where needed by November 15, 2022. Mark accomplished these goals by stitching together elements into a jupyter notebook and formatting the markdown into a report style, setting up a project Github resource and downloading/democratizing datasource, exploring and describing the data structure, editing the jupyter notebook submittal, being an active leader on team discussions, consulting other team members on writing in the Project Execution Plan, ML Algorithms, and ML Pipelines sections. Accomplishing these goals is key to project delivery in Phase 1 because these tasks complete the logistical elements of report development. They also contribute to the group understanding of the data structure and context. This work also sets precedents and tools for delivering future reports.     |
| 1 |   Sahil    |    14     |  Sahil’s goal for this phase was to do EDA, feature engineering, create pipelines, create Block Diagram, conclude results and publish results for the same in Kaggle by 15-NOV-2022. To achieve this, Sahil went through the initial notebook and worked from there to do EDA, feature selection and create pipeline with different attribute list using the knowledge from prior assignments. Accomplishing this goal will help us get us to baseline test score and AUC score which will give us a good idea on our predictions and what more we can do to make better predictions.   |
| 1    |  Pragat     |   12     |   Pragat’s goal was to describes the algorithms to be used and work on the getting it done prior to the November 15th deadline. Pragat will accomplish this goal by looking at the implementations on sklearn and the prioritize the most important parameters for each algorithm by looking at existing implementations seen in the documentation. Also by looking at existing implementations he will determine the loss functions and metrics and analysis to be used to measure the accuracy and overall quality of the algorithm. This goal will help to prioritize the most important arguments to consider for hyper-parameter tuning, optimizing the model, and in measuring the overall quality of results.    |
| 1    | Kunal      |   10     |  Kunal's was to develop the Abstract and Project Execution plan. He accomplished this by collaborating with team members on regular team calls. This is important for the project as it helps to outline a plan of expectations and summarizes work done this week.|

<img src="../images/GanttChart.png" alt="drawing" width="1500"/>

<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>

# Abstract <a name='abstract'></a>

The Home Credit Group needs a machine learning-based classification model to make accurate lending decisions for individuals by predicting loan default risk using a scope of data beyond just traditional credit history, including loan applicant data encompassing their demographics, social status, employment status, and previous credit history. The seven data tables comprising these information use custom EDA and ETL functions to numerically and visually explore characteristics such as input variable distributions and skewness, inter-variable and target-variable correlation, and multicollinearity. Insights from the data exploration inform the process and decisions necessary to responsibly and accurately denormalize these tables into an ML-model ready input variable. This input variable - now comprised of the entire 2.7 gigabyte dataset - is run through a baseline logistic regression model in `SKLearn` using 1277 input features. Results from modelling on test data indicate the *Wagle-Dhingra-Singh-Green* baseline model achieves AUC-ROC score of approximately 0.7709, with prediction accuracy of approximately 92%.

# Introduction <a name='intro'></a>

Loans have always been an important part of people’s lives. Each individual has different reasons for borrowing a loan. It could be to buy a dream car or a home, to set up a business, or to buy some products. A large part of the population finds it difficult to get their home loans approved due to insufficient or absent credit history. It is a major challenge for banks and other finance lending agencies to decide for which candidates to approve housing loans.

The Home Credit organization's mission is to provide responsible lending solutions to people with little to no credit history. Home Credit wants to determine their customer's eligibility for their financial products by determining their risk of default - the risk they will miss payments. **Group 10** has been tasked to evaluate their data and develop a machine learning ("ML") classification tool to predict loan default risk which uses more features than just the traditional credit history. Once developed, the *Wagle-Dhingra-Singh-Green model* will eventaully be used as a tool to evaluate future loan candidates. 

This report discusses the integration of the full normalized dataset into a machine learning model. The Exploratory Data Analysis (*EDA*) performed throughout this process is also presented as a means to familiarize the data and to make informed decisions throughout the data engineering and model integration process. 

A note on the styling of this report. After Section 5, many sections will be broken up by inline code blocks as the aim of this report is to highlight the exploratory data analysis and the work we are performing. 

## Phase 2 - Tasks To be Tackled

The focus of Phase 2 is Exploratory Data Analysis and integration of the full dataset into a baseline machine learning model. A generalized machine learning project pipeline is outlined in figure 3 below and each step is described in detail in the Phase 1 Project report. The steps relevant to this phase (2, 3, 4) are outlined in detail below. 

2. **Data Logging and ETL**
   + The data is segregated in multiple csv files related to each other by primary and foreign keys. Extract-Transform-Load operations must be performed on the dataset to consolidate the datasources into single denormalized table for efficient analysis.
3. **Exploratory Data Analysis**
   + While integrating the data, we explore the data with the goal of answering questions like: 
      + How many features are present?
      + How are they correlated to one another and the target? 
      + How is the data quality? Are there any problems such as high leverage points or multicollinearity?
      + What are the data types, missing values, or non-numeric features? 
      + Are there any patterns between the predictor and response features?
   + The denormalized data is explored to find features which have the most impact on predicting the default risk of a loan applicant. Additional feature characteristics such as correlation between features and skewness are also observed and noted at this stage. 
4. **Feature Engineering**
   + Using unnecessary features to train a machine learning model reduces the overall model accuracy and increases the model complexity and bias. To counter these issues, Feature Selection is implemented to reduce the number of input variables for the model by using only features with a relevant effect on predicting the target variable. Some feature selection methods include finding correlation coefficients, forward selection, backward selections, P-value tests, regularization, gradient boosting, and principal components analysis.
   + The features also need to be re-engineered for optimal learning. This is accomplished by restructuring the input data such that the gradient surface of the model's objective function is sufficiently convex and of a form sympathetic to gradient descent optimization. Such feature engineering tasks include transforming categorical features into a numerical space, transforming skewed features into a normalized space, or extracting relevant information "hidden" within text strings. 

<br></br>

<img src="../images/Pipeline.png" alt="drawing" width="1000"/>

**Figure 3: Visualization of key project steps to successfully build a machine learning model application.**

## Challenges

Challenges encountered during this phase include the following: 

1. Developing a method to consistently and appropriately aggregate and summarize normalized data into a denormalized input variable. The challenge here was to do this in such a way as to not artificially dilute the data, to avoid choosing "winners" and "losers" based on arbitrary decisions, and to be systematic and reasoned throughout the process. 
2. Running the model was challenging given the full raw dataset is approximately 2.7 gb of data. The process of denormalizing this dataset results in a high-dimensional dataset which can be cumbersome for complex models to work on. Local machines were having difficulty running the pipeline on the unrefined denormalized dataset.

<br></br>

# Data Description <a name='datadesc'></a>

Although the Data Description is also discussed in the Phase 1 Proposal Report, a review of the underlying data structure will aid understanding the process by which the data is denormalized and prepared for the ML pipeline. 

The data provided in the loan applications give insights into an applicant's current demographic and social status. Data from past credit accounts also give insight into an applicant's past financial behaviors. Notably, the primary key for each sample (loan application) is the Loan ID `SK_ID_CURR`. This relates the current loan application to associated loans from Home Credit's past account records, and to associated loans from other institution's that were reported to the Credit Bureaus. The data are stored in 7 different table schemas shown on Figure 2 below. The specific attributes in each table, along with their descriptions, are stored in an addendum table named `HomeCredit_columns_description.csv`. 

<br></br>

<img src="../images/home_credit.png" alt="drawing" width="1000"/>

**Figure 2: Entity Relation Diagram for Home Credit Applicant Datatables**

<br></br>

Home Credit provides three main sources of data upon which to learn the ML model: applicant information, credit bureau information, and Home Credit's account records. The sections below describe the data from these various sources, and some of the key variables.

<br></br>

## Background on the dataset
> Home Credit is a non-banking financial institution, founded in 1997 in the Czech Republic.
>
> The company operates in 14 countries (including United States, Russia, Kazahstan, Belarus, China, India) and focuses on lending primarily to people with little or no credit history which will either not obtain loans or became victims of untrustworthly lenders.
>
> Home Credit group has over 29 million customers, total assests of 21 billions Euro, over 160 millions loans, with the majority in Asia and and almost half of them in China (as of 19-05-2018).
>
> While Home Credit is currently using various statistical and machine learning methods to make these predictions, they're challenging Kagglers to help them unlock the full potential of their data. Doing so will ensure that clients capable of repayment are not rejected and that loans are given with a principal, maturity, and repayment calendar that will empower their clients to be successful.
>
> *-- From original Jupyter Notebook*

## Data files overview
> There are 7 different sources of data:

> * __application_train/application_test:__ the main training and testing data with information about each loan application at Home Credit. Every loan has its own row and is identified by the feature SK_ID_CURR. The training application data comes with the TARGET indicating __0: the loan was repaid__ or __1: the loan was not repaid__. The target variable defines if the client had payment difficulties meaning he/she had late payment more than X days on at least one of the first Y installments of the loan. Such case is marked as 1 while other all other cases as 0.
> * __bureau:__ data concerning client's previous credits from other financial institutions. Each previous credit has its own row in bureau, but one loan in the application data can have multiple previous credits.
> * __bureau_balance:__ monthly data about the previous credits in bureau. Each row is one month of a previous credit, and a single previous credit can have multiple rows, one for each month of the credit length.
> * __previous_application:__ previous applications for loans at Home Credit of clients who have loans in the application data. Each current loan in the application data can have multiple previous loans. Each previous application has one row and is identified by the feature SK_ID_PREV.
> * __POS_CASH_BALANCE:__ monthly data about previous point of sale or cash loans clients have had with Home Credit. Each row is one month of a previous point of sale or cash loan, and a single previous loan can have many rows.
> * __credit_card_balance:__ monthly data about previous credit cards clients have had with Home Credit. Each row is one month of a credit card balance, and a single credit card can have many rows.
> * __installments_payment:__ payment history for previous loans at Home Credit. There is one row for every made payment and one row for every missed payment.
>
> *-- From original Jupyter Notebook*

## Loan Application Information

This is a denormalized pair of tables `application_test|train.csv` with attribute information about the current loan. These attributes describe both the financial instrument itself (the contract type, rate, size of loan, annuity, etc.) and also the demographic information for the applicant (age, gender, income, education, etc.). In addition to these basic demographic data on the applicant, a suite of other very detailed information about the applicant are provided including details on the building/property in which they live, differences in work and home addresses, car ownership, if the applicant's friends recently defaulted on any loans, which documents were turned in, and many more. This table also contains the target variable `TARGET`. This is a binary variable indicating whether or not the client had payment difficulties on the loan.

These data are explored and a baseline model is created in the supplementary Baseline Jupyter Notebook in [Section 10](#ipynb). 

## Credit Bureau Information

Some applicants have had loans through other financial institutions which were reported to the Credit Bureaus. Data from these loan applications are available from `bureau.csv` and are related to the current loan application IDs. A monthly time series describing the payment status through loan term is available for each of these related outside institution loans in `bureau_balance.csv`, related to `bureau.csv` by `SK_ID_BUREAU`. The `STATUS` attribute in this table categorically indicates whether a loan has past-due payments on a given statement. These data can be used to evaluate an applicant's past payment behaviors.

## Home Credit Previous Records

Some applicants have had loans or other financial products through Home Credit in the past. These related financial product applications are made available under `previous_application.csv`. The `SK_ID_PREV` relates these applications to payment and balance information depending on the type of financial product (credit card balances `credit_card_balance.csv`, installment payments `installments_payments.csv`, and loan balances `POS_CASH_balance.csv`). These data can be used to evaluate an applicant's past payment behaviors.

The credit card balances table shows detailed statement accounts of an applicants credit card withdrawals, credit limit, and days past due. Similarly, the installment payments and loan balances tables detail the amount prescribed and paid for various loan installments as well as the days past due for any late payments.

## Data Analysis Environment Setup

This section is composed of code that sets up the data for exploration, denormaliation, and integration with an ML pipeline. It assumes the `*.csv` files from the Kaggle dataset are stored in a folder at the following directory relative to the path of this notebook:

```bash
DATA_DIR = "../Data/"  
```

### Import Required Packages

In [184]:
# import packages

import os
import time
import warnings
import zipfile
import numpy as np
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.pipeline import Pipeline, FeatureUnion, make_pipeline
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.feature_selection import SelectKBest
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import LogisticRegression
from pandas.plotting import scatter_matrix
import missingno as msno
#!pip install msno

warnings.filterwarnings('ignore')

In [185]:
!pwd

/Users/pragatwagle/Desktop/aml hw's/AML556FinalProjectFall2022/Phase 3

### Loading Data

Creating dictionary for datasets so that we can keep track of datsets and also make them callable to functions.

In [186]:
# load data

DATA_DIR =  "/../Data/"

ds_names = ("application_train", "application_test", "bureau","bureau_balance",
            "credit_card_balance", "installments_payments","previous_application",
            "POS_CASH_balance")

datasets = {}
datasets_transformed = {}

for ds_name in ds_names:
    datasets[ds_name] = pd.read_csv(os.getcwd() + DATA_DIR + f'{ds_name}.csv')

## Data Dictionary, Size, and Overview

As part of the data download comes a *Data Dictionary* named `HomeCredit_columns_description.csv` and it is summarized in [Section 11](#datadict) as an attachment to this report. The subsections below give brief table descriptions, variable name overviews, and head views for the attributes in the normalized data tables. Additionally included are information on the size (memory usage) of each table. All together summed the dataset is approximately 2.7 gigabytes large.

### Application train

* __application_train/application_test:__ the main training and testing data with information about each loan application at Home Credit. Every loan has its own row and is identified by the feature SK_ID_CURR. The training application data comes with the TARGET indicating __0: the loan was repaid__ or __1: the loan was not repaid__. The target variable defines if the client had payment difficulties meaning he/she had late payment more than X days on at least one of the first Y installments of the loan. Such case is marked as 1 while other all other cases as 0.

In [5]:
def load_data(df,name):
    #df = pd.read_csv(in_path)
    print(f"{name}: shape is {df.shape}")
    print(df.info())
    display(df.head(5))
    return df

ds_name = 'application_train'
datasets[ds_name]= load_data(datasets[ds_name],ds_name)

application_train: shape is (307511, 122)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Columns: 122 entries, SK_ID_CURR to AMT_REQ_CREDIT_BUREAU_YEAR
dtypes: float64(65), int64(41), object(16)
memory usage: 286.2+ MB
None

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

### Application test

In [6]:
ds_name = 'application_test'
datasets[ds_name]= load_data(datasets[ds_name],ds_name)

application_test: shape is (48744, 121)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48744 entries, 0 to 48743
Columns: 121 entries, SK_ID_CURR to AMT_REQ_CREDIT_BUREAU_YEAR
dtypes: float64(65), int64(40), object(16)
memory usage: 45.0+ MB
None

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100001,Cash loans,F,N,Y,0,135000.0,568800.0,20560.5,450000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
1,100005,Cash loans,M,N,Y,0,99000.0,222768.0,17370.0,180000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
2,100013,Cash loans,M,Y,Y,0,202500.0,663264.0,69777.0,630000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0
3,100028,Cash loans,F,N,Y,2,315000.0,1575000.0,49018.5,1575000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
4,100038,Cash loans,M,Y,N,1,180000.0,625500.0,32067.0,625500.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

The application dataset has the most information about the client: Gender, Income, Family Status, Education, and others.

### The Other Datasets

* __bureau:__ data concerning client's previous credits from other financial institutions. Each previous credit has its own row in bureau but one loan in the application data can have multiple previous credits.
* __bureau_balance:__ monthly data about previous credits in bureau. Each row is one month of a previous credit and a single previous credit can have multiple rows, one for each month of the credit length.
* __previous_application:__ previous applications for loans at Home Credit of clients who have loans in the application train data. Each current loan in the application train data can have multiple previous loans. Each previous application has one row and is identified by the feature SK_ID_PREV.
* __POS_CASH_BALANCE:__ monthly data about previous point of sale or cash loans clients have had with Home Credit. Each row is one month of a previous point of sale or cash loan and a single previous loan can have many rows.
* __Credit_card_balance:__ monthly data about previous credit cards clients have had with Home Credit. Each row is one month of a credit card balance and a single credit card can have many rows.
* __installments_payment:__ payment history for previous loans at Home Credit. There is one row for every made payment and one row for every missed payment.

In [7]:
%%time
ds_names = ("application_train", "application_test", "bureau","credit_card_balance","installments_payments",
            "previous_application","POS_CASH_balance")

for ds_name in ds_names:
    datasets[ds_name] = load_data(datasets[ds_name], ds_name)

application_train: shape is (307511, 122)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Columns: 122 entries, SK_ID_CURR to AMT_REQ_CREDIT_BUREAU_YEAR
dtypes: float64(65), int64(41), object(16)
memory usage: 286.2+ MB
None

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

application_test: shape is (48744, 121)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48744 entries, 0 to 48743
Columns: 121 entries, SK_ID_CURR to AMT_REQ_CREDIT_BUREAU_YEAR
dtypes: float64(65), int64(40), object(16)
memory usage: 45.0+ MB
None

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100001,Cash loans,F,N,Y,0,135000.0,568800.0,20560.5,450000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
1,100005,Cash loans,M,N,Y,0,99000.0,222768.0,17370.0,180000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
2,100013,Cash loans,M,Y,Y,0,202500.0,663264.0,69777.0,630000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0
3,100028,Cash loans,F,N,Y,2,315000.0,1575000.0,49018.5,1575000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
4,100038,Cash loans,M,Y,N,1,180000.0,625500.0,32067.0,625500.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

bureau: shape is (1716428, 17)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1716428 entries, 0 to 1716427
Data columns (total 17 columns):
 #   Column                  Dtype
---  ------                  -----
 0   SK_ID_CURR              int64
 1   SK_ID_BUREAU            int64
 2   CREDIT_ACTIVE           object
 3   CREDIT_CURRENCY         object
 4   DAYS_CREDIT             int64
 5   CREDIT_DAY_OVERDUE      int64
 6   DAYS_CREDIT_ENDDATE     float64
 7   DAYS_ENDDATE_FACT       float64
 8   AMT_CREDIT_MAX_OVERDUE  float64
 9   CNT_CREDIT_PROLONG      int64
 10  AMT_CREDIT_SUM          float64
 11  AMT_CREDIT_SUM_DEBT     float64
 12  AMT_CREDIT_SUM_LIMIT    float64
 13  AMT_CREDIT_SUM_OVERDUE  float64
 14  CREDIT_TYPE             object
 15  DAYS_CREDIT_UPDATE      int64
 16  AMT_ANNUITY             float64
dtypes: float64(8), int64(6), object(3)
memory usage: 222.6+ MB
None

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
0,215354,5714462,Closed,currency 1,-497,0,-153.0,-153.0,NaN,0,91323.0,0.0,NaN,0.0,Consumer credit,-131,NaN
1,215354,5714463,Active,currency 1,-208,0,1075.0,NaN,NaN,0,225000.0,171342.0,NaN,0.0,Credit card,-20,NaN
2,215354,5714464,Active,currency 1,-203,0,528.0,NaN,NaN,0,464323.5,NaN,NaN,0.0,Consumer credit,-16,NaN
3,215354,5714465,Active,currency 1,-203,0,NaN,NaN,NaN,0,90000.0,NaN,NaN,0.0,Credit card,-16,NaN
4,215354,5714466,Active,currency 1,-629,0,1197.0,NaN,77674.5,0,2700000.0,NaN,NaN,0.0,Consumer credit,-21,NaN

credit_card_balance: shape is (3840312, 23)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3840312 entries, 0 to 3840311
Data columns (total 23 columns):
 #   Column                      Dtype
---  ------                      -----
 0   SK_ID_PREV                  int64
 1   SK_ID_CURR                  int64
 2   MONTHS_BALANCE              int64
 3   AMT_BALANCE                 float64
 4   AMT_CREDIT_LIMIT_ACTUAL     int64
 5   AMT_DRAWINGS_ATM_CURRENT    float64
 6   AMT_DRAWINGS_CURRENT        float64
 7   AMT_DRAWINGS_OTHER_CURRENT  float64
 8   AMT_DRAWINGS_POS_CURRENT    float64
 9   AMT_INST_MIN_REGULARITY     float64
 10  AMT_PAYMENT_CURRENT         float64
 11  AMT_PAYMENT_TOTAL_CURRENT   float64
 12  AMT_RECEIVABLE_PRINCIPAL    float64
 13  AMT_RECIVABLE               float64
 14  AMT_TOTAL_RECEIVABLE        float64
 15  CNT_DRAWINGS_ATM_CURRENT    float64
 16  CNT_DRAWINGS_CURRENT        int64
 17  CNT_DRAWINGS_OTHER_CURRENT  float64
 18  CNT_DRAWINGS_POS_CURRENT    float64
 19  CNT_INSTALMENT_MATURE_CUM   float64
 20  NAME_CONTRACT_STATUS        object
 21  SK_DPD                      int64
 22  SK_DPD_DEF                  int64
dtypes: float64(15), int64(7), object(1)
memory usage: 673.9+ MB
None

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,...,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,2562384,378907,-6,56.970,135000,0.0,877.5,0.0,877.5,1700.325,...,0.000,0.000,0.0,1,0.0,1.0,35.0,Active,0,0
1,2582071,363914,-1,63975.555,45000,2250.0,2250.0,0.0,0.0,2250.000,...,64875.555,64875.555,1.0,1,0.0,0.0,69.0,Active,0,0
2,1740877,371185,-7,31815.225,450000,0.0,0.0,0.0,0.0,2250.000,...,31460.085,31460.085,0.0,0,0.0,0.0,30.0,Active,0,0
3,1389973,337855,-4,236572.110,225000,2250.0,2250.0,0.0,0.0,11795.760,...,233048.970,233048.970,1.0,1,0.0,0.0,10.0,Active,0,0
4,1891521,126868,-1,453919.455,450000,0.0,11547.0,0.0,11547.0,22924.890,...,453919.455,453919.455,0.0,1,0.0,1.0,101.0,Active,0,0

installments_payments: shape is (13605401, 8)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13605401 entries, 0 to 13605400
Data columns (total 8 columns):
 #   Column                  Dtype
---  ------                  -----
 0   SK_ID_PREV              int64
 1   SK_ID_CURR              int64
 2   NUM_INSTALMENT_VERSION  float64
 3   NUM_INSTALMENT_NUMBER   int64
 4   DAYS_INSTALMENT         float64
 5   DAYS_ENTRY_PAYMENT      float64
 6   AMT_INSTALMENT          float64
 7   AMT_PAYMENT             float64
dtypes: float64(5), int64(3)
memory usage: 830.4 MB
None

,SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT
0,1054186,161674,1.0,6,-1180.0,-1187.0,6948.360,6948.360
1,1330831,151639,0.0,34,-2156.0,-2156.0,1716.525,1716.525
2,2085231,193053,2.0,1,-63.0,-63.0,25425.000,25425.000
3,2452527,199697,1.0,3,-2418.0,-2426.0,24350.130,24350.130
4,2714724,167756,1.0,2,-1383.0,-1366.0,2165.040,2160.585

previous_application: shape is (1670214, 37)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1670214 entries, 0 to 1670213
Data columns (total 37 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   SK_ID_PREV                   1670214 non-null  int64
 1   SK_ID_CURR                   1670214 non-null  int64
 2   NAME_CONTRACT_TYPE           1670214 non-null  object
 3   AMT_ANNUITY                  1297979 non-null  float64
 4   AMT_APPLICATION              1670214 non-null  float64
 5   AMT_CREDIT                   1670213 non-null  float64
 6   AMT_DOWN_PAYMENT             774370 non-null   float64
 7   AMT_GOODS_PRICE              1284699 non-null  float64
 8   WEEKDAY_APPR_PROCESS_START   1670214 non-null  object
 9   HOUR_APPR_PROCESS_START      1670214 non-null  int64
 10  FLAG_LAST_APPL_PER_CONTRACT  1670214 non-null  object
 11  NFLAG_LAST_APPL_IN_DAY       1670214 non-null  int64
 12  RATE_DOWN_PAYMENT            774370 non-null   float64
 13  RATE_INTEREST_PRIMARY        5951 non-null     float64
 14  RATE_INTEREST_PRIVILEGED     5951 non-null     float64
 15  NAME_CASH_LOAN_PURPOSE       1670214 non-null  object
 16  NAME_CONTRACT_STATUS         1670214 non-null  object
 17  DAYS_DECISION                1670214 non-null  int64
 18  NAME_PAYMENT_TYPE            1670214 non-null  object
 19  CODE_REJECT_REASON           1670214 non-null  object
 20  NAME_TYPE_SUITE              849809 non-null   object
 21  NAME_CLIENT_TYPE             1670214 non-null  object
 22  NAME_GOODS_CATEGORY          1670214 non-null  object
 23  NAME_PORTFOLIO               1670214 non-null  object
 24  NAME_PRODUCT_TYPE            1670214 non-null  object
 25  CHANNEL_TYPE                 1670214 non-null  object
 26  SELLERPLACE_AREA             1670214 non-null  int64
 27  NAME_SELLER_INDUSTRY         1670214 non-null  object
 28  CNT_PAYMENT                  1297984 non-null  float64
 29  NAME_YIELD_GROUP             1670214 non-null  object
 30  PRODUCT_COMBINATION          1669868 non-null  object
 31  DAYS_FIRST_DRAWING           997149 non-null   float64
 32  DAYS_FIRST_DUE               997149 non-null   float64
 33  DAYS_LAST_DUE_1ST_VERSION    997149 non-null   float64
 34  DAYS_LAST_DUE                997149 non-null   float64
 35  DAYS_TERMINATION             997149 non-null   float64
 36  NFLAG_INSURED_ON_APPROVAL    997149 non-null   float64
dtypes: float64(15), int64(6), object(16)
memory usage: 471.5+ MB
None

,SK_ID_PREV,SK_ID_CURR,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,...,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL
0,2030495,271877,Consumer loans,1730.430,17145.0,17145.0,0.0,17145.0,SATURDAY,15,...,Connectivity,12.0,middle,POS mobile with interest,365243.0,-42.0,300.0,-42.0,-37.0,0.0
1,2802425,108129,Cash loans,25188.615,607500.0,679671.0,NaN,607500.0,THURSDAY,11,...,XNA,36.0,low_action,Cash X-Sell: low,365243.0,-134.0,916.0,365243.0,365243.0,1.0
2,2523466,122040,Cash loans,15060.735,112500.0,136444.5,NaN,112500.0,TUESDAY,11,...,XNA,12.0,high,Cash X-Sell: high,365243.0,-271.0,59.0,365243.0,365243.0,1.0
3,2819243,176158,Cash loans,47041.335,450000.0,470790.0,NaN,450000.0,MONDAY,7,...,XNA,12.0,middle,Cash X-Sell: middle,365243.0,-482.0,-152.0,-182.0,-177.0,1.0
4,1784265,202054,Cash loans,31924.395,337500.0,404055.0,NaN,337500.0,THURSDAY,9,...,XNA,24.0,high,Cash Street: high,NaN,NaN,NaN,NaN,NaN,NaN

POS_CASH_balance: shape is (10001358, 8)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10001358 entries, 0 to 10001357
Data columns (total 8 columns):
 #   Column                 Dtype
---  ------                 -----
 0   SK_ID_PREV             int64
 1   SK_ID_CURR             int64
 2   MONTHS_BALANCE         int64
 3   CNT_INSTALMENT         float64
 4   CNT_INSTALMENT_FUTURE  float64
 5   NAME_CONTRACT_STATUS   object
 6   SK_DPD                 int64
 7   SK_DPD_DEF             int64
dtypes: float64(2), int64(5), object(1)
memory usage: 610.4+ MB
None

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,1803195,182943,-31,48.0,45.0,Active,0,0
1,1715348,367990,-33,36.0,35.0,Active,0,0
2,1784872,397406,-32,12.0,9.0,Active,0,0
3,1903291,269225,-35,48.0,42.0,Active,0,0
4,2341044,334279,-35,36.0,35.0,Active,0,0

CPU times: user 1.05 s, sys: 235 ms, total: 1.29 s
Wall time: 1.46 s

In [8]:
for ds_name in datasets.keys():
    print(f'dataset {ds_name:24}: [ {datasets[ds_name].shape[0]:10,}, {datasets[ds_name].shape[1]}]')

dataset application_train       : [    307,511, 122]
dataset application_test        : [     48,744, 121]
dataset bureau                  : [  1,716,428, 17]
dataset bureau_balance          : [ 27,299,925, 3]
dataset credit_card_balance     : [  3,840,312, 23]
dataset installments_payments   : [ 13,605,401, 8]
dataset previous_application    : [  1,670,214, 37]
dataset POS_CASH_balance        : [ 10,001,358, 8]

# Exploratory Data Analysis <a name='EDA'></a>

Exploratory Data Analysis (*EDA*) on the input tables is necessary to understand the data and to make decisions on transforming the data into a format that is ready for the machine learning pipeline. Custom functions are designed and used for each normalized table to explore the data distribution and transform the table. The tables are transformed by aggregating the data into summary statistics for the table so the child tables can be joined to their parent tables, and ultimately rolled into the application_test_train data based on their ID keys (`SK_ID_CURR`, `SK_ID_PREV`, `SK_ID_BUREAU`). The subsections below outline the main functions designed to accomplish the EDA and data transformation, and also the individual steps applied to each table to accomplish this process.  

## EDA Functions

A number of custom functions were developed to explore and transform the data. Names of the functions and brief descriptions of their usefulness are summarized here:

1. Summary Statistics
   + This provides an overview of summary statistics on each variable of each table
2. Feature Type Extraction
   + This function describes numerical and categorical feature types and provides reference lists for other functions in the EDA process
3. Missing Data Analysis
   + Looks at the missing data rate for a table's columns
4. Feature Aggregating
   + A function to group the tables by their ID key and aggregate them into their summary statistics
5. One-Hot-Encoding Extract-Transform-Load
   + An ETL function that one-hot encodes categorical variables so they can be aggregated, and applies the transformation to the table

### Summary Statistics for All tables

__Function Feature Summary:__

A summary of each table is provided using the described function below. This function will take a dataframe as input and provide summary statistics for the table. This generic function will help us evaluate each table with just one line of code, improving the reusablity of the code. Summary statistics will show statistics on each dataframe and through that meaningful interpretations were made about the data to further plan EDA on each dataset.

Function name: feature_summary 

Input: Dataframe

Output: Dataframe Summary

Function output:
1. Provide table name for which analysis in progress.
2. Shape - provides rows and columns in the data set.
3. NULLS - Number of nulls in the column.
4. %_NULL - NULL percentage. (nulls/attributes count).
5. Unique values - No of unique values for the feature.
6. Data Type - Id column numerical or categorical.
7. Max/Min - Max and min for the column. This provides idea about scale. helps if need log transformation.
8. Mean - Mean of the attribute.
9. Std - Standard Deviation of the atttibute.
10. Skewness - Skewness, data distribution of transformations.
11. Sample values - Sample values for the attribute.

In [9]:
def feature_summary(df_fa):
    print('DataFrame shape')
    print('Rows:',df_fa.shape[0])
    print('Cols:',df_fa.shape[1])
    print("------------------------------------------------------------------------")
    
    col_list=['Null','%_Null','Unique_Count','Data_type','Max/Min','Mean','Std','Skewness','Sample_values']
    df=pd.DataFrame(index=df_fa.columns,columns=col_list)
    df['Null']=list([len(df_fa[col][df_fa[col].isnull()]) for i,col in enumerate(df_fa.columns)])
    df['%_Null']=round((df_fa.isnull().sum()/df_fa.isnull().count()*100),3).sort_values(ascending = False)
    df['Unique_Count']=list([len(df_fa[col].unique()) for i,col in enumerate(df_fa.columns)])
    df['Data_type']=list([df_fa[col].dtype for i,col in enumerate(df_fa.columns)])
    for i,col in enumerate(df_fa.columns):
        if 'float' in str(df_fa[col].dtype) or 'int' in str(df_fa[col].dtype):
            df.at[col,'Max/Min']=str(round(df_fa[col].max(),2))+'/'+str(round(df_fa[col].min(),2))
            df.at[col,'Mean']=df_fa[col].mean()
            df.at[col,'Std']=df_fa[col].std()
            df.at[col,'Skewness']=df_fa[col].skew()
        df.at[col,'Sample_values']=list(df_fa[col].unique())
    print("Table Statistics")
    print("------------------------------------------------------------------------")
    display(df.fillna('-'))

In [10]:
for i,ds_name in enumerate(datasets.keys()):
    print("Table under consideration:",ds_name.upper())
    print("------------------------------------------------------------------------")
    ds = feature_summary(datasets[ds_name])
    print("------------------------------------------------------------------------")

Table under consideration: APPLICATION_TRAIN
------------------------------------------------------------------------
DataFrame shape
Rows: 307511
Cols: 122
------------------------------------------------------------------------
Table Statistics
------------------------------------------------------------------------

,Null,%_Null,Unique_Count,Data_type,Max/Min,Mean,Std,Skewness,Sample_values
SK_ID_CURR,0,0.000,307511,int64,456255/100002,278180.518577,102790.175348,-0.0012,"[100002, 100003, 100004, 100006, 100007, 10000..."
TARGET,0,0.000,2,int64,1/0,0.080729,0.272419,3.078159,"[1, 0]"
NAME_CONTRACT_TYPE,0,0.000,2,object,-,-,-,-,"[Cash loans, Revolving loans]"
CODE_GENDER,0,0.000,3,object,-,-,-,-,"[M, F, XNA]"
FLAG_OWN_CAR,0,0.000,2,object,-,-,-,-,"[N, Y]"
...,...,...,...,...,...,...,...,...,...
AMT_REQ_CREDIT_BUREAU_DAY,41519,13.502,10,float64,9.0/0.0,0.007,0.110757,27.043505,"[0.0, nan, 1.0, 3.0, 2.0, 4.0, 5.0, 6.0, 9.0, ..."
AMT_REQ_CREDIT_BUREAU_WEEK,41519,13.502,10,float64,8.0/0.0,0.034362,0.204685,9.293573,"[0.0, nan, 1.0, 3.0, 2.0, 4.0, 5.0, 6.0, 8.0, ..."
AMT_REQ_CREDIT_BUREAU_MON,41519,13.502,25,float64,27.0/0.0,0.267395,0.916002,7.804848,"[0.0, nan, 1.0, 2.0, 6.0, 5.0, 3.0, 7.0, 9.0, ..."
AMT_REQ_CREDIT_BUREAU_QRT,41519,13.502,12,float64,261.0/0.0,0.265474,0.794056,134.365776,"[0.0, nan, 1.0, 2.0, 4.0, 3.0, 8.0, 5.0, 6.0, ..."
AMT_REQ_CREDIT_BUREAU_YEAR,41519,13.502,26,float64,25.0/0.0,1.899974,1.869295,1.24359,"[1.0, 0.0, nan, 2.0, 4.0, 5.0, 3.0, 8.0, 6.0, ..."

------------------------------------------------------------------------
Table under consideration: APPLICATION_TEST
------------------------------------------------------------------------
DataFrame shape
Rows: 48744
Cols: 121
------------------------------------------------------------------------
Table Statistics
------------------------------------------------------------------------

,Null,%_Null,Unique_Count,Data_type,Max/Min,Mean,Std,Skewness,Sample_values
SK_ID_CURR,0,0.00,48744,int64,456250/100001,277796.67635,103169.547296,0.00756,"[100001, 100005, 100013, 100028, 100038, 10004..."
NAME_CONTRACT_TYPE,0,0.00,2,object,-,-,-,-,"[Cash loans, Revolving loans]"
CODE_GENDER,0,0.00,2,object,-,-,-,-,"[F, M]"
FLAG_OWN_CAR,0,0.00,2,object,-,-,-,-,"[N, Y]"
FLAG_OWN_REALTY,0,0.00,2,object,-,-,-,-,"[Y, N]"
...,...,...,...,...,...,...,...,...,...
AMT_REQ_CREDIT_BUREAU_DAY,6049,12.41,4,float64,2.0/0.0,0.001803,0.046132,28.273838,"[0.0, nan, 1.0, 2.0]"
AMT_REQ_CREDIT_BUREAU_WEEK,6049,12.41,4,float64,2.0/0.0,0.002787,0.054037,20.182271,"[0.0, nan, 1.0, 2.0]"
AMT_REQ_CREDIT_BUREAU_MON,6049,12.41,8,float64,6.0/0.0,0.009299,0.110924,17.270891,"[0.0, nan, 1.0, 3.0, 2.0, 6.0, 4.0, 5.0]"
AMT_REQ_CREDIT_BUREAU_QRT,6049,12.41,9,float64,7.0/0.0,0.546902,0.693305,1.254612,"[0.0, 1.0, nan, 3.0, 2.0, 4.0, 5.0, 7.0, 6.0]"
AMT_REQ_CREDIT_BUREAU_YEAR,6049,12.41,17,float64,17.0/0.0,1.983769,1.838873,1.065424,"[0.0, 3.0, 4.0, nan, 2.0, 1.0, 5.0, 6.0, 7.0, ..."

------------------------------------------------------------------------
Table under consideration: BUREAU
------------------------------------------------------------------------
DataFrame shape
Rows: 1716428
Cols: 17
------------------------------------------------------------------------
Table Statistics
------------------------------------------------------------------------

,Null,%_Null,Unique_Count,Data_type,Max/Min,Mean,Std,Skewness,Sample_values
SK_ID_CURR,0,0.000,305811,int64,456255/100001,278214.933645,102938.558112,0.001063,"[215354, 162297, 402440, 238881, 222183, 42615..."
SK_ID_BUREAU,0,0.000,1716428,int64,6843457/5000000,5924434.489032,532265.728552,-0.007498,"[5714462, 5714463, 5714464, 5714465, 5714466, ..."
CREDIT_ACTIVE,0,0.000,4,object,-,-,-,-,"[Closed, Active, Sold, Bad debt]"
CREDIT_CURRENCY,0,0.000,4,object,-,-,-,-,"[currency 1, currency 2, currency 4, currency 3]"
DAYS_CREDIT,0,0.000,2923,int64,0/-2922,-1142.107685,795.164928,-0.582349,"[-497, -208, -203, -629, -273, -43, -1896, -11..."
CREDIT_DAY_OVERDUE,0,0.000,942,int64,2792/0,0.818167,36.544428,55.931005,"[0, 2603, 6, 30, 2156, 496, 186, 2264, 41, 8, ..."
DAYS_CREDIT_ENDDATE,105553,6.150,14097,float64,31199.0/-42060.0,510.517362,4994.219837,5.127134,"[-153.0, 1075.0, 528.0, nan, 1197.0, 27460.0, ..."
DAYS_ENDDATE_FACT,633653,36.917,2918,float64,0.0/-42023.0,-1017.437148,714.010626,-0.774754,"[-153.0, nan, -1710.0, -840.0, -825.0, -187.0,..."
AMT_CREDIT_MAX_OVERDUE,1124488,65.513,68252,float64,115987185.0/0.0,3825.417661,206031.606207,470.913819,"[nan, 77674.5, 0.0, 14985.0, 310.5, 20493.27, ..."
CNT_CREDIT_PROLONG,0,0.000,10,int64,9/0,0.00641,0.096224,20.319277,"[0, 2, 1, 4, 3, 5, 9, 8, 6, 7]"
AMT_CREDIT_SUM,13,0.001,236709,float64,585000000.0/0.0,354994.591918,1149811.34398,124.586097,"[91323.0, 225000.0, 464323.5, 90000.0, 2700000..."
AMT_CREDIT_SUM_DEBT,257669,15.012,226538,float64,170100000.0/-4705600.32,137085.119952,677401.130952,36.414538,"[0.0, 171342.0, nan, 71017.38, 42103.8, 76905...."
AMT_CREDIT_SUM_LIMIT,591780,34.477,51727,float64,4705600.32/-586406.11,6229.51498,45032.031476,18.026914,"[nan, 108982.62, 0.0, 228320.1, 411.615, 12169..."
AMT_CREDIT_SUM_OVERDUE,0,0.000,1616,float64,3756681.0/0.0,37.912758,5937.650035,403.241858,"[0.0, 231.525, 288.0, 58.5, 504.0, 169582.5, 3..."
CREDIT_TYPE,0,0.000,15,object,-,-,-,-,"[Consumer credit, Credit card, Mortgage, Car l..."
DAYS_CREDIT_UPDATE,0,0.000,2982,int64,372/-41947,-593.74832,720.747312,-11.334995,"[-131, -20, -16, -21, -31, -22, -1710, -840, -..."
AMT_ANNUITY,1226791,71.473,40322,float64,118453423.5/0.0,15712.7577,325826.949053,212.543125,"[nan, 0.0, 2691.0, 24462.0, 8181.0, 8061.21, 1..."

------------------------------------------------------------------------
Table under consideration: BUREAU_BALANCE
------------------------------------------------------------------------
DataFrame shape
Rows: 27299925
Cols: 3
------------------------------------------------------------------------
Table Statistics
------------------------------------------------------------------------

,Null,%_Null,Unique_Count,Data_type,Max/Min,Mean,Std,Skewness,Sample_values
SK_ID_BUREAU,0,0.0,817395,int64,6842888/5001709,6036297.332974,492348.856904,-0.372188,"[5715448, 5715449, 5715451, 5715452, 5715453, ..."
MONTHS_BALANCE,0,0.0,97,int64,0/-96,-30.741687,23.864509,-0.76069,"[0, -1, -2, -3, -4, -5, -6, -7, -8, -9, -10, -..."
STATUS,0,0.0,8,object,-,-,-,-,"[C, 0, X, 1, 2, 3, 5, 4]"

------------------------------------------------------------------------
Table under consideration: CREDIT_CARD_BALANCE
------------------------------------------------------------------------
DataFrame shape
Rows: 3840312
Cols: 23
------------------------------------------------------------------------
Table Statistics
------------------------------------------------------------------------

,Null,%_Null,Unique_Count,Data_type,Max/Min,Mean,Std,Skewness,Sample_values
SK_ID_PREV,0,0.000,104307,int64,2843496/1000018,1904503.5899,536469.470563,0.038385,"[2562384, 2582071, 1740877, 1389973, 1891521, ..."
SK_ID_CURR,0,0.000,103558,int64,456250/100006,278324.207289,102704.475133,-0.001834,"[378907, 363914, 371185, 337855, 126868, 38001..."
MONTHS_BALANCE,0,0.000,96,int64,-1/-96,-34.521921,26.667751,-0.59804,"[-6, -1, -7, -4, -5, -3, -2, -19, -13, -18, -1..."
AMT_BALANCE,0,0.000,1347904,float64,1505902.19/-420250.18,58300.155262,106307.031025,2.920173,"[56.97, 63975.555, 31815.225, 236572.11, 45391..."
AMT_CREDIT_LIMIT_ACTUAL,0,0.000,181,int64,1350000/0,153807.9574,165145.699523,2.059732,"[135000, 45000, 450000, 225000, 270000, 585000..."
AMT_DRAWINGS_ATM_CURRENT,749816,19.525,2268,float64,2115000.0/-6827.31,5961.324822,28225.688579,9.664842,"[0.0, 2250.0, 67500.0, 45000.0, 90000.0, 76500..."
AMT_DRAWINGS_CURRENT,0,0.000,187005,float64,2287098.31/-6211.62,7433.388179,33846.077334,10.065626,"[877.5, 2250.0, 0.0, 11547.0, 67500.0, 45000.0..."
AMT_DRAWINGS_OTHER_CURRENT,749816,19.525,1833,float64,1529847.0/0.0,288.169582,8201.989345,50.57035,"[0.0, 137700.0, nan, 177840.0, 46800.0, 187200..."
AMT_DRAWINGS_POS_CURRENT,749816,19.525,168749,float64,2239274.16/0.0,2968.804848,20796.887047,19.421081,"[877.5, 0.0, 11547.0, 199339.425, 34526.7, 968..."
AMT_INST_MIN_REGULARITY,305236,7.948,312267,float64,202882.01/0.0,3540.204129,5600.154122,2.494431,"[1700.325, 2250.0, 11795.76, 22924.89, 4449.10..."
AMT_PAYMENT_CURRENT,767988,19.998,163210,float64,4289207.45/0.0,10280.537702,36078.084953,12.990581,"[1800.0, 2250.0, 11925.0, 27000.0, 3825.0, 157..."
AMT_PAYMENT_TOTAL_CURRENT,0,0.000,182957,float64,4278315.69/0.0,7588.856739,32005.987768,14.479719,"[1800.0, 2250.0, 11925.0, 27000.0, 3825.0, 157..."
AMT_RECEIVABLE_PRINCIPAL,0,0.000,1195839,float64,1472316.79/-423305.82,55965.876905,102533.616843,2.942316,"[0.0, 60175.08, 26926.425, 224949.285, 443044...."
AMT_RECIVABLE,0,0.000,1338878,float64,1493338.19/-420250.18,58088.811177,105965.369908,2.913172,"[0.0, 64875.555, 31460.085, 233048.97, 453919...."
AMT_TOTAL_RECEIVABLE,0,0.000,1339008,float64,1493338.19/-420250.18,58098.285489,105971.801103,2.912684,"[0.0, 64875.555, 31460.085, 233048.97, 453919...."
CNT_DRAWINGS_ATM_CURRENT,749816,19.525,45,float64,51.0/0.0,0.309449,1.100401,6.906655,"[0.0, 1.0, 3.0, 5.0, 2.0, nan, 6.0, 13.0, 4.0,..."
CNT_DRAWINGS_CURRENT,0,0.000,129,int64,165/0,0.703144,3.190347,10.635288,"[1, 0, 8, 9, 5, 2, 30, 3, 4, 7, 14, 38, 12, 19..."
CNT_DRAWINGS_OTHER_CURRENT,749816,19.525,12,float64,12.0/0.0,0.004812,0.082639,26.323819,"[0.0, 1.0, nan, 3.0, 2.0, 4.0, 6.0, 5.0, 7.0, ..."
CNT_DRAWINGS_POS_CURRENT,749816,19.525,134,float64,165.0/0.0,0.559479,3.240649,11.352616,"[1.0, 0.0, 5.0, 6.0, 29.0, 4.0, 8.0, 2.0, nan,..."
CNT_INSTALMENT_MATURE_CUM,305236,7.948,122,float64,120.0/0.0,20.825084,20.051494,1.075588,"[35.0, 69.0, 30.0, 10.0, 101.0, 2.0, 6.0, 51.0..."
NAME_CONTRACT_STATUS,0,0.000,7,object,-,-,-,-,"[Active, Completed, Demand, Signed, Sent propo..."
SK_DPD,0,0.000,917,int64,3260/0,9.283667,97.5157,12.94699,"[0, 7, 2192, 717, 28, 18, 1676, 1706, 1311, 11..."
SK_DPD_DEF,0,0.000,378,int64,3260/0,0.331622,21.479231,89.830434,"[0, 7, 99, 1, 701, 8, 5, 63, 31, 1158, 1007, 6..."

------------------------------------------------------------------------
Table under consideration: INSTALLMENTS_PAYMENTS
------------------------------------------------------------------------
DataFrame shape
Rows: 13605401
Cols: 8
------------------------------------------------------------------------
Table Statistics
------------------------------------------------------------------------

,Null,%_Null,Unique_Count,Data_type,Max/Min,Mean,Std,Skewness,Sample_values
SK_ID_PREV,0,0.000,997752,int64,2843499/1000001,1.903365e+06,536202.905546,0.042510,"[1054186, 1330831, 2085231, 2452527, 2714724, ..."
SK_ID_CURR,0,0.000,339587,int64,456255/100001,2.784449e+05,102718.310411,-0.003354,"[161674, 151639, 193053, 199697, 167756, 16448..."
NUM_INSTALMENT_VERSION,0,0.000,65,float64,178.0/0.0,8.566373e-01,1.035216,9.593395,"[1.0, 0.0, 2.0, 4.0, 3.0, 5.0, 7.0, 8.0, 6.0, ..."
NUM_INSTALMENT_NUMBER,0,0.000,277,int64,277/1,1.887090e+01,26.664067,2.497597,"[6, 34, 1, 3, 2, 12, 11, 4, 14, 8, 20, 56, 7, ..."
DAYS_INSTALMENT,0,0.000,2922,float64,-1.0/-2922.0,-1.042270e+03,800.946284,-0.628704,"[-1180.0, -2156.0, -63.0, -2418.0, -1383.0, -1..."
DAYS_ENTRY_PAYMENT,2905,0.021,3040,float64,-1.0/-4921.0,-1.051114e+03,800.585883,-0.626889,"[-1187.0, -2156.0, -63.0, -2426.0, -1366.0, -1..."
AMT_INSTALMENT,0,0.000,902539,float64,3771487.85/0.0,1.705091e+04,50570.254429,16.235905,"[6948.36, 1716.525, 25425.0, 24350.13, 2165.04..."
AMT_PAYMENT,2905,0.021,944236,float64,3771487.85/0.0,1.723822e+04,54735.783981,14.951925,"[6948.36, 1716.525, 25425.0, 24350.13, 2160.58..."

------------------------------------------------------------------------
Table under consideration: PREVIOUS_APPLICATION
------------------------------------------------------------------------
DataFrame shape
Rows: 1670214
Cols: 37
------------------------------------------------------------------------
Table Statistics
------------------------------------------------------------------------

,Null,%_Null,Unique_Count,Data_type,Max/Min,Mean,Std,Skewness,Sample_values
SK_ID_PREV,0,0.000,1670214,int64,2845382/1000001,1923089.135331,532597.958696,-0.000573,"[2030495, 2802425, 2523466, 2819243, 1784265, ..."
SK_ID_CURR,0,0.000,338857,int64,456255/100001,278357.174099,102814.823849,-0.003303,"[271877, 108129, 122040, 176158, 202054, 19938..."
NAME_CONTRACT_TYPE,0,0.000,4,object,-,-,-,-,"[Consumer loans, Cash loans, Revolving loans, ..."
AMT_ANNUITY,372235,22.287,357960,float64,418058.15/0.0,15955.120659,14782.137335,2.692572,"[1730.43, 25188.615, 15060.735, 47041.335, 319..."
AMT_APPLICATION,0,0.000,93885,float64,6905160.0/0.0,175233.86036,292779.762387,3.391442,"[17145.0, 607500.0, 112500.0, 450000.0, 337500..."
AMT_CREDIT,1,0.000,86804,float64,6905160.0/0.0,196114.021218,318574.616546,3.245815,"[17145.0, 679671.0, 136444.5, 470790.0, 404055..."
AMT_DOWN_PAYMENT,895844,53.636,29279,float64,3060045.0/-0.9,6697.402139,20921.49541,36.476576,"[0.0, nan, 12649.5, 1350.0, 9000.0, 13500.0, 4..."
AMT_GOODS_PRICE,385515,23.082,93886,float64,6905160.0/0.0,227847.279283,315396.557937,3.07369,"[17145.0, 607500.0, 112500.0, 450000.0, 337500..."
WEEKDAY_APPR_PROCESS_START,0,0.000,7,object,-,-,-,-,"[SATURDAY, THURSDAY, TUESDAY, MONDAY, FRIDAY, ..."
HOUR_APPR_PROCESS_START,0,0.000,24,int64,23/0,12.484182,3.334028,-0.025629,"[15, 11, 7, 9, 8, 10, 12, 13, 14, 16, 6, 4, 5,..."
FLAG_LAST_APPL_PER_CONTRACT,0,0.000,2,object,-,-,-,-,"[Y, N]"
NFLAG_LAST_APPL_IN_DAY,0,0.000,2,int64,1/0,0.996468,0.05933,-16.735924,"[1, 0]"
RATE_DOWN_PAYMENT,895844,53.636,207034,float64,1.0/-0.0,0.079637,0.107823,2.107713,"[0.0, nan, 0.1039712869911545, 0.0513237940193..."
RATE_INTEREST_PRIMARY,1664263,99.644,149,float64,1.0/0.03,0.188357,0.087671,5.198204,"[0.1828318032415278, nan, 0.1969143148588915, ..."
RATE_INTEREST_PRIVILEGED,1664263,99.644,26,float64,1.0/0.37,0.773503,0.100879,-1.00768,"[0.8673361522198731, nan, 0.8350951374207188, ..."
NAME_CASH_LOAN_PURPOSE,0,0.000,25,object,-,-,-,-,"[XAP, XNA, Repairs, Everyday expenses, Car rep..."
NAME_CONTRACT_STATUS,0,0.000,4,object,-,-,-,-,"[Approved, Refused, Canceled, Unused offer]"
DAYS_DECISION,0,0.000,2922,int64,-1/-2922,-880.679668,779.099667,-1.05308,"[-73, -164, -301, -512, -781, -684, -14, -21, ..."
NAME_PAYMENT_TYPE,0,0.000,4,object,-,-,-,-,"[Cash through the bank, XNA, Non-cash from you..."
CODE_REJECT_REASON,0,0.000,9,object,-,-,-,-,"[XAP, HC, LIMIT, CLIENT, SCOFR, SCO, XNA, VERI..."
NAME_TYPE_SUITE,820405,49.120,8,object,-,-,-,-,"[nan, Unaccompanied, Spouse, partner, Family, ..."
NAME_CLIENT_TYPE,0,0.000,4,object,-,-,-,-,"[Repeater, New, Refreshed, XNA]"
NAME_GOODS_CATEGORY,0,0.000,28,object,-,-,-,-,"[Mobile, XNA, Consumer Electronics, Constructi..."
NAME_PORTFOLIO,0,0.000,5,object,-,-,-,-,"[POS, Cash, XNA, Cards, Cars]"
NAME_PRODUCT_TYPE,0,0.000,3,object,-,-,-,-,"[XNA, x-sell, walk-in]"
CHANNEL_TYPE,0,0.000,8,object,-,-,-,-,"[Country-wide, Contact center, Credit and cash..."
SELLERPLACE_AREA,0,0.000,2097,int64,4000000/-1,313.951115,7127.443459,529.620279,"[35, -1, 200, 83, 130, 6, 61, 20, 50, 136, 40,..."
NAME_SELLER_INDUSTRY,0,0.000,11,object,-,-,-,-,"[Connectivity, XNA, Consumer electronics, Indu..."
CNT_PAYMENT,372230,22.286,50,float64,84.0/0.0,16.054082,14.567288,1.531403,"[12.0, 36.0, 24.0, 18.0, nan, 54.0, 30.0, 8.0,..."
NAME_YIELD_GROUP,0,0.000,5,object,-,-,-,-,"[middle, low_action, high, low_normal, XNA]"
PRODUCT_COMBINATION,346,0.021,18,object,-,-,-,-,"[POS mobile with interest, Cash X-Sell: low, C..."
DAYS_FIRST_DRAWING,673065,40.298,2839,float64,365243.0/-2922.0,342209.855039,88916.115834,-3.601343,"[365243.0, nan, -277.0, -265.0, -479.0, -332.0..."
DAYS_FIRST_DUE,673065,40.298,2893,float64,365243.0/-2892.0,13826.269337,72444.869708,4.644096,"[-42.0, -134.0, -271.0, -482.0, nan, -654.0, -..."
DAYS_LAST_DUE_1ST_VERSION,673065,40.298,4606,float64,365243.0/-2801.0,33767.774054,106857.034789,2.77945,"[300.0, 916.0, 59.0, -152.0, nan, -144.0, 885...."
DAYS_LAST_DUE,673065,40.298,2874,float64,365243.0/-2889.0,76582.403064,149647.415123,1.410473,"[-42.0, 365243.0, -182.0, nan, -144.0, -345.0,..."
DAYS_TERMINATION,673065,40.298,2831,float64,365243.0/-2874.0,81992.343838,153303.516729,1.306376,"[-37.0, 365243.0, -177.0, nan, -137.0, -334.0,..."
NFLAG_INSURED_ON_APPROVAL,673065,40.298,3,float64,1.0/0.0,0.33257,0.471134,0.710754,"[0.0, 1.0, nan]"

------------------------------------------------------------------------
Table under consideration: POS_CASH_BALANCE
------------------------------------------------------------------------
DataFrame shape
Rows: 10001358
Cols: 8
------------------------------------------------------------------------
Table Statistics
------------------------------------------------------------------------

,Null,%_Null,Unique_Count,Data_type,Max/Min,Mean,Std,Skewness,Sample_values
SK_ID_PREV,0,0.000,936325,int64,2843499/1000001,1903216.598957,535846.530722,0.044229,"[1803195, 1715348, 1784872, 1903291, 2341044, ..."
SK_ID_CURR,0,0.000,337252,int64,456255/100001,278403.863306,102763.74509,-0.003128,"[182943, 367990, 397406, 269225, 334279, 34216..."
MONTHS_BALANCE,0,0.000,96,int64,-1/-96,-35.012588,26.06657,-0.672777,"[-31, -33, -32, -35, -38, -39, -34, -41, -37, ..."
CNT_INSTALMENT,26071,0.261,74,float64,92.0/1.0,17.08965,11.995056,1.601734,"[48.0, 36.0, 12.0, 24.0, 60.0, 18.0, 4.0, 42.0..."
CNT_INSTALMENT_FUTURE,26087,0.261,80,float64,85.0/0.0,10.48384,11.109058,1.846746,"[45.0, 35.0, 9.0, 42.0, 12.0, 43.0, 36.0, 16.0..."
NAME_CONTRACT_STATUS,0,0.000,9,object,-,-,-,-,"[Active, Completed, Signed, Approved, Returned..."
SK_DPD,0,0.000,3400,int64,4231/0,11.606928,132.714043,14.899126,"[0, 1, 2, 4, 3, 18, 7, 5, 12, 6, 8, 13, 16, 10..."
SK_DPD_DEF,0,0.000,2307,int64,3595/0,0.654468,32.762491,66.339906,"[0, 1, 2, 4, 3, 18, 7, 5, 12, 8, 13, 10, 15, 6..."

------------------------------------------------------------------------

### Feature extraction based on Type


__Function id_num_cat_feature:__

This function will take a dataframe as input and return 4 lists that contain ID columns, numerical features, categorical features, and numerical features without the ID cols. 

Function name: id_num_cat_feature
Input : Dataframe
Output : 4 Lists

Function output:
1. ID columns
2. Numerical features
3. Categorical features
4. Numerical features excluding the ID columns.

Using this function gives us mutiple lists of the column types which are then used in other functions. The function returns clear separations on what columns are categorical and numerical. By having the distinctive categorical columns and numerical columns lists, different transformations are performed on them based on if they are categorical or numerical.

In [11]:
def id_num_cat_feature(df,text = True):
    numerical = df.select_dtypes(include=['int64', 'float64']).columns
    categorical = df.select_dtypes(include=['object', 'bool']).columns
    feat_num = list(numerical)
    feat_cat = list(categorical)
    
    id_cols = ['SK_ID_CURR','SK_ID_BUREAU']
    
    id_cols = [cols for cols in  list(df.columns.intersection(id_cols))] 
    features = list(set(df.columns) - set(id_cols))

    if text == True:
          # print eda
        print('--------')
        print(f"# of ID's: {len(id_cols)}")
        print(f" ID's:")
        print(id_cols)
        print('')
        print('--------')
        print(f"# All features: {len(features)}")
        print(f"All features:")
        print(features)
        print('')
        print(f"Missing data:")
        print(missing_data(df[features]))
        print('')
        print('--------')
        print(f"# of Numerical features: {len(feat_num)}")
        print(f"Numerical features:")
        print(feat_num)
        print('')
        print(f"Numerical Statistical Summary:")
        print('')
        print(df[feat_num].describe())
        print('')
        print('--------')
        print(f"# of Categorical features: {len(feat_cat)}")
        print(f"Categorical features:")
        print(feat_cat)
        print('')
        print(f"Categorical Statistical Summary:")
        print('')
        #print(df[feat_cat].describe(include='all'))
        print('')
        print("Categories:")
        print('')
        print(df[feat_cat].apply(lambda col: col.unique()))
        print('')
        print('--------')
    return id_cols,feat_num,feat_cat,features

### Missing Count and percentage


__Function missing_data:__

This function will take a dataframe as input and provide null count and % of nulls for a dataframe.

Function name: missing_data

Input: Dataframe

Output: NULL count and NULL %

Function output:
1. NULL Count
2. NULL Percentage.

In [12]:
def missing_data(data):
    total = data.isnull().sum().sort_values(ascending = False)
    percent = (data.isnull().sum()/data.isnull().count()*100).sort_values(ascending = False)
    return pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])

### Feature Aggregating

__Class:__ FeatureSummarizer


Class FeatureSummarizer has following aggregation parameters:
1. "min"
2. "max"
3. "count"
4. "sum"
5. "median"
6. "mean"
7. "var"

Based on the keys of the dataframe, transformation function will enable grouping of feature variables on ID and then aggregate the feature variables into their predefined statistical summaries for each grouping.

__Function:__ runFeatureSummarizer

This function will take dataframe and features as input and using the class above, get aggregated features. The output of the above function will be the transformed aggregated features for the dataframe passed into the function argument.

In [13]:
class FeatureSummarizer(BaseEstimator, TransformerMixin):
    def __init__(self, features=None):
        self.features = features
        self.agg_ops = ["min", "max", "count", "sum", "median", "mean", "var"]

    def fit(self, X, y=None):
        return self
    
    def transform(self, X, y=None):
        keys = list(set(X.columns) - set(self.features))
        
        result = X.groupby(keys, as_index=False).agg({ft:self.agg_ops for ft in self.features}).reset_index()
        result.columns = result.columns.map(lambda ct: '_'.join([x for x in ct if x != '']))
        result.reset_index()
        return result

In [14]:
def runFeatureSummarizer(df, features):
    print(f"df.shape: {df.shape}\n")
    print(f"Aggregated Features:\ndf[{features}][0:5]: \n{df[features][0:5]}")
    pipeline = make_pipeline(FeatureSummarizer(features))
    return(pipeline.fit_transform(df))

### One-Hot-Encoded Extract-Transform-Load

Function eda_transformation:

Function input: Dataframe, n. Where n is a parameter for feature selection. 

- This function calls id_num_cat_feature to put all features types id columns, numerical features, categorical features, and numerical features excluding id columns into 4 respectively lists.
- Categorical variables are one hot encoded into some numerical value, to allow the pipeline to make interpretations from categorical varibles more easily.
- run FeatureSummarizer function is called to get all aggregated features. 
- Final features are selected through feature selection from the transformed tables. 
- Output of this function will be a dataframe with all aggregated features selected, which will eventually be used in feature selection.
- The function will also prints aggregated features and aggregated data. 


__Feature Selection:__

    - Once we have completed OHE, we can remove some attributes which are redundant, for example:
    - count of previous application is good to have, but mean,max is not required.
    - Features with DAYS, count suffice the aggregated feature, we can remove all other min, max, etc. feature forthat column.
    - Based on above logic, we removed certain columns from the supporting tables to remove the redundant attributes and save on execution time.

In [15]:
def eda_transformation(df,n):

    id_cols, feat_num, feat_cat, features =  id_num_cat_feature(df)
    
    df = pd.get_dummies(data=df, columns=feat_cat)

    features = list(set(df.columns) - set(id_cols))
    feat_ohe = list(set(features) - set(feat_num))

    print(f"# of OHE categorical features: {len(feat_ohe)}")
    print(f"OHE Categorical features: {feat_ohe}")
    print('--------')

    df = runFeatureSummarizer(df, features)
    
    if n == 0:
        # bureau_balance
        feature_selection = [
            df[id_cols],
            df[[column for column in df.columns if column.startswith('MONTHS') and column.endswith('count')]],
            df[[column for column in df.columns if column.startswith('STATUS') and column.endswith(('mean', 'median', 'var'))]]
        ]
    elif n == 1:
        # bureau
        feature_selection = [
            df[[column for column in df.columns if not column.startswith(tuple(feat_cat)) and not column.endswith('count')]],
            df[[column for column in df.columns if column.startswith('DAYS_CREDIT') and column.endswith('count')]],
            df[[column for column in df.columns if column.startswith(tuple(feat_cat)) and column.endswith(('mean', 'median', 'var'))]]
        ]
    elif n ==3:
        
        feature_selection = [
            df[[column for column in df.columns if not column.startswith('SK_ID_PREV') and column.startswith(tuple(feat_num))]],
            df[[column for column in df.columns if column.startswith('DAYS') and column.endswith('count')]],
            df[[column for column in df.columns if column.startswith('SK_ID_PREV') and column.endswith('count')]],
            df[[column for column in df.columns if column.startswith(tuple(feat_cat)) and column.endswith(('mean', 'median', 'var'))]]
        ]
     
    elif n ==4:
        
        feature_selection = [
            df[[column for column in df.columns if not column.startswith('SK_ID_PREV') and column.startswith(tuple(feat_num))]],
            df[[column for column in df.columns if column.startswith('SK_ID_PREV') and column.endswith('count')]],
            df[[column for column in df.columns if column.startswith(tuple(feat_cat)) and column.endswith(('mean', 'median', 'var'))]]
        ]
    else: 
        print('ERROR: Invalid feature method. ')

    df = pd.concat(feature_selection, axis=1)

    features = list(set(df.columns) - set(id_cols))

    print('--------')
    print('Aggregated Features:')
    print('\n'.join(map(str, sorted(features))))
    print('')
    print('Aggregated Data:')
    print('')
    print(df[features].describe().T)
    return df

## EDA on Tables

Since each table is structured slightly differently and they are all composed of separate variables, It is necessary to perform different steps on each of the tables as necessary. While all the tables can be explored and transformed by the `eda_transformation()` function,

### Bureau Balance

1. This function is specifically for Bureau Balance table. Below are the intial pre-processing steps done before passing this table into the pipeline.
    - Since this table has only 2 features, no features are dropped or created for this table. 
    - Take absolute of the months balance attribute. which was provided as negative values, as it is relative to application date.
    - Any column or row with more than 70% of its data as null will be deleted from the dataframe, as the threshold is set to .7.
    - Once processed, store the transformed data into a csv file. Benefit of this is that data can be passed ed csv file. directly to model for merging into application train/test table. We do not have to repeatedly perform expensive EDA/ETL/Transformation.
    
    - Note that this table does not contain SK_ID_CURR. It will be rolled up to Bureau table which contains the SK_ID_CURR.

In [ ]:
def bbal_eda(df):
    print("bureau_bal :: EDA and transformation")
    print('')
    bbal = df
    #bureau balance table contains all the data so no need to drop any column or row.
    #Adding new features, take the abs for the monthly balance attribute.
    bbal['MONTHS_BALANCE'] = bbal['MONTHS_BALANCE'].abs()
    return (eda_transformation(bbal,0))

In [ ]:
bbal = datasets['bureau_balance']
bbal = bbal_eda(bbal)
datasets_transformed['bureau_balance'] = bbal

### Bureau

1. This function is specifically for Bureau table. Below are the intial pre-processing steps done before passing this table into the pipeline.

    - For columns with DAYS in name, there are two with negative values, we will take the absolute for those. 
    
    - Data from Buereau balance table is rolled up in Bureau table befor any EDA. This will enable using all the featues from buereau balance table as well before rolling up all data to main table, i.e. application train. 
    
    - while doing left join, we updated OHE column names to more readale forms by removing any space or spcl charater to "\_" which is widely used in column names. 
    
    - Any column or row with more than 70% of its data as null will be deleted from the dataframe, as the threshold is set to .7.
    
    - Once processed, store the transformed data into a csv file. Benefit of this is that data can be passed ed csv file. directly to model for merging into application train/test table. We do not have to repeatedly perform expensive EDA/ETL/Transformation.

In [ ]:
def bureau_eda(df):
    bureau = df
    drop_list_bureau = []
    
    #Adding new features
    #bureau['MONTHS_BALANCE'] = bureau['MONTHS_BALANCE'].abs()
    for c in [co for co in bureau.columns if 'DAYS' in co]:
        bureau[c] = bureau[c].replace({365243.0: np.nan})
        bureau[c] = bureau[c].abs()
    # Drop elements in drop list
    threshold = 0.7

    #Dropping rows with missing value rate higher than threshold
    bureau = bureau.loc[bureau.isnull().mean(axis=1) < threshold]
    
    return (eda_transformation(bureau,1))

In [ ]:
bureau = datasets['bureau']

# rollup bureau_bal
# gets rid of the unwanted characters in categorical columns entries - makes for nicer OHE column names later...
bureau = bureau.merge(bbal, on='SK_ID_BUREAU', how='left') \
               .replace(to_replace='\s+', value='_', regex=True) \
               .replace(to_replace='\-', value='_', regex=True) \
               .replace(to_replace='\(', value='', regex=True) \
               .replace(to_replace='\)', value='', regex=True) \
               .drop('SK_ID_BUREAU', axis=1)
bureau = bureau_eda(bureau)
datasets_transformed['bureau'] = bureau
#bureau.to_csv(os.getcwd() + DATA_DIR + 'bureau_agg_data.csv')

#### Collinearity Analysis

The collinearity of variable pairs are compared via correlation and can be iteratively dropped from combined dataset based on which variables are least correlated to the target variable. Below is an example of the collinearity analysis. This step will be added to the pre-processing pipeline as a method of feature selection in future phases.

In [ ]:
def colinearityReducer(dataframe, threshold=0.5):

    '''
    This function explores the correlation between each variable pair and the Target.
    Of the var1iable pairs with absolute correlations above the threshold value...
    ...the variable with the lowest target variable correlation is dropped from the input dataframe.
    The process is repeated until there are no more colinear pairs with absolute correlations above the threshold.
    
    NOTE! The function receives a dataframe structured with the target variable in first column.
    '''
    
    print('------------------------------------')
    print('BEGIN COLINEAR FEATURE REDUCTION')
    print('------------------------------------')
    
    i = 1
    dropped_variables = list()
    while True:
    
        # read-in and assign columns
        # gets correlation matrix between variables and pivots to a longer df
        # identify target variable
        # drop same-name and target correlations 
        
        print('------------------------------------')
        print(f"Colinearity Reduction Iteration {i}\n")
        
        df = dataframe
        features = df.iloc[:,1:].columns
        target_name = df.iloc[:,0].name
        
        print('')
        print(f'Dataframe Features ({len(features)}):')
        print(features)
        
        df = pd.melt(abs(df.corr()).reset_index(), id_vars='index', value_vars=features)
        targets = df[df['index']==target_name]
        df = df[(df['index'] != df['variable']) & (df['index'] != target_name) & (df['variable'] != target_name)]

        # combine the correlated variables into ordered string
        # aggregate the max correlation and sort pairs
        # split out the variables from the original string
        # join the target variable correlations for each variable pair, rename columns

        df['joined'] = df[['index', 'variable']].apply(lambda row: '::'.join(np.sort(row.values.astype(str))), axis=1)

        df = df.groupby('joined', as_index=False) \
               .agg({'value':'max'}) \
               .sort_values(by='value', ascending=False)

        df[['var_1','var_2']] = df['joined'].str.split("::",expand=True)

        df = df.merge(targets, how='left', left_on='var_1', right_on='variable') \
               .merge(targets, how='left', left_on='var_2', right_on='variable')
        df.rename(columns = {'value_x':'var_pair_corr', 'value_y':'var_1_target_corr', 'value':'var_2_target_corr'}, inplace = True)

        # This section takes all variable pairs with a correlation greater than threshold
        # test to determine which has a higher correlation with the target.
        # The higher of the two gets marked as a win
        # While the other gets marked as a loss
        # the wins and losses for each variable are then grouped and summed

        exceeds = df[df['var_pair_corr']>threshold]

        # break if none above threshold
        if len(exceeds['var_pair_corr'])==0:
            print('------------------------------------')
            print(f"NO VARIABLE PAIRS WITH CORRELATION > {threshold}")
            break

        exceeds['var_1_win'] = exceeds.apply(lambda row: 1 if row["var_1_target_corr"] >= row["var_2_target_corr"] else 0, axis=1)
        exceeds['var_1_loss'] = exceeds.apply(lambda row: 1 if row["var_2_target_corr"] >= row["var_1_target_corr"] else 0, axis=1)
        exceeds['var_2_win'] = exceeds.apply(lambda row: 1 if row["var_1_target_corr"] < row["var_2_target_corr"] else 0, axis=1)
        exceeds['var_2_loss'] = exceeds.apply(lambda row: 1 if row["var_2_target_corr"] < row["var_1_target_corr"] else 0, axis=1)

        var1 = exceeds[['var_1', 'var_1_win', 'var_1_loss']].groupby('var_1', as_index=False) \
                                                            .agg({'var_1_win':'sum', 'var_1_loss':'sum'})
        var1.rename(columns = {'var_1':'var', 'var_1_win':'win', 'var_1_loss':'loss'}, inplace=True)

        var2 = exceeds[['var_2', 'var_2_win', 'var_2_loss']].groupby('var_2', as_index=False) \
                                                            .agg({'var_2_win':'sum', 'var_2_loss':'sum'})
        var2.rename(columns = {'var_2':'var', 'var_2_win':'win', 'var_2_loss':'loss'}, inplace=True)

        corrcomps = pd.concat([var1,var2], axis=0).groupby('var', as_index=False) \
                                                  .agg({'win':'sum', 'loss':'sum'})

        # drop variables which had 0 wins - IE collinear variables which were always least related to the target
        dropvars = corrcomps[corrcomps['win']==0]['var']
        
        dropped_variables.extend(list(dropvars))
        
        dropvarsummary = targets[targets['variable'].isin(dropvars)].iloc[:,1:]
        dropvarsummary.rename(columns={'variable':'Dropped Variable', 'value':'Target Variable Correlation'}, inplace = True)
        
        print('')
        print('Dropped Variables:')
        print(dropvarsummary)
        # print('------------------------------------')
        # print('Exceedances:')
        # print(exceeds)
        
        dataframe = dataframe.drop(dropvars, axis=1)
        
        i += 1
    
    print('------------------------------------')
    print('Final Dropped Variable List:')
    print(dropped_variables)
    print('------------------------------------')
    print('END COLINEAR FEATURE REDUCTION')
    print('------------------------------------')
    
    return dataframe
    
    
# testing
df = pd.concat([y_train,X_train[X_feat_num]],axis=1)

colinearityReducer(df, 0.5)

### POS - POS_CASH_balance

1. This function is specifically for POS table. Below are the intial pre-processing steps done before passing this table into the pipeline.
    - Create a drop list. 
        - Attributes that will be dropped are added to this list and all columns will be deleted before passing the dataframe into the eda function.
    - Create new features based on analysis. 3 new features were created:
        - Percentage of installments pending.
        - Number of installments pending.
        - Days with Tolerance.
    - Take absolute of the months balance attribute. which was provided as negative values, as it is relative to application date.
    - Replace " " with "_" for OHE columns.
    - Any column or row with more than 70% of its data as null will be deleted from the dataframe, as the threshold is set to .7.
    - Once processed, store the transformBenefit of this is that the data can be passed ed csv file. directly to model for merging into application train/test table. We do not have to repeatedly perform expensive EDA/ETL/Transformation.

In [ ]:
def pos_eda(df):
    pos = df
    drop_list_pos = []
    
    #Adding new features
    pos['POS_PERC_INSTL_PNDNG']=pos['CNT_INSTALMENT_FUTURE']/pos['CNT_INSTALMENT']
    pos['POS_CNT_INSTAL_PNDNG']=pos['CNT_INSTALMENT']-pos['CNT_INSTALMENT_FUTURE']
    pos['POS_DAYS_WTHT_TOLRNC']=pos['SK_DPD']-pos['SK_DPD_DEF']
    pos['MONTHS_BALANCE'] = pos['MONTHS_BALANCE'].abs()
    
    #replacing " " with _ for OHE cols.
    pos['NAME_CONTRACT_STATUS']=pos['NAME_CONTRACT_STATUS'].apply(lambda x: str(x).replace(" ","_")) 
    
    # Drop elements in drop list
    threshold = 0.7

    #Dropping rows with missing value rate higher than threshold
    pos = pos.loc[pos.isnull().mean(axis=1) < threshold]
    
    return (eda_transformation(pos,4))

In [ ]:
pos = datasets['POS_CASH_balance']
pos = pos_eda(pos)
datasets_transformed['POS_CASH_balance'] = pos
#pos.to_csv(os.getcwd() + DATA_DIR + 'pos_agg_data.csv')

### PREVAPP - Previous Application

1. This function is specifically for POS table. Below are the initial pre-processing steps done before passing this table into the pipeline.

    - Create a drop list. 
        - Attributes that will be dropped will be added to this list and all columns will be deleted before passing the dataframe into the eda function.
    - Create new features. based on analysis, 6 new features were created:
        - Count of approved previous application. 
        - Count of Rejected previous applications.  
        - Difference: Amount requested in application - Actual credit amount.
        - Ratio - Ratio of application amount to amount credited. 
        - Ratio - Ratio of amount credited to amount annuity
        - Ratio - Ratio of down payment to amount credited. 

    - There are number of attributes which are in days and amount. For that, we created list of columns which ends with 
    'DAYS' and 'AMT'

    - Analysis on attributes with date shows that many are capped to 365243, which is 100 years. This looks to be added by the system and not user data. This will be replaced by nan and later imputed.
    - Another observation was that days columns are marked as negative and so the absolute values were calcuated and used.

    - Added below attributes to droplist:
        - WEEKDAY_APPR_PROCESS_START
        - HOUR_APPR_PROCESS_START

    - Any column or row with more than 70% of its data as null will be deleted from the dataframe as the threshold is set to .7.

    - Once processed, store the transformed csv file. Benefit of this is that we can then pass it directly to model for merging into application train/test table. We do not have to perform expensive EDA/ETL/Transformation everytime we want to process the same data.

In [16]:
def prevapp_eda(df):
    prevapp = df
    drop_list_pa = []
    
    #Day and Amount columns
    day_cols = [col for col in prevapp.columns if 'DAY' in col]

    amt_cols = [col for col in prevapp.columns if 'AMT' in col]
    
    #Adding new features
    prevapp['PREV_APRV_CNT'] = prevapp['NAME_CONTRACT_STATUS'].map(lambda x: 1 if (x == 'Approved') else 0)
    prevapp['PREV_REJ_CNT'] = prevapp['NAME_CONTRACT_STATUS'].map(lambda x: 1 if (x == 'Rejected') else 0)
    prevapp['PREV_APCTN_CRDT_DIFF'] = prevapp['AMT_APPLICATION'] - prevapp['AMT_CREDIT']
    prevapp['PREV_APCTN_CRDT_RATIO'] = prevapp['AMT_APPLICATION'] / prevapp['AMT_CREDIT']
    prevapp['PREV_CRDT_ANNUTY_RATIO'] = prevapp['AMT_CREDIT']/prevapp['AMT_ANNUITY']
    prevapp['PREV_DWN_PYMNT_CRDT_RATIO'] = prevapp['AMT_DOWN_PAYMENT'] / prevapp['AMT_CREDIT']
    
    for c in [co for co in prevapp.columns if 'DAYS' in co]:
        prevapp[c] = prevapp[c].replace({365243.0: np.nan})
        prevapp[c] = prevapp[c].abs()
    
    drop_list_pa.append('WEEKDAY_APPR_PROCESS_START') ## weekday data is normally distributed, so wont make any sense to add that
    drop_list_pa.append('HOUR_APPR_PROCESS_START') ## Hour application started.
    
    # Drop elements in the drop list
    drop_list_pa.append('WEEKDAY_APPR_PROCESS_START') ## weekday data is normally distributed, so wont make any sense to add that
    drop_list_pa.append('HOUR_APPR_PROCESS_START') ## Hour application started.

    threshold = 0.7
    drop_list_pa = list(prevapp.columns[prevapp.isnull().mean() > threshold])

    prevapp = prevapp.drop(columns=drop_list_pa, axis=1)

    #Dropping columns with missing value rate higher than threshold
    prevapp = prevapp[prevapp.columns[prevapp.isnull().mean() < threshold]]

    #Dropping rows with missing value rate higher than threshold
    prevapp = prevapp.loc[prevapp.isnull().mean(axis=1) < threshold]
    
    prevapp= eda_transformation(prevapp,3)
    return prevapp

In [ ]:
prevapp = datasets['previous_application']
prevapp = prevapp_eda(prevapp)
datasets_transformed['previous_application'] = prevapp

#prevapp.to_csv(os.getcwd() + DATA_DIR + 'prevapp_agg_data.csv')

 ### CCB - Credit card Balance EDA

1. This function is specifically for Credit Card Balance table. Below are the pre-processing done before passing this table into the pipeline.

    - Absolute value of the Months Balance is used as that allows only use of postive values without effecting the correlation, as it is realtive to the application date.

    - Any column or row with more than 70% of its data as null will be deleted from the dataframe as the threshold is set to .7.

    - Similar to above, once processed, store the transformed csv file. Benefit of this is that we can then pass it directly to model for merging into application train/test table. We do not have to perform expensive EDA/ETL/Transformation everytime we want to process the same data.
    
2. Specific Feature Transformations
    - The NAME_CONTRACT_STATUS contained the below values with the count and ratio.
                         
                         COUNT  RATIO
                         
          Active         3698436   0.96
        
          Completed       128918   0.03
        
          Signed           11058   0.00
        
          Demand            1365   0.00
        
          Sent proposal      513   0.00
        
          Refused             17   0.00
         
          Approved             5   0.00
             
         - All values with Active and Complete were made into one category. If complete that is a positive finding or if acitve  that is also a postive finding as that means it payments are being made on it or the status is healthy enough to stay active for the credit.                 
         <br>     
         <br>     
     - The other created column is of a count of the number of credit lines the person has open. This was done by aggreated the SK_ID_CURR. This also can give us some glimpse into number of credit lines open vs the target. The higher the credit lines should demostrate a postive finding as the newer ones may have been denied as they would have a bad credit score and possibly not get approved for another line.

In [213]:
def ccb_eda(df, col_to_drop):
    #dropping a highly correlated columns (.95 or .99)
    ccb = df.drop(columns_to_drop, axis = 1)
    ccb["NAME_CONTRACT_STATUS"] = np.where((ccb["NAME_CONTRACT_STATUS"].isin([
       "Active", "Completed"
    ])), "GoodStatus", ccb["NAME_CONTRACT_STATUS"])
    
    #Adding new features
    ccb['MONTHS_BALANCE'] = ccb['MONTHS_BALANCE'].abs()
    
    #replacing " " with _ for OHE cols.
    ccb['NAME_CONTRACT_STATUS']=ccb['NAME_CONTRACT_STATUS'].apply(lambda x: str(x).replace(" ","_")) 
    
    threshold = 0.7

    #Dropping columns with missing value rate higher than threshold
    ccb = ccb[ccb.columns[ccb.isnull().mean() < threshold]]

    #Dropping rows with missing value rate higher than threshold
    ccb = ccb.loc[ccb.isnull().mean(axis=1) < threshold]
    agg = eda_transformation(ccb,4)
    agg['CC_COUNT'] = ccb.groupby('SK_ID_CURR').size()
    
    return (agg)

Correlation is calcuated with the highest correlated columns being dropped. The threshold used was when columns had a correlation of .95 or higher, only one of the columns was kept.

In [205]:
high_correlation(datasets['credit_card_balance'], remove=['SK_ID_CURR', 'SK_ID_BUREAU'], corr_coef="pearson", corr_value = 0.7)

AMT_BALANCE
-------------------------------
AMT_RECIVABLE               0.999917
AMT_TOTAL_RECEIVABLE        0.999897
AMT_RECEIVABLE_PRINCIPAL    0.999720
AMT_INST_MIN_REGULARITY     0.896728
Name: AMT_BALANCE, dtype: float64


AMT_DRAWINGS_ATM_CURRENT
-------------------------------
AMT_DRAWINGS_CURRENT        0.800190
CNT_DRAWINGS_ATM_CURRENT    0.732907
Name: AMT_DRAWINGS_ATM_CURRENT, dtype: float64


AMT_DRAWINGS_CURRENT
-------------------------------
AMT_DRAWINGS_ATM_CURRENT    0.80019
Name: AMT_DRAWINGS_CURRENT, dtype: float64


AMT_INST_MIN_REGULARITY
-------------------------------
AMT_RECIVABLE               0.897617
AMT_TOTAL_RECEIVABLE        0.897587
AMT_BALANCE                 0.896728
AMT_RECEIVABLE_PRINCIPAL    0.896030
Name: AMT_INST_MIN_REGULARITY, dtype: float64


AMT_PAYMENT_CURRENT
-------------------------------
AMT_PAYMENT_TOTAL_CURRENT    0.994764
Name: AMT_PAYMENT_CURRENT, dtype: float64


AMT_PAYMENT_TOTAL_CURRENT
-------------------------------
AMT_PAYMENT_CURRENT    0.994764
Name: AMT_PAYMENT_TOTAL_CURRENT, dtype: float64


AMT_RECEIVABLE_PRINCIPAL
-------------------------------
AMT_RECIVABLE              0.999727
AMT_BALANCE                0.999720
AMT_TOTAL_RECEIVABLE       0.999702
AMT_INST_MIN_REGULARITY    0.896030
Name: AMT_RECEIVABLE_PRINCIPAL, dtype: float64


AMT_RECIVABLE
-------------------------------
AMT_TOTAL_RECEIVABLE        0.999995
AMT_BALANCE                 0.999917
AMT_RECEIVABLE_PRINCIPAL    0.999727
AMT_INST_MIN_REGULARITY     0.897617
Name: AMT_RECIVABLE, dtype: float64


AMT_TOTAL_RECEIVABLE
-------------------------------
AMT_RECIVABLE               0.999995
AMT_BALANCE                 0.999897
AMT_RECEIVABLE_PRINCIPAL    0.999702
AMT_INST_MIN_REGULARITY     0.897587
Name: AMT_TOTAL_RECEIVABLE, dtype: float64


CNT_DRAWINGS_ATM_CURRENT
-------------------------------
AMT_DRAWINGS_ATM_CURRENT    0.732907
Name: CNT_DRAWINGS_ATM_CURRENT, dtype: float64


CNT_DRAWINGS_CURRENT
-------------------------------
CNT_DRAWINGS_POS_CURRENT    0.950546
Name: CNT_DRAWINGS_CURRENT, dtype: float64


CNT_DRAWINGS_POS_CURRENT
-------------------------------
CNT_DRAWINGS_CURRENT    0.950546
Name: CNT_DRAWINGS_POS_CURRENT, dtype: float64

In [207]:
#below are .99 correlations 
columns_to_drop = ["AMT_RECIVABLE", "AMT_TOTAL_RECEIVABLE", "AMT_RECEIVABLE_PRINCIPAL", "AMT_PAYMENT_TOTAL_CURRENT"]

In [208]:
#below are .95+ correlations 
columns_to_drop = ["AMT_RECIVABLE", "AMT_TOTAL_RECEIVABLE", "AMT_RECEIVABLE_PRINCIPAL", "AMT_PAYMENT_TOTAL_CURRENT", "CNT_DRAWINGS_POS_CURRENT"]

In [214]:
ccb = datasets['credit_card_balance']
ccb = ccb_eda(ccb, columns_to_drop)
datasets_transformed['credit_card_balance'] = ccb

#ccb.to_csv(os.getcwd() + DATA_DIR + 'ccb_agg_data.csv')

--------
# of ID's: 1
 ID's:
['SK_ID_CURR']

--------
# All features: 17
All features:
['CNT_DRAWINGS_CURRENT', 'MONTHS_BALANCE', 'AMT_DRAWINGS_CURRENT', 'SK_DPD', 'AMT_DRAWINGS_ATM_CURRENT', 'SK_DPD_DEF', 'CNT_DRAWINGS_ATM_CURRENT', 'AMT_BALANCE', 'NAME_CONTRACT_STATUS', 'CNT_DRAWINGS_OTHER_CURRENT', 'AMT_PAYMENT_CURRENT', 'SK_ID_PREV', 'AMT_DRAWINGS_POS_CURRENT', 'AMT_CREDIT_LIMIT_ACTUAL', 'AMT_DRAWINGS_OTHER_CURRENT', 'CNT_INSTALMENT_MATURE_CUM', 'AMT_INST_MIN_REGULARITY']

Missing data:
                             Total    Percent
AMT_PAYMENT_CURRENT         767988  19.998063
AMT_DRAWINGS_OTHER_CURRENT  749816  19.524872
AMT_DRAWINGS_ATM_CURRENT    749816  19.524872
CNT_DRAWINGS_ATM_CURRENT    749816  19.524872
AMT_DRAWINGS_POS_CURRENT    749816  19.524872
CNT_DRAWINGS_OTHER_CURRENT  749816  19.524872
AMT_INST_MIN_REGULARITY     305236   7.948208
CNT_INSTALMENT_MATURE_CUM   305236   7.948208
AMT_CREDIT_LIMIT_ACTUAL          0   0.000000
SK_ID_PREV                       0   0.000000
CNT_DRAWINGS_CURRENT             0   0.000000
MONTHS_BALANCE                   0   0.000000
AMT_BALANCE                      0   0.000000
SK_DPD_DEF                       0   0.000000
SK_DPD                           0   0.000000
AMT_DRAWINGS_CURRENT             0   0.000000
NAME_CONTRACT_STATUS             0   0.000000

--------
# of Numerical features: 17
Numerical features:
['SK_ID_PREV', 'SK_ID_CURR', 'MONTHS_BALANCE', 'AMT_BALANCE', 'AMT_CREDIT_LIMIT_ACTUAL', 'AMT_DRAWINGS_ATM_CURRENT', 'AMT_DRAWINGS_CURRENT', 'AMT_DRAWINGS_OTHER_CURRENT', 'AMT_DRAWINGS_POS_CURRENT', 'AMT_INST_MIN_REGULARITY', 'AMT_PAYMENT_CURRENT', 'CNT_DRAWINGS_ATM_CURRENT', 'CNT_DRAWINGS_CURRENT', 'CNT_DRAWINGS_OTHER_CURRENT', 'CNT_INSTALMENT_MATURE_CUM', 'SK_DPD', 'SK_DPD_DEF']

Numerical Statistical Summary:

         SK_ID_PREV    SK_ID_CURR  MONTHS_BALANCE   AMT_BALANCE  \
count  3.840312e+06  3.840312e+06    3.840312e+06  3.840312e+06
mean   1.904504e+06  2.783242e+05    3.452192e+01  5.830016e+04
std    5.364695e+05  1.027045e+05    2.666775e+01  1.063070e+05
min    1.000018e+06  1.000060e+05    1.000000e+00 -4.202502e+05
25%    1.434385e+06  1.895170e+05    1.100000e+01  0.000000e+00
50%    1.897122e+06  2.783960e+05    2.800000e+01  0.000000e+00
75%    2.369328e+06  3.675800e+05    5.500000e+01  8.904669e+04
max    2.843496e+06  4.562500e+05    9.600000e+01  1.505902e+06

       AMT_CREDIT_LIMIT_ACTUAL  AMT_DRAWINGS_ATM_CURRENT  \
count             3.840312e+06              3.090496e+06
mean              1.538080e+05              5.961325e+03
std               1.651457e+05              2.822569e+04
min               0.000000e+00             -6.827310e+03
25%               4.500000e+04              0.000000e+00
50%               1.125000e+05              0.000000e+00
75%               1.800000e+05              0.000000e+00
max               1.350000e+06              2.115000e+06

       AMT_DRAWINGS_CURRENT  AMT_DRAWINGS_OTHER_CURRENT  \
count          3.840312e+06                3.090496e+06
mean           7.433388e+03                2.881696e+02
std            3.384608e+04                8.201989e+03
min           -6.211620e+03                0.000000e+00
25%            0.000000e+00                0.000000e+00
50%            0.000000e+00                0.000000e+00
75%            0.000000e+00                0.000000e+00
max            2.287098e+06                1.529847e+06

       AMT_DRAWINGS_POS_CURRENT  AMT_INST_MIN_REGULARITY  AMT_PAYMENT_CURRENT  \
count              3.090496e+06             3.535076e+06         3.072324e+06
mean               2.968805e+03             3.540204e+03         1.028054e+04
std                2.079689e+04             5.600154e+03         3.607808e+04
min                0.000000e+00             0.000000e+00         0.000000e+00
25%                0.000000e+00             0.000000e+00         1.523700e+02
50%                0.000000e+00             0.000000e+00         2.702700e+03
75%                0.000000e+00             6.633911e+03         9.000000e+03
max                2.239274e+06             2.028820e+05         4.289207e+06

       CNT_DRAWINGS_ATM_CURRENT  CNT_DRAWINGS_CURRENT  \
count              3.090496e+06          3.840312e+06
mean               3.094490e-01          7.031439e-01
std                1.100401e+00          3.190347e+00
min                0.000000e+00          0.000000e+00
25%                0.000000e+00          0.000000e+00
50%                0.000000e+00          0.000000e+00
75%                0.000000e+00          0.000000e+00
max                5.100000e+01          1.650000e+02

       CNT_DRAWINGS_OTHER_CURRENT  CNT_INSTALMENT_MATURE_CUM        SK_DPD  \
count                3.090496e+06               3.535076e+06  3.840312e+06
mean                 4.812496e-03               2.082508e+01  9.283667e+00
std                  8.263861e-02               2.005149e+01  9.751570e+01
min                  0.000000e+00               0.000000e+00  0.000000e+00
25%                  0.000000e+00               4.000000e+00  0.000000e+00
50%                  0.000000e+00               1.500000e+01  0.000000e+00
75%                  0.000000e+00               3.200000e+01  0.000000e+00
max                  1.200000e+01               1.200000e+02  3.260000e+03

         SK_DPD_DEF
count  3.840312e+06
mean   3.316220e-01
std    2.147923e+01
min    0.000000e+00
25%    0.000000e+00
50%    0.000000e+00
75%    0.000000e+00
max    3.260000e+03

--------
# of Categorical features: 1
Categorical features:
['NAME_CONTRACT_STATUS']

Categorical Statistical Summary:


Categories:

  NAME_CONTRACT_STATUS
0           GoodStatus
1               Demand
2               Signed
3        Sent_proposal
4              Refused
5             Approved

--------
# of OHE categorical features: 6
OHE Categorical features: ['NAME_CONTRACT_STATUS_Refused', 'NAME_CONTRACT_STATUS_Demand', 'NAME_CONTRACT_STATUS_Approved', 'NAME_CONTRACT_STATUS_Signed', 'NAME_CONTRACT_STATUS_GoodStatus', 'NAME_CONTRACT_STATUS_Sent_proposal']
--------
df.shape: (3840312, 23)

Aggregated Features:
df[['CNT_DRAWINGS_CURRENT', 'MONTHS_BALANCE', 'AMT_DRAWINGS_CURRENT', 'NAME_CONTRACT_STATUS_Demand', 'SK_DPD', 'NAME_CONTRACT_STATUS_Approved', 'NAME_CONTRACT_STATUS_Sent_proposal', 'AMT_DRAWINGS_ATM_CURRENT', 'SK_DPD_DEF', 'CNT_DRAWINGS_ATM_CURRENT', 'AMT_BALANCE', 'CNT_DRAWINGS_OTHER_CURRENT', 'NAME_CONTRACT_STATUS_Refused', 'AMT_PAYMENT_CURRENT', 'SK_ID_PREV', 'AMT_DRAWINGS_POS_CURRENT', 'AMT_CREDIT_LIMIT_ACTUAL', 'NAME_CONTRACT_STATUS_GoodStatus', 'NAME_CONTRACT_STATUS_Signed', 'AMT_DRAWINGS_OTHER_CURRENT', 'CNT_INSTALMENT_MATURE_CUM', 'AMT_INST_MIN_REGULARITY']][0:5]:
   CNT_DRAWINGS_CURRENT  MONTHS_BALANCE  AMT_DRAWINGS_CURRENT  \
0                     1               6                 877.5
1                     1               1                2250.0
2                     0               7                   0.0
3                     1               4                2250.0
4                     1               1               11547.0

   NAME_CONTRACT_STATUS_Demand  SK_DPD  NAME_CONTRACT_STATUS_Approved  \
0                            0       0                              0
1                            0       0                              0
2                            0       0                              0
3                            0       0                              0
4                            0       0                              0

   NAME_CONTRACT_STATUS_Sent_proposal  AMT_DRAWINGS_ATM_CURRENT  SK_DPD_DEF  \
0                                   0                       0.0           0
1                                   0                    2250.0           0
2                                   0                       0.0           0
3                                   0                    2250.0           0
4                                   0                       0.0           0

   CNT_DRAWINGS_ATM_CURRENT  ...  NAME_CONTRACT_STATUS_Refused  \
0                       0.0  ...                             0
1                       1.0  ...                             0
2                       0.0  ...                             0
3                       1.0  ...                             0
4                       0.0  ...                             0

   AMT_PAYMENT_CURRENT  SK_ID_PREV  AMT_DRAWINGS_POS_CURRENT  \
0               1800.0     2562384                     877.5
1               2250.0     2582071                       0.0
2               2250.0     1740877                       0.0
3              11925.0     1389973                       0.0
4              27000.0     1891521                   11547.0

   AMT_CREDIT_LIMIT_ACTUAL  NAME_CONTRACT_STATUS_GoodStatus  \
0                   135000                                1
1                    45000                                1
2                   450000                                1
3                   225000                                1
4                   450000                                1

   NAME_CONTRACT_STATUS_Signed  AMT_DRAWINGS_OTHER_CURRENT  \
0                            0                         0.0
1                            0                         0.0
2                            0                         0.0
3                            0                         0.0
4                            0                         0.0

   CNT_INSTALMENT_MATURE_CUM  AMT_INST_MIN_REGULARITY
0                       35.0                 1700.325
1                       69.0                 2250.000
2                       30.0                 2250.000
3                       10.0                11795.760
4                      101.0                22924.890

[5 rows x 22 columns]
--------
Aggregated Features:
AMT_BALANCE_count
AMT_BALANCE_max
AMT_BALANCE_mean
AMT_BALANCE_median
AMT_BALANCE_min
AMT_BALANCE_sum
AMT_BALANCE_var
AMT_CREDIT_LIMIT_ACTUAL_count
AMT_CREDIT_LIMIT_ACTUAL_max
AMT_CREDIT_LIMIT_ACTUAL_mean
AMT_CREDIT_LIMIT_ACTUAL_median
AMT_CREDIT_LIMIT_ACTUAL_min
AMT_CREDIT_LIMIT_ACTUAL_sum
AMT_CREDIT_LIMIT_ACTUAL_var
AMT_DRAWINGS_ATM_CURRENT_count
AMT_DRAWINGS_ATM_CURRENT_max
AMT_DRAWINGS_ATM_CURRENT_mean
AMT_DRAWINGS_ATM_CURRENT_median
AMT_DRAWINGS_ATM_CURRENT_min
AMT_DRAWINGS_ATM_CURRENT_sum
AMT_DRAWINGS_ATM_CURRENT_var
AMT_DRAWINGS_CURRENT_count
AMT_DRAWINGS_CURRENT_max
AMT_DRAWINGS_CURRENT_mean
AMT_DRAWINGS_CURRENT_median
AMT_DRAWINGS_CURRENT_min
AMT_DRAWINGS_CURRENT_sum
AMT_DRAWINGS_CURRENT_var
AMT_DRAWINGS_OTHER_CURRENT_count
AMT_DRAWINGS_OTHER_CURRENT_max
AMT_DRAWINGS_OTHER_CURRENT_mean
AMT_DRAWINGS_OTHER_CURRENT_median
AMT_DRAWINGS_OTHER_CURRENT_min
AMT_DRAWINGS_OTHER_CURRENT_sum
AMT_DRAWINGS_OTHER_CURRENT_var
AMT_DRAWINGS_POS_CURRENT_count
AMT_DRAWINGS_POS_CURRENT_max
AMT_DRAWINGS_POS_CURRENT_mean
AMT_DRAWINGS_POS_CURRENT_median
AMT_DRAWINGS_POS_CURRENT_min
AMT_DRAWINGS_POS_CURRENT_sum
AMT_DRAWINGS_POS_CURRENT_var
AMT_INST_MIN_REGULARITY_count
AMT_INST_MIN_REGULARITY_max
AMT_INST_MIN_REGULARITY_mean
AMT_INST_MIN_REGULARITY_median
AMT_INST_MIN_REGULARITY_min
AMT_INST_MIN_REGULARITY_sum
AMT_INST_MIN_REGULARITY_var
AMT_PAYMENT_CURRENT_count
AMT_PAYMENT_CURRENT_max
AMT_PAYMENT_CURRENT_mean
AMT_PAYMENT_CURRENT_median
AMT_PAYMENT_CURRENT_min
AMT_PAYMENT_CURRENT_sum
AMT_PAYMENT_CURRENT_var
CNT_DRAWINGS_ATM_CURRENT_count
CNT_DRAWINGS_ATM_CURRENT_max
CNT_DRAWINGS_ATM_CURRENT_mean
CNT_DRAWINGS_ATM_CURRENT_median
CNT_DRAWINGS_ATM_CURRENT_min
CNT_DRAWINGS_ATM_CURRENT_sum
CNT_DRAWINGS_ATM_CURRENT_var
CNT_DRAWINGS_CURRENT_count
CNT_DRAWINGS_CURRENT_max
CNT_DRAWINGS_CURRENT_mean
CNT_DRAWINGS_CURRENT_median
CNT_DRAWINGS_CURRENT_min
CNT_DRAWINGS_CURRENT_sum
CNT_DRAWINGS_CURRENT_var
CNT_DRAWINGS_OTHER_CURRENT_count
CNT_DRAWINGS_OTHER_CURRENT_max
CNT_DRAWINGS_OTHER_CURRENT_mean
CNT_DRAWINGS_OTHER_CURRENT_median
CNT_DRAWINGS_OTHER_CURRENT_min
CNT_DRAWINGS_OTHER_CURRENT_sum
CNT_DRAWINGS_OTHER_CURRENT_var
CNT_INSTALMENT_MATURE_CUM_count
CNT_INSTALMENT_MATURE_CUM_max
CNT_INSTALMENT_MATURE_CUM_mean
CNT_INSTALMENT_MATURE_CUM_median
CNT_INSTALMENT_MATURE_CUM_min
CNT_INSTALMENT_MATURE_CUM_sum
CNT_INSTALMENT_MATURE_CUM_var
MONTHS_BALANCE_count
MONTHS_BALANCE_max
MONTHS_BALANCE_mean
MONTHS_BALANCE_median
MONTHS_BALANCE_min
MONTHS_BALANCE_sum
MONTHS_BALANCE_var
NAME_CONTRACT_STATUS_Approved_mean
NAME_CONTRACT_STATUS_Approved_median
NAME_CONTRACT_STATUS_Approved_var
NAME_CONTRACT_STATUS_Demand_mean
NAME_CONTRACT_STATUS_Demand_median
NAME_CONTRACT_STATUS_Demand_var
NAME_CONTRACT_STATUS_GoodStatus_mean
NAME_CONTRACT_STATUS_GoodStatus_median
NAME_CONTRACT_STATUS_GoodStatus_var
NAME_CONTRACT_STATUS_Refused_mean
NAME_CONTRACT_STATUS_Refused_median
NAME_CONTRACT_STATUS_Refused_var
NAME_CONTRACT_STATUS_Sent_proposal_mean
NAME_CONTRACT_STATUS_Sent_proposal_median
NAME_CONTRACT_STATUS_Sent_proposal_var
NAME_CONTRACT_STATUS_Signed_mean
NAME_CONTRACT_STATUS_Signed_median
NAME_CONTRACT_STATUS_Signed_var
SK_DPD_DEF_count
SK_DPD_DEF_max
SK_DPD_DEF_mean
SK_DPD_DEF_median
SK_DPD_DEF_min
SK_DPD_DEF_sum
SK_DPD_DEF_var
SK_DPD_count
SK_DPD_max
SK_DPD_mean
SK_DPD_median
SK_DPD_min
SK_DPD_sum
SK_DPD_var
SK_ID_PREV_count

Aggregated Data:

                                              count          mean  \
CNT_INSTALMENT_MATURE_CUM_var              102866.0  6.456481e+01
MONTHS_BALANCE_mean                        103558.0  1.950555e+01
SK_DPD_median                              103558.0  2.034609e+00
AMT_DRAWINGS_POS_CURRENT_var                71692.0  7.335384e+08
NAME_CONTRACT_STATUS_Refused_var           102866.0  2.006632e-06
...                                             ...           ...
NAME_CONTRACT_STATUS_Sent_proposal_median  103558.0  0.000000e+00
CNT_DRAWINGS_CURRENT_min                   103558.0  9.523166e-02
AMT_DRAWINGS_CURRENT_var                   102866.0  1.798590e+09
AMT_PAYMENT_CURRENT_mean                    72120.0  1.793468e+04
AMT_DRAWINGS_CURRENT_sum                   103558.0  2.756574e+05

                                                    std     min          25%  \
CNT_INSTALMENT_MATURE_CUM_var              1.421240e+02     0.0     0.000000
MONTHS_BALANCE_mean                        1.666657e+01     1.0     6.000000
SK_DPD_median                              3.174861e+01     0.0     0.000000
AMT_DRAWINGS_POS_CURRENT_var               4.849624e+09     0.0     0.000000
NAME_CONTRACT_STATUS_Refused_var           1.565132e-04     0.0     0.000000
...                                                 ...     ...          ...
NAME_CONTRACT_STATUS_Sent_proposal_median  0.000000e+00     0.0     0.000000
CNT_DRAWINGS_CURRENT_min                   1.010919e+00     0.0     0.000000
AMT_DRAWINGS_CURRENT_var                   7.646675e+09     0.0     0.000000
AMT_PAYMENT_CURRENT_mean                   2.842948e+04     0.0  4668.146719
AMT_DRAWINGS_CURRENT_sum                   4.556683e+05 -1687.5     0.000000

                                                    50%           75%  \
CNT_INSTALMENT_MATURE_CUM_var              6.000000e+00  4.216667e+01
MONTHS_BALANCE_mean                        1.200000e+01  3.800000e+01
SK_DPD_median                              0.000000e+00  0.000000e+00
AMT_DRAWINGS_POS_CURRENT_var               2.649883e+06  2.538298e+08
NAME_CONTRACT_STATUS_Refused_var           0.000000e+00  0.000000e+00
...                                                 ...           ...
NAME_CONTRACT_STATUS_Sent_proposal_median  0.000000e+00  0.000000e+00
CNT_DRAWINGS_CURRENT_min                   0.000000e+00  0.000000e+00
AMT_DRAWINGS_CURRENT_var                   1.918232e+08  1.215640e+09
AMT_PAYMENT_CURRENT_mean                   9.856811e+03  2.134006e+04
AMT_DRAWINGS_CURRENT_sum                   1.431000e+05  3.616040e+05

                                                    max
CNT_INSTALMENT_MATURE_CUM_var              1.078032e+03
MONTHS_BALANCE_mean                        5.017978e+01
SK_DPD_median                              1.385500e+03
AMT_DRAWINGS_POS_CURRENT_var               4.358126e+11
NAME_CONTRACT_STATUS_Refused_var           1.388889e-02
...                                                 ...
NAME_CONTRACT_STATUS_Sent_proposal_median  0.000000e+00
CNT_DRAWINGS_CURRENT_min                   7.800000e+01
AMT_DRAWINGS_CURRENT_var                   6.075000e+11
AMT_PAYMENT_CURRENT_mean                   1.593111e+06
AMT_DRAWINGS_CURRENT_sum                   3.029332e+07

[124 rows x 8 columns]

### Installment Payments

1. This function is specifically for Installment Payments table. Below are the pre-processing done before passing this table into the pipeline.

    - Absolute value of the Days Installment and Days Entry Payment are used as that allows only use of postive values without effecting the correlation. As more negative means longer time from the intial date. 

    - A new column of IP_DIFF_PAYMNT_INSTLMNT was also calculated from difference of AMT_INSTALMENT from AMT_PAYMENT as a part of the feature select/transformation process.

    - Any column or row with more than 70% of its data as null will be deleted from the dataframe as the threshold is set to .7.

    - Similar to above, once processed, store the transfored csv file. Benefit of this is that we can then pass it directly to model for merging into application train/test table. We do not have to perform expensive EDA/ETL/Transformation everytime we want to process the data.

In [ ]:
def ip_eda(df):
    ip = df
    drop_list_ip = []
    
    #Adding new features
    ip['DAYS_INSTALMENT'] = ip['DAYS_INSTALMENT'].abs()
    ip['DAYS_ENTRY_PAYMENT'] = ip['DAYS_ENTRY_PAYMENT'].abs()
    ip['IP_DIFF_PAYMNT_INSTLMNT'] = ip['AMT_PAYMENT'] - ip['AMT_INSTALMENT']
    
    threshold = 0.7

    #Dropping columns with missing value rate higher than threshold
    ip = ip[ip.columns[ip.isnull().mean() < threshold]]

    #Dropping rows with missing value rate higher than threshold
    ip = ip.loc[ip.isnull().mean(axis=1) < threshold]
    
    return (eda_transformation(ip,4))

In [ ]:
ip = datasets['installments_payments']
ip = ip_eda(ip)
datasets_transformed['installments_payments'] = ip

ip.to_csv(os.getcwd() + DATA_DIR + 'ip_agg_data.csv')

# Visual EDA <a name='EDAV'></a>

## EDA Visualization functions

Following are the functions created to do visualization. These are rudimentary level plots which provide insights into a dataframe. The input to these functions will either be a dataframe or a combination of dataframe and type of attribute (numerical, categorical) depending upon the type of function.

+ **Attr_Type**: This function plots a bar graph which shows the count of type of attribute, i.e. Number, Categorical, Date etc. We are using similar logic in summary statistics where depending upon the type of variable, we derive the numerical and categorical features to further do the processing.
+ **Unique Values**: This function plots the bar chart for the unique value for each attribute. This process will give us some insights about the number of binary , ordinal and continuous (more than 10 unique values) features in the dataset. This info can also be read from info and summary python functions. Another thing to notice here is that y-axis is on log scale. This is because on such a large data set, few elements have more unique values(like CURR ID, SK ID PREV) which makes distribution highly skewed. By taking log, we will have fair idea about other features with lesser unique values.
+ **Percent Missing**: This bar plot will show to percentage of nulls in the data. This plot will be helpful for us to see how much nulls a attribute has. In phase I, we created pipeline with attributes with more than 50% nulls. This information will also help while finding the correlation and cross-verify if some values are less or highly correlated. 1 thing to note here is that this plot also has y-axis log scaled for the same reason as provided above. 
+ **Categorical_count**: This function will take a dataframe and categorical features as input and will produce a bar plot for each category. This will enable us to understand if certain set of values are more correlated to the target. For example, we saw that less educated people are more likely to default on their loan, as per the data provided. Now that we have seen this info as a plot, we can analyze  a little more. This will also help us group certain values which are negligible, For example, if 2 categories are related to 90 % of the data, we can group certain low occurring values to make them as 1 category. This can also be seen by using the F score to see how statistically important it can be.
+ **Dendo**: This unique plot will groups together columns that have strong correlations in nullity. If a number of columns are grouped together at level zero, then the presence of nulls in one of those columns is directly related to the presence or absence of nulls in the others columns. The more separated the columns in the tree, the less likely the null values can be correlated between the columns.
+ **Numerical_features**:  This function will take only the numerical attributes from a dataframe and produce a dot plot. Each dot in this plot is a sample in our dataset and each subplot represents a different feature. The y-axis shows the feature value, while the x-axis is the sample index. These kind of plots provide a lot of ideas for data cleaning and EDA.   
+ **Num Hist**: This functions takes dataframe and numerical attributes. This will plot histogram for all the features supplied. A very useful visualization to see the data distribution in 1 view. We can take note of attributes which needs transformation, as well as outliers. For a better input data, we should remove the outliers so that it does not influence the target outcome. 
+ **all_missing_values_plot**: This function will plot the missing in all the features of the dataframe supplied. For attributes which have no nulls will show as 1, if an attribute has half of the records null, then it will show 0.5.

In [ ]:
def attr_type(df):
    plt.figure(figsize=(20,20))
    pd.value_counts(df.dtypes).sort_values().plot(kind="bar", figsize=(15, 8),logy=False,
                                              title="Type of features- Numerical/Categorical",
                                              ylabel="Number of features");
    plt.show()

def unique_values(df):
    plt.figure(figsize=(20,20))
    unique_values = df.select_dtypes(include="number").nunique().sort_values(ascending=False)
    unique_values.plot.bar(logy=True, figsize=(15, 4), title="Unique values per feature");
    plt.show()

def percent_missing(df):
    plt.figure(figsize=(20,20))
    df.isna().mean().sort_values().plot(kind="bar", figsize=(15, 8),logy=True,
                                          title="Percentage of missing values per feature",
                                          ylabel="Ratio of missing values per feature");
    plt.show()
    
def categorical_count(df,categorical):
    plt.figure(figsize=(20,20))
    for i, col in enumerate(feat_cat):
        ax = plt.subplot(5, 4, i+1)
        sns.countplot(data=df[categorical], y=col, ax=ax,) 
    plt.suptitle('Category counts for all categorical variables')
    plt.tight_layout()
    plt.show()

def dendo(df):
    plt.figure(figsize=(20,20))
    msno.dendrogram(df)
    plt.show()
    
def numerical_features(df,num_cat):
    plt.figure(figsize=(20,20))
    df[num_cat].plot(lw=0, marker=".", subplots=True, layout=(-1, 4),
              figsize=(15, 12), markersize=1);
    
    plt.show()

def num_hist(df):
    plt.figure(figsize=(20,20))
    df[np.isfinite(df)].hist(bins=25, figsize=(15, 25), layout=(-1, 5), edgecolor="black")
    plt.tight_layout();
    plt.show();

    
def continous_features(df,feat_num):
    plt.figure(figsize=(20,20))
    cols_continuous = df.select_dtypes(include="number").nunique() >= 25
    df_continuous = df[cols_continuous[cols_continuous].index]
    #df_continuous.shape
    sns.pairplot(df_continuous[feat_num], height=1.5, plot_kws={"s": 2, "alpha": 0.2});
    plt.show()
def all_missing_values_plot(df):
    
    div = df.columns[df.isin([np.nan]).any()]
    plt.figure(figsize=(20,20))
    (msno.bar(df[div]).set_title("All features with missing data",fontsize=24))
    plt.show()

## EDAV Implementation

In [ ]:
for i,ds_name in enumerate(datasets.keys()):
    
    #n = True
    #if n:
        
    if ds_name.lower() not in (#"application_train",
                               "application_test", "bureau_balance"):
        print("Table under consideration:",ds_name.upper())
        print("------------------------------------------------------------------------")
        id_cols, feat_num, feat_cat, features =  id_num_cat_feature(datasets[ds_name],text = False)
        only_num_cat = list(set(feat_num)-set(['SK_ID_CURR','SK_ID_PREV','SK_ID_BUREAU']))
        print("------------------------------------------------------------------------")
        print(ds_name.upper(),":-------------------------Type of Features-------------------------------")
        attr_type(datasets[ds_name])
        print("------------------------------------------------------------------------")
        print(ds_name.upper(),":-------------------------UNIQUE VALUES----------------------------------")
        unique_values(datasets[ds_name]) 
        print("------------------------------------------------------------------------")
        print(ds_name.upper(),":-------------------------MISSING PERCENTAGE-----------------------------")
        percent_missing(datasets[ds_name])
        print("------------------------------------------------------------------------")
        print(ds_name.upper(),":-------------------------CATEGORICAL COUNT------------------------------")
        categorical_count(datasets[ds_name],feat_cat)
        print("------------------------------------------------------------------------")
        print(ds_name.upper(),":-------------------------NUM FEATURES-DOT PLOT----------------------")
        numerical_features(datasets[ds_name],only_num_cat)
        print("------------------------------------------------------------------------")
        print(ds_name.upper(),":-------------------------NUM FEATURES - HISTOGRAM ----------------------")
        num_hist(datasets[ds_name][only_num_cat])
        print("------------------------------------------------------------------------")
        print(ds_name.upper(),":-------------------------Continous Features ----------------------------")
        #continous_features(df_x,only_num_cat)
        print("------------------------------------------------------------------------")
        print(ds_name.upper(),":-------------------------All Missing Features---------------------------")
        all_missing_values_plot(datasets[ds_name])
        print("------------------------------------------------------------------------")
        print(ds_name.upper(),":-------------------------DendoGram for Nulls----------------------------")
        dendo(datasets[ds_name])
        print("------------------------------------------------------------------------")

## Correlation Plots Maps

A correlation matrix is a table showing correlation coefficients between variables. Each cell in the table shows the correlation between two variables. This correlation is a value put on the relationship between two attributes. A correlation matrix is used to summarize data, then with that information do more advanced analysis.

In [ ]:
def corr_plot(data, remove=["Id"], corr_coef = "pearson", figsize=(20, 20)):
    if len(remove) > 0:
        num_cols2 = [x for x in data.columns if (x not in remove)]

    sns.set(font_scale=1.1)
    c = data[num_cols2].corr(method = corr_coef)
    mask = np.triu(c.corr(method = corr_coef))
    plt.figure(figsize=figsize)
    sns.heatmap(c,
                annot=True,
                fmt='.1f',
                cmap='coolwarm',
                square=True,
                mask=mask,
                linewidths=1,
                cbar=False)
    plt.show()

In [ ]:
for i,ds_name in enumerate(datasets.keys()):
    if(ds_name != "bureau_balance"):
        print("------------------------------------------------------------------------")
        print("Table under consideration FOR CORRELATION PLOT:",ds_name.upper())
        corr_plot(datasets[ds_name], remove=['SK_ID_CURR','SK_ID_BUREAU'], corr_coef = "spearman")
        print("------------------------------------------------------------------------")
        print("------------------------------------------------------------------------")

As we have seen in Application train and application test dataframes, most of the __FLAG_DOCUMENT_XX__ are null, we will remove these columns at later point of time

## Numerical Plots and Visualizations

These visualizations consist of the paired plots for each column in the each table. 

The first is a histogram, a diagram consisting of rectangles whose area is proportional to the frequency of a variable and whose width is equal to the class interval, which helps to visualize distribution. 

The second is a boxplot, which is a standardized way of displaying the distribution of data based on a five number summary (“minimum”, first quartile Q1, median, third quartile Q3 and “maximum”). It can tell you about your outliers and what their values are.

https://builtin.com/data-science/boxplot#:~:text=What%20Is%20a%20Boxplot%3F,and%20what%20their%20values%20are.

The third is a Kernel Density Plot which also helps to visualize distriubtion over a time peroid or some continuous value.

In [ ]:
def grab_col_names(dataframe, cat_th=10, car_th=20, show_date=False):
    date_cols = [col for col in dataframe.columns if dataframe[col].dtypes == "datetime64[ns]"]
    cat_cols = dataframe.select_dtypes(["object", "category"]).columns.tolist()
    
    num_but_cat = [col for col in dataframe.select_dtypes(["float", "integer"]).columns if dataframe[col].nunique() < cat_th]
    cat_but_car = [col for col in dataframe.select_dtypes(["object", "category"]).columns if dataframe[col].nunique() > car_th]
    
    cat_cols = cat_cols + num_but_cat
    cat_cols = [col for col in cat_cols if col not in cat_but_car]

    num_cols = dataframe.select_dtypes(["float", "integer"]).columns
    num_cols = [col for col in num_cols if col not in num_but_cat]
    
    if show_date == True:
        return date_cols, cat_cols, cat_but_car, num_cols, num_but_cat
    else:
        return cat_cols, cat_but_car, num_cols, num_but_cat

In [ ]:
def num_plot(data, num_cols, remove=["Id"], hist_bins=10, figsize=(20, 4)):

    if len(remove) > 0:
        num_cols2 = [x for x in num_cols if (x not in remove)]

    for i in num_cols2:
        fig, axes = plt.subplots(1, 3, figsize=figsize)
        data.hist(str(i), bins=hist_bins, ax=axes[0])
        data.boxplot(str(i), ax=axes[1], vert=False);
        try:
            sns.kdeplot(np.array(data[str(i)]))
        except:
            ValueError

        axes[1].set_yticklabels([])
        axes[1].set_yticks([])
        axes[0].set_title(i + " | Histogram")
        axes[1].set_title(i + " | Boxplot")
        axes[2].set_title(i + " | Density")
        plt.show()

In [ ]:
for i,ds_name in enumerate(datasets.keys()):
    
    if ds_name.lower() not in ("application_train",
                               "application_test", "bureau_balance"):
        print("------------------------------------------------------------------------")
        #_,_, num_cols, _ = grab_col_names(datasets[ds_name], car_th=10)
        _,num_cols,_,_ = id_num_cat_feature(datasets[ds_name], text = False)
        datasets[ds_name].replace([np.inf, -np.inf], 0, inplace=True)
        print("Table under consideration FOR NUMERICAL PLOTS:",ds_name.upper())
        num_plot(datasets[ds_name], num_cols, remove=['SK_ID_CURR','SK_ID_BUREAU','SK_ID_PREV'], figsize = (15,3))
        print("------------------------------------------------------------------------")
        print("------------------------------------------------------------------------")

## Check Skewness/Distribution : Numerical data

**Look for skewed column in numerical data but ignore dates, Days,Flags, status, ID's.**

**Skewness in : AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY**

In [ ]:
application_train = datasets["application_train"]
numerical_ix = application_train.select_dtypes(include=['int64', 'float64']).columns
categorical_ix = application_train.select_dtypes(include=['object', 'bool']).columns
num_features = list(numerical_ix)
cat_features = list(categorical_ix)
print(f"# of numerical   features: {len(numerical_ix)}")
print(f"Numerical   features: {numerical_ix}")
print('--------')
print(f"# of categorical features: {len(categorical_ix)}")
print(f"Categorical features: {categorical_ix}")

In [ ]:
datasets["application_train"][numerical_ix]

**AMT_CREDIT and AMT_ANNUITY looks skewed. we wil do log transformation on these attributes and make them more mormalized.**

### AMT_CREDIT

In [ ]:
plt.hist(datasets["application_train"]['AMT_CREDIT'], bins=25);
plt.xlabel('AMT_CREDIT')
plt.ylabel('Count')
plt.title("Distribution - AMT_CREDIT ")

In [ ]:
plt.hist(np.log(datasets["application_train"]['AMT_CREDIT']), bins=30);
plt.xlabel('Log(AMT_CREDIT)')
plt.ylabel('Count')
plt.title("Distribution - Log(AMT_CREDIT) ")

### AMT_ANNUITY

In [ ]:
plt.hist(datasets["application_train"]['AMT_ANNUITY'], bins=25);
plt.xlabel('AMT_ANNUITY')
plt.ylabel('Count')
plt.title("Distribution - AMT_ANNUITY ")

In [ ]:
plt.hist(np.log(datasets["application_train"]['AMT_ANNUITY']), bins=30);
plt.xlabel('Log(AMT_ANNUITY)')
plt.ylabel('Count')
plt.title("Distribution - Log(AMT_ANNUITY) ")

## Missing data for application train

In [ ]:
percent = (datasets["application_train"].isnull().sum()/datasets["application_train"].isnull().count()*100).sort_values(ascending = False).round(2)
sum_missing = datasets["application_train"].isna().sum().sort_values(ascending = False)
missing_application_train_data  = pd.concat([percent, sum_missing], axis=1, keys=['Percent', "Train Missing Count"])
missing_application_train_data.head(20)

### Determine more than 50% null

Determine attributes which have more than 50% NULLS. Once done, these will be used as part of feature engineering.

In [ ]:
nulls_50 = missing_application_train_data[round(missing_application_train_data['Percent']>50.0)==True]
#nulls_50.index

remove_num_nulls = list(set(nulls_50.index).intersection(set(numerical_ix)))
remove_cat_nulls = list(set(nulls_50.index).intersection(set(categorical_ix)))

In [ ]:
percent = (datasets["application_test"].isnull().sum()/datasets["application_test"].isnull().count()*100).sort_values(ascending = False).round(2)
sum_missing = datasets["application_test"].isna().sum().sort_values(ascending = False)
missing_application_train_data  = pd.concat([percent, sum_missing], axis=1, keys=['Percent', "Test Missing Count"])
missing_application_train_data.head(20)

## Distribution of the target column

In [ ]:
datasets["application_train"]['TARGET'].astype(int).plot.hist();

**This shows that around 8% of people are not able to repay the loans back.**

In [ ]:
datasets["application_train"]['TARGET'].value_counts()/datasets["application_train"]['TARGET'].shape[0]

## Correlation with  the target column

In [ ]:
def correlation_against_target(df):
    df_joined = {} 
    df_joined =  datasets['application_train'][["SK_ID_CURR", "TARGET"]].merge(df, on='SK_ID_CURR', how='right')
    cols = df.columns
    keys = list(df.columns)
    keys.append("TARGET")
    return df_joined[keys].corr()['TARGET'].sort_values(ascending=False)

## Correlations against the target on the Original Tables

In [ ]:
original_corr = {}
#barplot
for i,ds_name in enumerate(datasets.keys()):
    if(ds_name.upper() != "APPLICATION_TRAIN"):
        if (ds_name.upper() != "APPLICATION_TEST"):
            if (ds_name.upper() != "BUREAU_BALANCE"):
                if (ds_name.upper() == "BUREAU"):
                    if 'AMT_ANNUITY' in datasets["bureau"].columns:
                        datasets["bureau"] = datasets["bureau"].drop(["AMT_ANNUITY"], axis = 1)
                print("------------------------------------------------------------------------")
                print("Correlation for Orignal Table:", ds_name.upper())
                print("------------------------------------------------------------------------")
                ds = correlation_against_target(datasets[ds_name])
                print("------------------------------------------------------------------------")
                original_corr[ds_name] = ds
                print(ds)
                print("------------------------------------------------------------------------")
                print("------------------------------------------------------------------------")

## Correlations on the Transformed Tables done with a right merge against the table

In [ ]:
transformed_corr = {}
for i,ds_name in enumerate(datasets_transformed.keys()):
    datasets_transformed[ds_name].reset_index()
    #if(ds_name.upper() not in ( "APPLICATION_TRAIN","APPLICATION_TEST","BUREAU_BALANCE"):
    if(ds_name.upper() != "APPLICATION_TRAIN"):
        if (ds_name.upper() != "APPLICATION_TEST"):
            #if (ds_name.upper() != "POS_CASH_BALANCE"):
                if (ds_name.upper() != "BUREAU_BALANCE"):        
                    print("------------------------------------------------------------------------")
                    print("Correlation for Transformed Table:", ds_name.upper())
                    print("------------------------------------------------------------------------")
                    ds = correlation_against_target(datasets_transformed[ds_name])
                    print("------------------------------------------------------------------------")
                    transformed_corr[ds_name] = ds
                    print(ds)
                    print("------------------------------------------------------------------------")
                    print("------------------------------------------------------------------------")

## Highest Correlations on Original Tables

The below gives you the highest correlated attributes from each table with a threshold of .7. This is correlation to other attributes in the same table.

In [204]:
# Get high correlated variables
def high_correlation(data, remove=['SK_ID_CURR', 'SK_ID_BUREAU'], corr_coef="pearson", corr_value = 0.7):
    if len(remove) > 0:
        cols = [x for x in data.columns if (x not in remove)]
        c = data[cols].corr(method=corr_coef)
    else:
        c = data.corr(method=corr_coef)

    for i in c.columns:
        cr = c.loc[i].loc[(c.loc[i] >= corr_value) | (c.loc[i] <= -corr_value)].drop(i)
        if len(cr) > 0:
            print(i)
            print("-------------------------------")
            print(cr.sort_values(ascending=False))
            print("\n")

In [ ]:
datasets["application_train"]

Below we are determining the highest correlations for each table.

In [ ]:
for i,ds_name in enumerate(datasets.keys()):
    print("------------------------------------------------------------------------")
    print("Table under consideration FOR HIGHEST CORRELATIONS:",ds_name.upper())
    high_correlation(datasets[ds_name], remove=['SK_ID_CURR','SK_ID_BUREAU', 'FLAG_DOCUMENT_2', 'FLAG_DOCUMENT_10', 
                                                'FLAG_DOCUMENT_12','FLAG_DOCUMENT_13','FLAG_DOCUMENT_14',
                                               'FLAG_DOCUMENT_15','FLAG_DOCUMENT_16','FLAG_DOCUMENT_17',
                                               'FLAG_DOCUMENT_18','FLAG_DOCUMENT_19','FLAG_DOCUMENT_20',
                                               'FLAG_DOCUMENT_21','PREV_REJ_CNT'], corr_coef = "spearman", corr_value = 0.7)
    print("------------------------------------------------------------------------")
    print("------------------------------------------------------------------------")

Now, we find the attributes which are highly correlated, either positive or negative. Looks like EXT_SOURCE columns are highly correlated.

In [ ]:
correlations = datasets["application_train"].corr()['TARGET'].sort_values()
print('Most Positive Correlations:\n', correlations.tail(10))
print('\nMost Negative Correlations:\n', correlations.head(10))

__Top 10__ highly correlated columns:

In [ ]:
top_10 = correlations.abs().sort_values().tail(11)
top_10

## Applicants Age

In [ ]:
plt.hist(datasets["application_train"]['DAYS_BIRTH'] / -365, edgecolor = 'k', bins = 25)
plt.title('Age of Client'); plt.xlabel('Age (years)'); plt.ylabel('Count');

## Applicants occupations

In [ ]:
sns.countplot(x='OCCUPATION_TYPE', data=datasets["application_train"]);
plt.title('Applicants Occupation');
plt.xticks(rotation=90);

**17% of our applicants are labourers and around 10% are from the Sales. This seems like folks which are from the lower income range which apply for the loan.**

## Other Dataset questions

### previous applications - Phase I Analysis
The persons in the kaggle submission file have had previous applications in the `previous_application.csv`. 47,800 out 48,744 people have had previous appications.

In [ ]:
appsDF = datasets["previous_application"]

In [ ]:
len(np.intersect1d(datasets["previous_application"]["SK_ID_CURR"], datasets["application_test"]["SK_ID_CURR"]))

In [ ]:
print(f"There are  {appsDF.shape[0]:,} previous applications")

In [ ]:
# How many entries are there for each month?
prevAppCounts = appsDF['SK_ID_CURR'].value_counts(dropna=False)

In [ ]:
len(prevAppCounts[prevAppCounts >40])  #more that 40 previous applications

In [ ]:
prevAppCounts[prevAppCounts >50].plot(kind='bar')
plt.xticks(rotation=25)
plt.show()

### Histogram of Number of previous applications for an ID

In [ ]:
sum(appsDF['SK_ID_CURR'].value_counts()==1)

In [ ]:
plt.hist(appsDF['SK_ID_CURR'].value_counts(), cumulative =True, bins = 100);
plt.grid()
plt.ylabel('cumulative number of IDs')
plt.xlabel('Number of previous applications per ID')
plt.title('Histogram of Number of previous applications for an ID')

#### **Can we differentiate applications by low, medium and high previous apps?**
    * Low = <5 claims (22%)
    * Medium = 10 to 39 claims (58%)
    * High = 40 or more claims (20%)

In [ ]:
apps_all = appsDF['SK_ID_CURR'].nunique()
apps_5plus = appsDF['SK_ID_CURR'].value_counts()>=5
#print(apps_5plus)
apps_40plus = appsDF['SK_ID_CURR'].value_counts()>=40
apps_med_plus = 100 - apps_5plus- apps_40plus
print('Percentage with 10 or more previous apps:', np.round(100.*(sum(apps_5plus)/apps_all),5))
print('Percentage with 11 to 39 no of apps:', np.round(100-(100.*(sum(apps_5plus)/apps_all))-(100.*(sum(apps_40plus)/apps_all)),5))
print('Percentage with 40 or more previous apps:', np.round(100.*(sum(apps_40plus)/apps_all),5))

In [ ]:
df1 = pd.DataFrame(prevAppCounts)

# Baseline Machine Learning Pipelines <a name='pipelines'></a>

## Pre-Processing

###  OHE when previously unseen unique values in the test/validation set

Train, validation and Test sets (and the leakage problem we have mentioned previously):

 

Let's look at a small usecase to tell us how to deal with this:

* The OneHotEncoder is fitted to the training set, which means that for each unique value present in the training set, for each feature, a new column is created. Let's say we have 39 columns after the encoding up from 30 (before preprocessing).
* The output is a numpy array (when the option sparse=False is used), which has the disadvantage of losing all the information about the original column names and values.
* When we try to transform the test set, after having fitted the encoder to the training set, we obtain a `ValueError`. This is because the there are new, previously unseen unique values in the test set and the encoder doesn’t know how to handle these values. In order to use both the transformed training and test sets in machine learning algorithms, we need them to have the same number of columns.

This last problem can be solved by using the option handle_unknown='ignore'of the OneHotEncoder, which, as the name suggests, will ignore previously unseen values when transforming the test set.

 

Here is a example that in action:

```python
# Identify the categorical features we wish to consider.
cat_attribs = ['CODE_GENDER', 'FLAG_OWN_REALTY','FLAG_OWN_CAR','NAME_CONTRACT_TYPE', 
               'NAME_EDUCATION_TYPE','OCCUPATION_TYPE','NAME_INCOME_TYPE']

# Notice handle_unknown="ignore" in OHE which ignore values from the validation/test that
# do NOT occur in the training set
cat_pipeline = Pipeline([
        ('selector', DataFrameSelector(cat_attribs)),
        ('imputer', SimpleImputer(strategy='most_frequent')),
        ('ohe', OneHotEncoder(sparse=False, handle_unknown="ignore"))
    ])

```

Please [this  blog](https://medium.com/hugo-ferreiras-blog/dealing-with-categorical-features-in-machine-learning-1bb70f07262d) for more details of OHE when the validation/test have previously unseen unique values.

### DataFrameSelector Class

In [ ]:
# Create a class to select numerical or categorical columns 
# since Scikit-Learn doesn't handle DataFrames yet
class DataFrameSelector(BaseEstimator, TransformerMixin):
    def __init__(self, attribute_names):
        self.attribute_names = attribute_names
    def fit(self, X, y=None):
        return self
    def transform(self, X):
        return X[self.attribute_names].values

## Baseline Model Algorithms

The `sklearn.linear_model.LogisticRegression` implementation will be used for the baseline model with parameters penalty that can be any one the these `l1`, `l2`, `elasticnet`, a mutli class of `ovr` to fit each label using a binary problem, and `C` which is the inverse of regularization strength. The Logistic Regression loss function will be calculated using with cross entropy loss. 

The objective function for the learning a multinomial logistic regression model (log loss) can be stated as follows:

$$\textrm{CXE}(\theta) = \left[-\frac{1}{m}\sum_{i=1}^m\left(y_i\cdot\log\left(p_i\right)+\left(1-y_i\right)\cdot\log\left(1-p_i\right)\right)\right]$$

Regularization helps reduce the risk of overfitting.

* Ridge Regularization (L2):
  * $\textrm{RidgeCXE}(\theta) = \textrm{CXE}(\theta) + \lambda \sum_{j=1}^{n}\theta_j^2$
* Lasso Regularization (L1):
  * $\textrm{LassoCXE}(\theta) = \textrm{CXE}(\theta) + \lambda \sum_{j=1}^n|\theta_j|$
* Elastic Net Regularization (Hybrid L1 + L2):
  * $\textrm{ElasticCXE}(\theta) = \textrm{CXE}(\theta) + r\lambda\sum_{j=1}^n|\theta_j| + \frac{1-r}{2}\lambda\sum_{j=1}^n\theta_j^2$
  
However, for the scope of Phase 2 regularization *will not* be incorporated into the baseline model due to time and computing power constraints. Regularization is planned to be incorporated in the Phase 3 model pipelines. 

## Baseline Models - Before EDA

Here are some model runs using only the `application_train` data, with various feature selections.

### Baseline with 14 features

In [ ]:
# Identify the numeric features we wish to consider. 
from sklearn.pipeline import Pipeline, FeatureUnion, make_pipeline
from sklearn.compose import ColumnTransformer
from sklearn.datasets import load_iris
import numpy as np
import pandas as pd
from time import time
from sklearn.model_selection import train_test_split  # sklearn.cross_validation in old versions
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.impute import SimpleImputer
from sklearn.metrics import accuracy_score
from sklearn.metrics import roc_auc_score

import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

data = datasets["application_train"]
y = data['TARGET']
X = data.drop(['SK_ID_CURR', 'TARGET'], axis = 1) #drop some features with questionable value

# Split the provided training data into training and validationa and test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.15, random_state=42)
X_train, X_valid, y_train, y_valid = train_test_split(X_train, y_train, test_size=0.2, random_state=42)
print(f"X train           shape: {X_train.shape}")
print(f"X validation      shape: {X_valid.shape}")
print(f"X test            shape: {X_test.shape}")

num_attribs = [
    'AMT_INCOME_TOTAL',  'AMT_CREDIT','DAYS_EMPLOYED','DAYS_BIRTH','EXT_SOURCE_1',
    'EXT_SOURCE_2','EXT_SOURCE_3']

num_pipeline = Pipeline([
        ('selector', DataFrameSelector(num_attribs)),
        ('imputer', SimpleImputer(strategy='mean')),
        ('std_scaler', StandardScaler()),
    ])
# Identify the categorical features we wish to consider.
cat_attribs = ['CODE_GENDER', 'FLAG_OWN_REALTY','FLAG_OWN_CAR','NAME_CONTRACT_TYPE', 
               'NAME_EDUCATION_TYPE','OCCUPATION_TYPE','NAME_INCOME_TYPE']

selected_features = num_attribs + cat_attribs
# Notice handle_unknown="ignore" in OHE which ignore values from the validation/test that
# do NOT occur in the training set
cat_pipeline = Pipeline([
        ('selector', DataFrameSelector(cat_attribs)),
        #('imputer', SimpleImputer(strategy='most_frequent')),
        ('imputer', SimpleImputer(strategy='constant', fill_value='missing')),
        ('ohe', OneHotEncoder(sparse=False, handle_unknown="ignore"))
    ])

data_pipeline = ColumnTransformer(transformers=[
        ("num_pipeline", num_pipeline, num_attribs),
        ("cat_pipeline", cat_pipeline, cat_attribs)],
        remainder='drop',
        n_jobs=-1
    )


full_pipeline_with_predictor = Pipeline([
        ("preparation", data_pipeline),
        ("linear", LogisticRegression())
    ])

param_grid = {'linear__penalty':[#'l1', 'l2', 'elasticnet',
                                 'none']
              #,'linear__C':[1.0#, 10.0, 100.0 ]
             }

gd2 = GridSearchCV(full_pipeline_with_predictor, param_grid= param_grid, cv = 5, n_jobs=-1, scoring='roc_auc')

model = gd2.fit(X_train, y_train)


try:
    expLog
except NameError:
    expLog = pd.DataFrame(columns=["exp_name", 
                                   "Train Acc", 
                                   "Valid Acc",
                                   "Test  Acc",
                                   "Train AUC", 
                                   "Valid AUC",
                                   "Test  AUC"
                                  ])

exp_name = f"Baseline_{len(selected_features)}_features"
expLog.loc[len(expLog)] = [f"{exp_name}"] + list(np.round(
               [accuracy_score(y_train, model.predict(X_train)), 
                accuracy_score(y_valid, model.predict(X_valid)),
                accuracy_score(y_test, model.predict(X_test)),
                roc_auc_score(y_train, model.predict_proba(X_train)[:, 1]),
                roc_auc_score(y_valid, model.predict_proba(X_valid)[:, 1]),
                roc_auc_score(y_test, model.predict_proba(X_test)[:, 1])],
    4)) 
expLog

### Split train, validation and test sets

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

data = datasets["application_train"]
y = data['TARGET']
X = data.drop(['SK_ID_CURR', 'TARGET'], axis = 1) #drop some features with questionable value

# Split the provided training data into training and validationa and test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.15, random_state=42)
X_train, X_valid, y_train, y_valid = train_test_split(X_train, y_train, test_size=0.2, random_state=42)
print(f"X train           shape: {X_train.shape}")
print(f"X validation      shape: {X_valid.shape}")
print(f"X test            shape: {X_test.shape}")

### Baseline 2:  All features

In [ ]:
from sklearn.pipeline import Pipeline, FeatureUnion, make_pipeline
from sklearn.compose import ColumnTransformer
from sklearn.datasets import load_iris
import numpy as np
import pandas as pd
from time import time
from sklearn.model_selection import train_test_split  # sklearn.cross_validation in old versions
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.impute import SimpleImputer
from sklearn.metrics import accuracy_score
from sklearn.metrics import roc_auc_score


data = datasets["application_train"]
y = data['TARGET']
X = data.drop(['SK_ID_CURR', 'TARGET'], axis = 1) #drop some features with questionable value

# Split the provided training data into training and validationa and test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.15, random_state=42)
X_train, X_valid, y_train, y_valid = train_test_split(X_train, y_train, test_size=0.2, random_state=42)
print(f"X train           shape: {X_train.shape}")
print(f"X validation      shape: {X_valid.shape}")
print(f"X test            shape: {X_test.shape}")

numerical_features = list(numerical_ix[2:])

num_pipeline =Pipeline([
    ('imputer',SimpleImputer(strategy="median")),
    ('std_scaler', StandardScaler())
])
categorical_features = list(categorical_ix)

selected_features = (numerical_features) + (categorical_features)

cat_pipeline = Pipeline([
        ('imputer', SimpleImputer(strategy='most_frequent')),
        ('ohe', OneHotEncoder(sparse=False, handle_unknown="ignore"))
    ])


data_pipeline = ColumnTransformer(transformers=[
        ("num_pipeline", num_pipeline, numerical_features),
        ("cat_pipeline", cat_pipeline, categorical_features)],
        remainder='drop',
        n_jobs=-1
    )


full_pipeline_with_predictor = Pipeline([
        ("preparation", data_pipeline),
        ("linear", LogisticRegression())
    ])

param_grid = {'linear__penalty':[#'l1', 'l2', 'elasticnet',
                                 'none']
              #,'linear__C':[1.0#, 10.0, 100.0]
             }

gd1 = GridSearchCV(full_pipeline_with_predictor, param_grid= param_grid, cv = 5, n_jobs=-1, scoring='roc_auc')

model = gd1.fit(X_train, y_train)


try:
    expLog
except NameError:
    expLog = pd.DataFrame(columns=["exp_name", 
                                   "Train Acc", 
                                   "Valid Acc",
                                   "Test  Acc",
                                   "Train AUC", 
                                   "Valid AUC",
                                   "Test  AUC"
                                  ])

exp_name = f"Baseline_{len(selected_features)}_features"
expLog.loc[len(expLog)] = [f"{exp_name}"] + list(np.round(
               [accuracy_score(y_train, model.predict(X_train)), 
                accuracy_score(y_valid, model.predict(X_valid)),
                accuracy_score(y_test, model.predict(X_test)),
                roc_auc_score(y_train, model.predict_proba(X_train)[:, 1]),
                roc_auc_score(y_valid, model.predict_proba(X_valid)[:, 1]),
                roc_auc_score(y_test, model.predict_proba(X_test)[:, 1])],
    4)) 
expLog

### Baseline 3: 79 Features

**Selected Features**

**Remove elements with more than 50% nulls**

In [ ]:
from sklearn.pipeline import Pipeline, FeatureUnion, make_pipeline
from sklearn.compose import ColumnTransformer
from sklearn.datasets import load_iris
import numpy as np
import pandas as pd
from time import time
from sklearn.model_selection import train_test_split  # sklearn.cross_validation in old versions
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.impute import SimpleImputer
from sklearn.metrics import accuracy_score
from sklearn.metrics import roc_auc_score


data = datasets["application_train"]
y = data['TARGET']
X = data.drop(['SK_ID_CURR', 'TARGET'], axis = 1) #drop some features with questionable value

# Split the provided training data into training and validationa and test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.15, random_state=42)
X_train, X_valid, y_train, y_valid = train_test_split(X_train, y_train, test_size=0.2, random_state=42)
print(f"X train           shape: {X_train.shape}")
print(f"X validation      shape: {X_valid.shape}")
print(f"X test            shape: {X_test.shape}")

numerical_features = list(numerical_ix[2:].drop(remove_num_nulls))

num_pipeline =Pipeline([
    ('imputer',SimpleImputer(strategy="median")),
    ('std_scaler', StandardScaler())
])
categorical_features = list(categorical_ix.drop(remove_cat_nulls))

selected_features = (numerical_features) + (categorical_features)

cat_pipeline = Pipeline([
        ('imputer', SimpleImputer(strategy='most_frequent')),
        ('ohe', OneHotEncoder(sparse=False, handle_unknown="ignore"))
    ])


data_pipeline = ColumnTransformer(transformers=[
        ("num_pipeline", num_pipeline, numerical_features),
        ("cat_pipeline", cat_pipeline, categorical_features)],
        remainder='drop',
        n_jobs=-1
    )


full_pipeline_with_predictor = Pipeline([
        ("preparation", data_pipeline),
        ("linear", LogisticRegression())
    ])

param_grid = {'linear__penalty':[#'l1', 'l2', 'elasticnet',
                                 'none']
              #,'linear__C':[1.0#, 10.0, 100.0]
                            }

gd3 = GridSearchCV(full_pipeline_with_predictor, param_grid= param_grid, cv = 5, n_jobs=-1, scoring='roc_auc')

model = gd3.fit(X_train, y_train)


try:
    expLog
except NameError:
    expLog = pd.DataFrame(columns=["exp_name", 
                                   "Train Acc", 
                                   "Valid Acc",
                                   "Test  Acc",
                                   "Train AUC", 
                                   "Valid AUC",
                                   "Test  AUC"
                                  ])

exp_name = f"Baseline_{len(selected_features)}_features"
expLog.loc[len(expLog)] = [f"{exp_name}"] + list(np.round(
               [accuracy_score(y_train, model.predict(X_train)), 
                accuracy_score(y_valid, model.predict(X_valid)),
                accuracy_score(y_test, model.predict(X_test)),
                roc_auc_score(y_train, model.predict_proba(X_train)[:, 1]),
                roc_auc_score(y_valid, model.predict_proba(X_valid)[:, 1]),
                roc_auc_score(y_test, model.predict_proba(X_test)[:, 1])],
    4)) 
expLog

### Baseline 4 : 79 features; 2 log features

**Remove elements with more than 50% nulls with log AMT_ANNUITY and AMT_CREDIT**

In [ ]:

data = datasets["application_train"]
y = data['TARGET']
X = data.drop(['SK_ID_CURR', 'TARGET'], axis = 1) #drop some features with questionable value
X['LOG_AMT_ANNUITY'] = np.log(X['AMT_ANNUITY']) #add LOG_AMT_ANNUITY colunm
X = X.drop(['AMT_ANNUITY'], axis = 1) # drop AMT_ANNUITY colunm
X['LOG_AMT_CREDIT'] = np.log(X['AMT_CREDIT']) #add LOG_AMT_ANNUITY colunm
X = X.drop(['AMT_CREDIT'], axis = 1) # drop AMT_ANNUITY colunm

# Split the provided training data into training and validationa and test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.15, random_state=42)
X_train, X_valid, y_train, y_valid = train_test_split(X_train, y_train, test_size=0.2, random_state=42)
print(f"X train           shape: {X_train.shape}")
print(f"X validation      shape: {X_valid.shape}")
print(f"X test            shape: {X_test.shape}")

numerical_features = list(numerical_ix[2:].drop(remove_num_nulls))
numerical_features.append('LOG_AMT_ANNUITY')
numerical_features.append('LOG_AMT_CREDIT')
numerical_features.remove('AMT_CREDIT')
numerical_features.remove('AMT_ANNUITY')


num_pipeline =Pipeline([
    ('imputer',SimpleImputer(strategy="median")),
    ('std_scaler', StandardScaler())
])
     
categorical_features =  list(categorical_ix.drop(remove_cat_nulls))

selected_features = (numerical_features) + (categorical_features)

cat_pipeline = Pipeline([
        ('imputer', SimpleImputer(strategy='most_frequent')),
        ('ohe', OneHotEncoder(sparse=False, handle_unknown="ignore"))
    ])


data_pipeline = ColumnTransformer(transformers=[
        ("num_pipeline", num_pipeline, numerical_features),
        ("cat_pipeline", cat_pipeline, categorical_features)],
        remainder='drop',
        n_jobs=-1
    )


full_pipeline_with_predictor = Pipeline([
        ("preparation", data_pipeline),
        ("linear", LogisticRegression())
    ])

param_grid = {'linear__penalty':[#'l1', 'l2', 'elasticnet',
                                 'none']
              #,'linear__C':[1.0#, 10.0, 100.0]
             }

gd4 = GridSearchCV(full_pipeline_with_predictor, param_grid= param_grid, cv = 5, n_jobs=-1, scoring='roc_auc')

model = gd4.fit(X_train, y_train)


try:
    expLog
except NameError:
    expLog = pd.DataFrame(columns=["exp_name", 
                                   "Train Acc", 
                                   "Valid Acc",
                                   "Test  Acc",
                                   "Train AUC", 
                                   "Valid AUC",
                                   "Test  AUC"
                                  ])

exp_name = f"Baseline_{len(selected_features)}_features with log attributes"
expLog.loc[len(expLog)] = [f"{exp_name}"] + list(np.round(
               [accuracy_score(y_train, model.predict(X_train)), 
                accuracy_score(y_valid, model.predict(X_valid)),
                accuracy_score(y_test, model.predict(X_test)),
                roc_auc_score(y_train, model.predict_proba(X_train)[:, 1]),
                roc_auc_score(y_valid, model.predict_proba(X_valid)[:, 1]),
                roc_auc_score(y_test, model.predict_proba(X_test)[:, 1])],
    4)) 
expLog

## Baseline Model on Aggregated Features - Post EDA

The model below was constructed after exploratory data analysis was performed on all the tables. The sections below outline the data denormalization process (aggregating the tables into a singular input variable 'X') and then incorporate them into a baseline logistic regression model without regularization. 

### Data Denormalization

This first section takes all of the aggregated tables and merges them into the single denormalized table, called `bureau_ip_ccb_prev_pos_merged`.

In [ ]:
import pandas as pd
import os
from sklearn.model_selection import train_test_split

DATA_DIR =  "/../Data/"

ds_names = ("application_train", "application_test", "ccb_agg_data", "ip_agg_data","prevapp_agg_data",
            "pos_agg_data","bureau_agg_data")

datasets_agg = {}

for ds_name in ds_names:
    datasets_agg[ds_name] = pd.read_csv(os.getcwd() + DATA_DIR + f'{ds_name}.csv')

In [ ]:
pos_merged = datasets_agg["application_train"].merge(datasets_agg["pos_agg_data"], on='SK_ID_CURR', how='left') \
               .replace(to_replace='\s+', value='_', regex=True) \
               .replace(to_replace='\-', value='_', regex=True) \
               .replace(to_replace='\(', value='', regex=True) \
               .replace(to_replace='\)', value='', regex=True)

In [ ]:
pos_merged_test = datasets_agg["application_test"].merge(datasets_agg["pos_agg_data"], on='SK_ID_CURR', how='left') \
               .replace(to_replace='\s+', value='_', regex=True) \
               .replace(to_replace='\-', value='_', regex=True) \
               .replace(to_replace='\(', value='', regex=True) \
               .replace(to_replace='\)', value='', regex=True)

In [ ]:
prev_pos_merged = pos_merged.merge(datasets_agg["prevapp_agg_data"], on='SK_ID_CURR', how='left') \
               .replace(to_replace='\s+', value='_', regex=True) \
               .replace(to_replace='\-', value='_', regex=True) \
               .replace(to_replace='\(', value='', regex=True) \
               .replace(to_replace='\)', value='', regex=True)

In [ ]:
prev_pos_merged_test = pos_merged_test.merge(datasets_agg["prevapp_agg_data"], on='SK_ID_CURR', how='left') \
               .replace(to_replace='\s+', value='_', regex=True) \
               .replace(to_replace='\-', value='_', regex=True) \
               .replace(to_replace='\(', value='', regex=True) \
               .replace(to_replace='\)', value='', regex=True)

In [ ]:
ccb_prev_pos_merged = prev_pos_merged.merge(datasets_agg["ccb_agg_data"], on='SK_ID_CURR', how='left') \
               .replace(to_replace='\s+', value='_', regex=True) \
               .replace(to_replace='\-', value='_', regex=True) \
               .replace(to_replace='\(', value='', regex=True) \
               .replace(to_replace='\)', value='', regex=True)

In [ ]:
ccb_prev_pos_merged_test = prev_pos_merged_test.merge(datasets_agg["ccb_agg_data"], on='SK_ID_CURR', how='left') \
               .replace(to_replace='\s+', value='_', regex=True) \
               .replace(to_replace='\-', value='_', regex=True) \
               .replace(to_replace='\(', value='', regex=True) \
               .replace(to_replace='\)', value='', regex=True)

In [ ]:
ip_ccb_prev_pos_merged = ccb_prev_pos_merged.merge(datasets_agg["ip_agg_data"], on='SK_ID_CURR', how='left') \
               .replace(to_replace='\s+', value='_', regex=True) \
               .replace(to_replace='\-', value='_', regex=True) \
               .replace(to_replace='\(', value='', regex=True) \
               .replace(to_replace='\)', value='', regex=True)

In [ ]:
ip_ccb_prev_pos_merged_test = ccb_prev_pos_merged_test.merge(datasets_agg["ip_agg_data"], on='SK_ID_CURR', how='left') \
               .replace(to_replace='\s+', value='_', regex=True) \
               .replace(to_replace='\-', value='_', regex=True) \
               .replace(to_replace='\(', value='', regex=True) \
               .replace(to_replace='\)', value='', regex=True)

In [ ]:
bureau_ip_ccb_prev_pos_merged = ip_ccb_prev_pos_merged.merge(datasets_agg["bureau_agg_data"], on='SK_ID_CURR', how='left') \
               .replace(to_replace='\s+', value='_', regex=True) \
               .replace(to_replace='\-', value='_', regex=True) \
               .replace(to_replace='\(', value='', regex=True) \
               .replace(to_replace='\)', value='', regex=True)

In [ ]:
bureau_ip_ccb_prev_pos_merged_test = ip_ccb_prev_pos_merged_test.merge(datasets_agg["bureau_agg_data"], on='SK_ID_CURR', how='left') \
               .replace(to_replace='\s+', value='_', regex=True) \
               .replace(to_replace='\-', value='_', regex=True) \
               .replace(to_replace='\(', value='', regex=True) \
               .replace(to_replace='\)', value='', regex=True)

In [ ]:
bureau_ip_ccb_prev_pos_merged.to_csv(os.getcwd() + DATA_DIR + 'bureau_ip_ccb_prev_pos_merged.csv')

In [ ]:
bureau_ip_ccb_prev_pos_merged_test.to_csv(os.getcwd() + DATA_DIR + 'bureau_ip_ccb_prev_pos_merged_test.csv')

### Model Pipeline with All Features

This section runs the baseline ML pipeline using all the integrated data features as outlined by the block diagram below:

<img src="../images/pipelineblockdiagram.png" alt="drawing" width="1000"/>

In [ ]:
DATA_DIR =  "/../Data/"

datasets_agg = {}
datasets_agg["bureau_ip_ccb_prev_pos_merged"] = pd.read_csv(os.getcwd() + DATA_DIR + f'bureau_ip_ccb_prev_pos_merged.csv')
bureau_ip_ccb_prev_pos_merged = datasets_agg["bureau_ip_ccb_prev_pos_merged"]

In [ ]:
y = bureau_ip_ccb_prev_pos_merged['TARGET']
X = bureau_ip_ccb_prev_pos_merged.drop(['SK_ID_CURR', 'TARGET', 'Unnamed: 0'], axis = 1) #drop some features with questionable value

#X['LOG_AMT_ANNUITY'] = np.log(X['AMT_ANNUITY']) #add LOG_AMT_ANNUITY colunm
#X = X.drop(['AMT_ANNUITY'], axis = 1) # drop AMT_ANNUITY colunm
#X['LOG_AMT_CREDIT'] = np.log(X['AMT_CREDIT']) #add LOG_AMT_ANNUITY colunm
#X = X.drop(['AMT_CREDIT'], axis = 1) # drop AMT_ANNUITY colunm

# Split the provided training data into training and validationa and test
_, X, _, y = train_test_split(X, y, test_size=0.8, random_state=42)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
X_train, X_valid, y_train, y_valid = train_test_split(X_train, y_train, test_size=0.2, random_state=42)

X_train.replace([np.inf, -np.inf], np.nan, inplace=True)

In [ ]:
print(f"X train           shape: {X_train.shape}")
print(f"X validation      shape: {X_valid.shape}")
print(f"X test            shape: {X_test.shape}")

In [ ]:
id_cols, feat_num, feat_cat, features =  id_num_cat_feature(X, text = False)

In [ ]:
num_pipeline = Pipeline([
    ('imputer',SimpleImputer(strategy="median")),
    ('std_scaler', StandardScaler())
])
     
#categorical_features =  list(categorical_ix.drop(remove_cat_nulls))
categorical_features =  feat_cat
numerical_features = feat_num

selected_features = (numerical_features) + (categorical_features)

cat_pipeline = Pipeline([
        ('imputer', SimpleImputer(strategy='most_frequent')),
        ('ohe', OneHotEncoder(sparse=False, handle_unknown="ignore"))
    ])


data_pipeline = ColumnTransformer(transformers=[
        ("num_pipeline", num_pipeline, numerical_features),
        ("cat_pipeline", cat_pipeline, categorical_features)],
        remainder='drop',
        n_jobs=-1
    )


full_pipeline_with_predictor = Pipeline([
        ("preparation", data_pipeline),
       # ('pca', decomposition.PCA()),
        ("logistic_Reg", LogisticRegression(solver="liblinear"))
    ])

#n_components = list(range(1,X_train.shape[1]+1,1))
#C = np.logspace(-4, 4, 50)
penalty = [
           #,'l1', 'l2'
          ]

parameters = dict(#pca__n_components=n_components,
                      #logistic_Reg__C=C,
                  #    logistic_Reg__penalty=penalty
                 )

In [ ]:
gd4 = GridSearchCV(full_pipeline_with_predictor, param_grid= parameters, cv = 5, n_jobs=-10, scoring='roc_auc')

In [ ]:
gd4.fit(X_train, y_train)

In [ ]:
# print('Best Penalty:', gd4.best_estimator_.get_params()['logistic_Reg__penalty'])
# print('Best C:', gd4.best_estimator_.get_params()['logistic_Reg__C'])
# #print('Best Number Of Components:', gd4.best_estimator_.get_params()['pca__n_components'])
# print(); print(gd4.best_estimator_.get_params()['logistic_Reg'])

In [ ]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import roc_auc_score

X_valid.replace([np.inf, -np.inf], np.nan, inplace=True)
X_test.replace([np.inf, -np.inf], np.nan, inplace=True)

try:
    expLog
except NameError:
    expLog = pd.DataFrame(columns=["exp_name", 
                                   "Train Acc", 
                                   "Valid Acc",
                                   "Test  Acc",
                                   "Train AUC", 
                                   "Valid AUC",
                                   "Test  AUC"
                                  ])

exp_name = f"Baseline_{len(selected_features)}_features with log attributes"
expLog.loc[len(expLog)] = [f"{exp_name}"] + list(np.round(
               [accuracy_score(y_train, gd4.predict(X_train)), 
                accuracy_score(y_valid, gd4.predict(X_valid)),
                accuracy_score(y_test, gd4.predict(X_test)),
                roc_auc_score(y_train, gd4.predict_proba(X_train)[:, 1]),
                roc_auc_score(y_valid, gd4.predict_proba(X_valid)[:, 1]),
                roc_auc_score(y_test, gd4.predict_proba(X_test)[:, 1])],
    4)) 
expLog

## Submission File Prep

For each SK_ID_CURR in the test set, you must predict a probability for the TARGET variable. The file should contain a header and have the following format:

```python 
SK_ID_CURR,TARGET
100001,0.1
100005,0.9
100013,0.2
etc.
```

In [ ]:
DATA_DIR =  "/../Data/"

datasets_agg = {}
datasets_agg["bureau_ip_ccb_prev_pos_merged_test"] = pd.read_csv(os.getcwd() + DATA_DIR + f'bureau_ip_ccb_prev_pos_merged_test.csv')
bureau_ip_ccb_prev_pos_merged_test = datasets_agg["bureau_ip_ccb_prev_pos_merged_test"]

In [ ]:
data_test = bureau_ip_ccb_prev_pos_merged_test
X_Kaggle_test = data_test.drop(['SK_ID_CURR','Unnamed: 0'], axis = 1)
X_Kaggle_test.replace([np.inf, -np.inf], np.nan, inplace=True)

print(X_Kaggle_test.shape)

In [ ]:
X_Kaggle_test.replace([np.inf, -np.inf], np.nan, inplace=True)
#X_Kaggle_test.head()

In [ ]:
test_class_scores = gd4.predict_proba(X_Kaggle_test)[:, 1]

In [ ]:
submit_df = datasets["application_test"][['SK_ID_CURR']]
submit_df['TARGET'] = test_class_scores
submit_df.head()

In [ ]:
submit_df.to_csv("submission.csv",index=False)

## Kaggle Submission

Click on this [link](https://www.kaggle.com/c/home-credit-default-risk/submissions?sortBy=date&group=all&page=1)

<img src="../images/p2Kaggle.png" alt="drawing" width="1200"/>

# Results and Discussion <a name='results'></a>

## Models before EDA

Below are the results from our Pre-EDA Experiment Log.

<img src="../images/baseline_apptrain.png" alt="drawing" width="800"/>

The results of our baseline models constructed before EDA and feature aggregation were a good starting point. With only a modicum of complexity, we were able to establish an ROC-AUC score of 74.34%. Below are the details on phase I results:
1. Initial run was considered with 14 features, 7 numerical and 7 categorical. We got training accuracy of 91.98%, test accuracy of 91.58% and AUC score as 73.57% for this very first model.
   + Num cols : ‘AMT_INCOME_TOTAL',  'AMT_CREDIT','DAYS_EMPLOYED','DAYS_BIRTH','EXT_SOURCE_1', 'EXT_SOURCE_2','EXT_SOURCE_3’, 
   + Categorical Cols : 'CODE_GENDER','FLAG_OWN_REALTY','FLAG_OWN_CAR','NAME_CONTRACT_TYPE','NAME_EDUCATION_TYPE',             'OCCUPATION_TYPE', 'NAME_INCOME_TYPE'
2. Next we considered all 120 elements form Application train table. Here we got a marginal increase to 92% train accuracy,  and 91.93% test accuracy. But there was improvement in AUC score, which was 74.34 % in this iteration.
3. Next, we used a function to remove features which were more than 50% NULL. This led to a list of 79 features. There was very minute change in the test and train score. AUC score reduced from 74.34% to 74.06%. Although reducing the number of features was definitely a boost but we expect same or higher AUC score.
4. Next, we log transformed 2 attributes which were highly skewed and used the features from run 3 from above step. This did not help either, we got same score as in last run up to first decimal point. 1 reason for this is because the attribute we log transformed had a big null percentage which didn’t really helped the score. 

Our Kaggle score for submission was 73.3 for this phase.

## Model after EDA

Below is the result from the Post-EDA Experiment Log.

<img src="../images/baseline_allfeatures.png" alt="drawing" width="800"/>

After EDA with the new features added, our model performed significantly better with ROC-AUC scores averaging around 77%, with the highest being 77.09%. The inclusion of newly engineered features did help increase our scores, which was anyway our main goal for this phase of the project. 

Here we have taken all 1277 aggregated features for the pipeline run. As explained in the EDA part, we aggregated all features with "min", "max", "count", "sum", "median", "mean", and  "var" and subsequently rolled up all those to the main train and test tables. 

---

We also created more features as part of our analysis on features:

From POS: 
+ Percentage of installments pending.
+ Number of installments pending.
+ Days with Tolerance.

From Previous Application:
+ Count of approved previous application.
+ Count of Rejected previous applications.
+ Difference: Amount requested in application - Actual credit amount.
+ Ratio - Ratio of application amount to amount credited.
+ Ratio - Ratio of amount credited to amount annuity
+ Ratio - Ratio of down payment to amount credited.

From Installments payments: 
+ Difference of payment amount from installment amount.

---

Although we did not see much difference in test score but there was an increase in the test score by almost 1%. Scores were .9198 and .9209 respectively. But to expectations, there was a substantial increment in the test AUC score which now has the score of 77.09 %. This 3.6% increase in AUC score is deemed a good outcome. This was also evident in our Kaggle submission score of 76.17 %.

In both the phases, by using pipelines and parameters, we kept data leakage at bay. See Kaggle Submission below:

<img src="../images/p2Kaggle.png" alt="drawing" width="1200"/>

# Conclusion <a name='conclusion'></a>

The goal of this project is to predict an aplicant's default risk using data from the loan application, as well as past credit accounts. This is important as it will provide a way to more equitably provide loans to people with poor credit history. With the conclusion of Phase 2, Group 10 has accomplished the following tasks:

1. Analyzed the data structures and relationships through visual and numerical exploratory data analysis.
2. Transformed the normalized data tables into a denormalized input variable and integrated with the machine learning pipeline. 
3. Laid the foundation for future hyperparameter tuning and model engineering. 

One challenge was building a universal transformation method to apply to the tables. Group 10 solved this issue by initially analyzing the tables separately from one another, and then collaborating intensely once their table domain was understood to find the common transformation methods - also to identify where the table transformations must be different. 

Another challenge overcome was working with the large (2.7 gb) high-dimensional dataset. This was overcome by simplifying code, running code chunks in batches, and using GPU-enhanced computing methods like Google Collab. Also special thanks to Pragat for training the model on his machine for *hours* overnight. 

With a AUC-ROC score of 0.76 on the test data using the fully integrated dataset, this baseline pipeline shows logistic regression is a decent tool that can successfully use the massive amount of data to make predictions on applicant default risk. Furthermore, it shows an improvement when using *all* of the data as opposed to just data from the applications. 

In the next phase, we will focus on hyperparameter tuning, additional feature engineering and feature selection, and refining the overall machine-learning model.

# Bibliography <a name='bibliography'></a>

1. https://towardsdatascience.com/using-the-missingno-python-library-to-identify-and-visualise- missing-data-prior-to-machine-learning-34c8c5b5f009
2. https://www.analyticsvidhya.com/blog/2021/04/rapid-fire-eda-process-using-python-for-ml-implementation
3. https://www.kaggle.com/code/ekrembayar/homecredit-default-risk-step-by-step-1st-notebook/notebook#8.-Installments-Payments  -some code was directly used from this notebook, as the code was so well written, and was used as a reference for EDA, as explanations were through.
4. https://miykael.github.io/blog/2022/advanced_eda/
5. Gareth James, Daniela Witten, Trevor Hastie, Robert Tibshirani. An Introduction to Statistical Learning : with Applications in R. Chapter 3. New York :Springer, 2013.

# Data Dictionary <a name='datadict'></a>


|     | Table                         | Row                          | Description                                                                                                                                                                                                                                                                            | Special                               | 
|-----|-------------------------------|------------------------------|----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|---------------------------------------| 
| 1   | application_{train\|test}.csv | SK_ID_CURR                   | ID of loan in our sample                                                                                                                                                                                                                                                               |                                       | 
| 2   | application_{train\|test}.csv | TARGET                       | "Target variable (1 - client with payment difficulties: he/she had late payment more than X days on at least one of the first Y installments of the loan in our sample, 0 - all other cases)"                                                                                          |                                       | 
| 5   | application_{train\|test}.csv | NAME_CONTRACT_TYPE           | Identification if loan is cash or revolving                                                                                                                                                                                                                                            |                                       | 
| 6   | application_{train\|test}.csv | CODE_GENDER                  | Gender of the client                                                                                                                                                                                                                                                                   |                                       | 
| 7   | application_{train\|test}.csv | FLAG_OWN_CAR                 | Flag if the client owns a car                                                                                                                                                                                                                                                          |                                       | 
| 8   | application_{train\|test}.csv | FLAG_OWN_REALTY              | Flag if client owns a house or flat                                                                                                                                                                                                                                                    |                                       | 
| 9   | application_{train\|test}.csv | CNT_CHILDREN                 | Number of children the client has                                                                                                                                                                                                                                                      |                                       | 
| 10  | application_{train\|test}.csv | AMT_INCOME_TOTAL             | Income of the client                                                                                                                                                                                                                                                                   |                                       | 
| 11  | application_{train\|test}.csv | AMT_CREDIT                   | Credit amount of the loan                                                                                                                                                                                                                                                              |                                       | 
| 12  | application_{train\|test}.csv | AMT_ANNUITY                  | Loan annuity                                                                                                                                                                                                                                                                           |                                       | 
| 13  | application_{train\|test}.csv | AMT_GOODS_PRICE              | For consumer loans it is the price of the goods for which the loan is given                                                                                                                                                                                                            |                                       | 
| 14  | application_{train\|test}.csv | NAME_TYPE_SUITE              | Who was accompanying client when he was applying for the loan                                                                                                                                                                                                                          |                                       | 
| 15  | application_{train\|test}.csv | NAME_INCOME_TYPE             | "Clients income type (businessman, working, maternity leave,)"                                                                                                                                                                                                                        |                                       | 
| 16  | application_{train\|test}.csv | NAME_EDUCATION_TYPE          | Level of highest education the client achieved                                                                                                                                                                                                                                         |                                       | 
| 17  | application_{train\|test}.csv | NAME_FAMILY_STATUS           | Family status of the client                                                                                                                                                                                                                                                            |                                       | 
| 18  | application_{train\|test}.csv | NAME_HOUSING_TYPE            | "What is the housing situation of the client (renting, living with parents, ...)"                                                                                                                                                                                                      |                                       | 
| 19  | application_{train\|test}.csv | REGION_POPULATION_RELATIVE   | Normalized population of region where client lives (higher number means the client lives in more populated region)                                                                                                                                                                     | normalized                            | 
| 20  | application_{train\|test}.csv | DAYS_BIRTH                   | Client's age in days at the time of application                                                                                                                                                                                                                                        | time only relative to the application | 
| 21  | application_{train\|test}.csv | DAYS_EMPLOYED                | How many days before the application the person started current employment                                                                                                                                                                                                             | time only relative to the application | 
| 22  | application_{train\|test}.csv | DAYS_REGISTRATION            | How many days before the application did client change his registration                                                                                                                                                                                                                | time only relative to the application | 
| 23  | application_{train\|test}.csv | DAYS_ID_PUBLISH              | How many days before the application did client change the identity document with which he applied for the loan                                                                                                                                                                        | time only relative to the application | 
| 24  | application_{train\|test}.csv | OWN_CAR_AGE                  | Age of client's car                                                                                                                                                                                                                                                                    |                                       | 
| 25  | application_{train\|test}.csv | FLAG_MOBIL                   | "Did client provide mobile phone (1=YES, 0=NO)"                                                                                                                                                                                                                                        |                                       | 
| 26  | application_{train\|test}.csv | FLAG_EMP_PHONE               | "Did client provide work phone (1=YES, 0=NO)"                                                                                                                                                                                                                                          |                                       | 
| 27  | application_{train\|test}.csv | FLAG_WORK_PHONE              | "Did client provide home phone (1=YES, 0=NO)"                                                                                                                                                                                                                                          |                                       | 
| 28  | application_{train\|test}.csv | FLAG_CONT_MOBILE             | "Was mobile phone reachable (1=YES, 0=NO)"                                                                                                                                                                                                                                             |                                       | 
| 29  | application_{train\|test}.csv | FLAG_PHONE                   | "Did client provide home phone (1=YES, 0=NO)"                                                                                                                                                                                                                                          |                                       | 
| 30  | application_{train\|test}.csv | FLAG_EMAIL                   | "Did client provide email (1=YES, 0=NO)"                                                                                                                                                                                                                                               |                                       | 
| 31  | application_{train\|test}.csv | OCCUPATION_TYPE              | What kind of occupation does the client have                                                                                                                                                                                                                                           |                                       | 
| 32  | application_{train\|test}.csv | CNT_FAM_MEMBERS              | How many family members does client have                                                                                                                                                                                                                                               |                                       | 
| 33  | application_{train\|test}.csv | REGION_RATING_CLIENT         | "Our rating of the region where client lives (1,2,3)"                                                                                                                                                                                                                                  |                                       | 
| 34  | application_{train\|test}.csv | REGION_RATING_CLIENT_W_CITY  | "Our rating of the region where client lives with taking city into account (1,2,3)"                                                                                                                                                                                                    |                                       | 
| 35  | application_{train\|test}.csv | WEEKDAY_APPR_PROCESS_START   | On which day of the week did the client apply for the loan                                                                                                                                                                                                                             |                                       | 
| 36  | application_{train\|test}.csv | HOUR_APPR_PROCESS_START      | Approximately at what hour did the client apply for the loan                                                                                                                                                                                                                           | rounded                               | 
| 37  | application_{train\|test}.csv | REG_REGION_NOT_LIVE_REGION   | "Flag if client's permanent address does not match contact address (1=different, 0=same, at region level)"                                                                                                                                                                             |                                       | 
| 38  | application_{train\|test}.csv | REG_REGION_NOT_WORK_REGION   | "Flag if client's permanent address does not match work address (1=different, 0=same, at region level)"                                                                                                                                                                                |                                       | 
| 39  | application_{train\|test}.csv | LIVE_REGION_NOT_WORK_REGION  | "Flag if client's contact address does not match work address (1=different, 0=same, at region level)"                                                                                                                                                                                  |                                       | 
| 40  | application_{train\|test}.csv | REG_CITY_NOT_LIVE_CITY       | "Flag if client's permanent address does not match contact address (1=different, 0=same, at city level)"                                                                                                                                                                               |                                       | 
| 41  | application_{train\|test}.csv | REG_CITY_NOT_WORK_CITY       | "Flag if client's permanent address does not match work address (1=different, 0=same, at city level)"                                                                                                                                                                                  |                                       | 
| 42  | application_{train\|test}.csv | LIVE_CITY_NOT_WORK_CITY      | "Flag if client's contact address does not match work address (1=different, 0=same, at city level)"                                                                                                                                                                                    |                                       | 
| 43  | application_{train\|test}.csv | ORGANIZATION_TYPE            | Type of organization where client works                                                                                                                                                                                                                                                |                                       | 
| 44  | application_{train\|test}.csv | EXT_SOURCE_1                 | Normalized score from external data source                                                                                                                                                                                                                                             | normalized                            | 
| 45  | application_{train\|test}.csv | EXT_SOURCE_2                 | Normalized score from external data source                                                                                                                                                                                                                                             | normalized                            | 
| 46  | application_{train\|test}.csv | EXT_SOURCE_3                 | Normalized score from external data source                                                                                                                                                                                                                                             | normalized                            | 
| 47  | application_{train\|test}.csv | APARTMENTS_AVG               | "Normalized information about building where the client lives, What is average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment size, common area, living area, age of building, number of elevators, number of entrances, state of the building, number of floor" | normalized                            | 
| 48  | application_{train\|test}.csv | BASEMENTAREA_AVG             | "Normalized information about building where the client lives, What is average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment size, common area, living area, age of building, number of elevators, number of entrances, state of the building, number of floor" | normalized                            | 
| 49  | application_{train\|test}.csv | YEARS_BEGINEXPLUATATION_AVG  | "Normalized information about building where the client lives, What is average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment size, common area, living area, age of building, number of elevators, number of entrances, state of the building, number of floor" | normalized                            | 
| 50  | application_{train\|test}.csv | YEARS_BUILD_AVG              | "Normalized information about building where the client lives, What is average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment size, common area, living area, age of building, number of elevators, number of entrances, state of the building, number of floor" | normalized                            | 
| 51  | application_{train\|test}.csv | COMMONAREA_AVG               | "Normalized information about building where the client lives, What is average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment size, common area, living area, age of building, number of elevators, number of entrances, state of the building, number of floor" | normalized                            | 
| 52  | application_{train\|test}.csv | ELEVATORS_AVG                | "Normalized information about building where the client lives, What is average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment size, common area, living area, age of building, number of elevators, number of entrances, state of the building, number of floor" | normalized                            | 
| 53  | application_{train\|test}.csv | ENTRANCES_AVG                | "Normalized information about building where the client lives, What is average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment size, common area, living area, age of building, number of elevators, number of entrances, state of the building, number of floor" | normalized                            | 
| 54  | application_{train\|test}.csv | FLOORSMAX_AVG                | "Normalized information about building where the client lives, What is average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment size, common area, living area, age of building, number of elevators, number of entrances, state of the building, number of floor" | normalized                            | 
| 55  | application_{train\|test}.csv | FLOORSMIN_AVG                | "Normalized information about building where the client lives, What is average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment size, common area, living area, age of building, number of elevators, number of entrances, state of the building, number of floor" | normalized                            | 
| 56  | application_{train\|test}.csv | LANDAREA_AVG                 | "Normalized information about building where the client lives, What is average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment size, common area, living area, age of building, number of elevators, number of entrances, state of the building, number of floor" | normalized                            | 
| 57  | application_{train\|test}.csv | LIVINGAPARTMENTS_AVG         | "Normalized information about building where the client lives, What is average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment size, common area, living area, age of building, number of elevators, number of entrances, state of the building, number of floor" | normalized                            | 
| 58  | application_{train\|test}.csv | LIVINGAREA_AVG               | "Normalized information about building where the client lives, What is average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment size, common area, living area, age of building, number of elevators, number of entrances, state of the building, number of floor" | normalized                            | 
| 59  | application_{train\|test}.csv | NONLIVINGAPARTMENTS_AVG      | "Normalized information about building where the client lives, What is average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment size, common area, living area, age of building, number of elevators, number of entrances, state of the building, number of floor" | normalized                            | 
| 60  | application_{train\|test}.csv | NONLIVINGAREA_AVG            | "Normalized information about building where the client lives, What is average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment size, common area, living area, age of building, number of elevators, number of entrances, state of the building, number of floor" | normalized                            | 
| 61  | application_{train\|test}.csv | APARTMENTS_MODE              | "Normalized information about building where the client lives, What is average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment size, common area, living area, age of building, number of elevators, number of entrances, state of the building, number of floor" | normalized                            | 
| 62  | application_{train\|test}.csv | BASEMENTAREA_MODE            | "Normalized information about building where the client lives, What is average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment size, common area, living area, age of building, number of elevators, number of entrances, state of the building, number of floor" | normalized                            | 
| 63  | application_{train\|test}.csv | YEARS_BEGINEXPLUATATION_MODE | "Normalized information about building where the client lives, What is average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment size, common area, living area, age of building, number of elevators, number of entrances, state of the building, number of floor" | normalized                            | 
| 64  | application_{train\|test}.csv | YEARS_BUILD_MODE             | "Normalized information about building where the client lives, What is average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment size, common area, living area, age of building, number of elevators, number of entrances, state of the building, number of floor" | normalized                            | 
| 65  | application_{train\|test}.csv | COMMONAREA_MODE              | "Normalized information about building where the client lives, What is average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment size, common area, living area, age of building, number of elevators, number of entrances, state of the building, number of floor" | normalized                            | 
| 66  | application_{train\|test}.csv | ELEVATORS_MODE               | "Normalized information about building where the client lives, What is average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment size, common area, living area, age of building, number of elevators, number of entrances, state of the building, number of floor" | normalized                            | 
| 67  | application_{train\|test}.csv | ENTRANCES_MODE               | "Normalized information about building where the client lives, What is average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment size, common area, living area, age of building, number of elevators, number of entrances, state of the building, number of floor" | normalized                            | 
| 68  | application_{train\|test}.csv | FLOORSMAX_MODE               | "Normalized information about building where the client lives, What is average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment size, common area, living area, age of building, number of elevators, number of entrances, state of the building, number of floor" | normalized                            | 
| 69  | application_{train\|test}.csv | FLOORSMIN_MODE               | "Normalized information about building where the client lives, What is average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment size, common area, living area, age of building, number of elevators, number of entrances, state of the building, number of floor" | normalized                            | 
| 70  | application_{train\|test}.csv | LANDAREA_MODE                | "Normalized information about building where the client lives, What is average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment size, common area, living area, age of building, number of elevators, number of entrances, state of the building, number of floor" | normalized                            | 
| 71  | application_{train\|test}.csv | LIVINGAPARTMENTS_MODE        | "Normalized information about building where the client lives, What is average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment size, common area, living area, age of building, number of elevators, number of entrances, state of the building, number of floor" | normalized                            | 
| 72  | application_{train\|test}.csv | LIVINGAREA_MODE              | "Normalized information about building where the client lives, What is average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment size, common area, living area, age of building, number of elevators, number of entrances, state of the building, number of floor" | normalized                            | 
| 73  | application_{train\|test}.csv | NONLIVINGAPARTMENTS_MODE     | "Normalized information about building where the client lives, What is average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment size, common area, living area, age of building, number of elevators, number of entrances, state of the building, number of floor" | normalized                            | 
| 74  | application_{train\|test}.csv | NONLIVINGAREA_MODE           | "Normalized information about building where the client lives, What is average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment size, common area, living area, age of building, number of elevators, number of entrances, state of the building, number of floor" | normalized                            | 
| 75  | application_{train\|test}.csv | APARTMENTS_MEDI              | "Normalized information about building where the client lives, What is average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment size, common area, living area, age of building, number of elevators, number of entrances, state of the building, number of floor" | normalized                            | 
| 76  | application_{train\|test}.csv | BASEMENTAREA_MEDI            | "Normalized information about building where the client lives, What is average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment size, common area, living area, age of building, number of elevators, number of entrances, state of the building, number of floor" | normalized                            | 
| 77  | application_{train\|test}.csv | YEARS_BEGINEXPLUATATION_MEDI | "Normalized information about building where the client lives, What is average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment size, common area, living area, age of building, number of elevators, number of entrances, state of the building, number of floor" | normalized                            | 
| 78  | application_{train\|test}.csv | YEARS_BUILD_MEDI             | "Normalized information about building where the client lives, What is average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment size, common area, living area, age of building, number of elevators, number of entrances, state of the building, number of floor" | normalized                            | 
| 79  | application_{train\|test}.csv | COMMONAREA_MEDI              | "Normalized information about building where the client lives, What is average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment size, common area, living area, age of building, number of elevators, number of entrances, state of the building, number of floor" | normalized                            | 
| 80  | application_{train\|test}.csv | ELEVATORS_MEDI               | "Normalized information about building where the client lives, What is average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment size, common area, living area, age of building, number of elevators, number of entrances, state of the building, number of floor" | normalized                            | 
| 81  | application_{train\|test}.csv | ENTRANCES_MEDI               | "Normalized information about building where the client lives, What is average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment size, common area, living area, age of building, number of elevators, number of entrances, state of the building, number of floor" | normalized                            | 
| 82  | application_{train\|test}.csv | FLOORSMAX_MEDI               | "Normalized information about building where the client lives, What is average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment size, common area, living area, age of building, number of elevators, number of entrances, state of the building, number of floor" | normalized                            | 
| 83  | application_{train\|test}.csv | FLOORSMIN_MEDI               | "Normalized information about building where the client lives, What is average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment size, common area, living area, age of building, number of elevators, number of entrances, state of the building, number of floor" | normalized                            | 
| 84  | application_{train\|test}.csv | LANDAREA_MEDI                | "Normalized information about building where the client lives, What is average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment size, common area, living area, age of building, number of elevators, number of entrances, state of the building, number of floor" | normalized                            | 
| 85  | application_{train\|test}.csv | LIVINGAPARTMENTS_MEDI        | "Normalized information about building where the client lives, What is average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment size, common area, living area, age of building, number of elevators, number of entrances, state of the building, number of floor" | normalized                            | 
| 86  | application_{train\|test}.csv | LIVINGAREA_MEDI              | "Normalized information about building where the client lives, What is average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment size, common area, living area, age of building, number of elevators, number of entrances, state of the building, number of floor" | normalized                            | 
| 87  | application_{train\|test}.csv | NONLIVINGAPARTMENTS_MEDI     | "Normalized information about building where the client lives, What is average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment size, common area, living area, age of building, number of elevators, number of entrances, state of the building, number of floor" | normalized                            | 
| 88  | application_{train\|test}.csv | NONLIVINGAREA_MEDI           | "Normalized information about building where the client lives, What is average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment size, common area, living area, age of building, number of elevators, number of entrances, state of the building, number of floor" | normalized                            | 
| 89  | application_{train\|test}.csv | FONDKAPREMONT_MODE           | "Normalized information about building where the client lives, What is average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment size, common area, living area, age of building, number of elevators, number of entrances, state of the building, number of floor" | normalized                            | 
| 90  | application_{train\|test}.csv | HOUSETYPE_MODE               | "Normalized information about building where the client lives, What is average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment size, common area, living area, age of building, number of elevators, number of entrances, state of the building, number of floor" | normalized                            | 
| 91  | application_{train\|test}.csv | TOTALAREA_MODE               | "Normalized information about building where the client lives, What is average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment size, common area, living area, age of building, number of elevators, number of entrances, state of the building, number of floor" | normalized                            | 
| 92  | application_{train\|test}.csv | WALLSMATERIAL_MODE           | "Normalized information about building where the client lives, What is average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment size, common area, living area, age of building, number of elevators, number of entrances, state of the building, number of floor" | normalized                            | 
| 93  | application_{train\|test}.csv | EMERGENCYSTATE_MODE          | "Normalized information about building where the client lives, What is average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment size, common area, living area, age of building, number of elevators, number of entrances, state of the building, number of floor" | normalized                            | 
| 94  | application_{train\|test}.csv | OBS_30_CNT_SOCIAL_CIRCLE     | How many observation of client's social surroundings with observable 30 DPD (days past due) default                                                                                                                                                                                    |                                       | 
| 95  | application_{train\|test}.csv | DEF_30_CNT_SOCIAL_CIRCLE     | How many observation of client's social surroundings defaulted on 30 DPD (days past due)                                                                                                                                                                                               |                                       | 
| 96  | application_{train\|test}.csv | OBS_60_CNT_SOCIAL_CIRCLE     | How many observation of client's social surroundings with observable 60 DPD (days past due) default                                                                                                                                                                                    |                                       | 
| 97  | application_{train\|test}.csv | DEF_60_CNT_SOCIAL_CIRCLE     | How many observation of client's social surroundings defaulted on 60 (days past due) DPD                                                                                                                                                                                               |                                       | 
| 98  | application_{train\|test}.csv | DAYS_LAST_PHONE_CHANGE       | How many days before application did client change phone                                                                                                                                                                                                                               |                                       | 
| 99  | application_{train\|test}.csv | FLAG_DOCUMENT_2              | Did client provide document 2                                                                                                                                                                                                                                                          |                                       | 
| 100 | application_{train\|test}.csv | FLAG_DOCUMENT_3              | Did client provide document 3                                                                                                                                                                                                                                                          |                                       | 
| 101 | application_{train\|test}.csv | FLAG_DOCUMENT_4              | Did client provide document 4                                                                                                                                                                                                                                                          |                                       | 
| 102 | application_{train\|test}.csv | FLAG_DOCUMENT_5              | Did client provide document 5                                                                                                                                                                                                                                                          |                                       | 
| 103 | application_{train\|test}.csv | FLAG_DOCUMENT_6              | Did client provide document 6                                                                                                                                                                                                                                                          |                                       | 
| 104 | application_{train\|test}.csv | FLAG_DOCUMENT_7              | Did client provide document 7                                                                                                                                                                                                                                                          |                                       | 
| 105 | application_{train\|test}.csv | FLAG_DOCUMENT_8              | Did client provide document 8                                                                                                                                                                                                                                                          |                                       | 
| 106 | application_{train\|test}.csv | FLAG_DOCUMENT_9              | Did client provide document 9                                                                                                                                                                                                                                                          |                                       | 
| 107 | application_{train\|test}.csv | FLAG_DOCUMENT_10             | Did client provide document 10                                                                                                                                                                                                                                                         |                                       | 
| 108 | application_{train\|test}.csv | FLAG_DOCUMENT_11             | Did client provide document 11                                                                                                                                                                                                                                                         |                                       | 
| 109 | application_{train\|test}.csv | FLAG_DOCUMENT_12             | Did client provide document 12                                                                                                                                                                                                                                                         |                                       | 
| 110 | application_{train\|test}.csv | FLAG_DOCUMENT_13             | Did client provide document 13                                                                                                                                                                                                                                                         |                                       | 
| 111 | application_{train\|test}.csv | FLAG_DOCUMENT_14             | Did client provide document 14                                                                                                                                                                                                                                                         |                                       | 
| 112 | application_{train\|test}.csv | FLAG_DOCUMENT_15             | Did client provide document 15                                                                                                                                                                                                                                                         |                                       | 
| 113 | application_{train\|test}.csv | FLAG_DOCUMENT_16             | Did client provide document 16                                                                                                                                                                                                                                                         |                                       | 
| 114 | application_{train\|test}.csv | FLAG_DOCUMENT_17             | Did client provide document 17                                                                                                                                                                                                                                                         |                                       | 
| 115 | application_{train\|test}.csv | FLAG_DOCUMENT_18             | Did client provide document 18                                                                                                                                                                                                                                                         |                                       | 
| 116 | application_{train\|test}.csv | FLAG_DOCUMENT_19             | Did client provide document 19                                                                                                                                                                                                                                                         |                                       | 
| 117 | application_{train\|test}.csv | FLAG_DOCUMENT_20             | Did client provide document 20                                                                                                                                                                                                                                                         |                                       | 
| 118 | application_{train\|test}.csv | FLAG_DOCUMENT_21             | Did client provide document 21                                                                                                                                                                                                                                                         |                                       | 
| 119 | application_{train\|test}.csv | AMT_REQ_CREDIT_BUREAU_HOUR   | Number of enquiries to Credit Bureau about the client one hour before application                                                                                                                                                                                                      |                                       | 
| 120 | application_{train\|test}.csv | AMT_REQ_CREDIT_BUREAU_DAY    | Number of enquiries to Credit Bureau about the client one day before application (excluding one hour before application)                                                                                                                                                               |                                       | 
| 121 | application_{train\|test}.csv | AMT_REQ_CREDIT_BUREAU_WEEK   | Number of enquiries to Credit Bureau about the client one week before application (excluding one day before application)                                                                                                                                                               |                                       | 
| 122 | application_{train\|test}.csv | AMT_REQ_CREDIT_BUREAU_MON    | Number of enquiries to Credit Bureau about the client one month before application (excluding one week before application)                                                                                                                                                             |                                       | 
| 123 | application_{train\|test}.csv | AMT_REQ_CREDIT_BUREAU_QRT    | Number of enquiries to Credit Bureau about the client 3 month before application (excluding one month before application)                                                                                                                                                              |                                       | 
| 124 | application_{train\|test}.csv | AMT_REQ_CREDIT_BUREAU_YEAR   | Number of enquiries to Credit Bureau about the client one day year (excluding last 3 months before application)                                                                                                                                                                        |                                       | 
| 125 | bureau.csv                    | SK_ID_CURR                   | "ID of loan in our sample - one loan in our sample can have 0,1,2 or more related previous credits in credit bureau "                                                                                                                                                                  | hashed                                | 
| 126 | bureau.csv                    | SK_BUREAU_ID                 | Recoded ID of previous Credit Bureau credit related to our loan (unique coding for each loan application)                                                                                                                                                                              | hashed                                | 
| 127 | bureau.csv                    | CREDIT_ACTIVE                | Status of the Credit Bureau (CB) reported credits                                                                                                                                                                                                                                      |                                       | 
| 128 | bureau.csv                    | CREDIT_CURRENCY              | Recoded currency of the Credit Bureau credit                                                                                                                                                                                                                                           | recoded                               | 
| 129 | bureau.csv                    | DAYS_CREDIT                  | How many days before current application did client apply for Credit Bureau credit                                                                                                                                                                                                     | time only relative to the application | 
| 130 | bureau.csv                    | CREDIT_DAY_OVERDUE           | Number of days past due on CB credit at the time of application for related loan in our sample                                                                                                                                                                                         |                                       | 
| 131 | bureau.csv                    | DAYS_CREDIT_ENDDATE          | Remaining duration of CB credit (in days) at the time of application in Home Credit                                                                                                                                                                                                    | time only relative to the application | 
| 132 | bureau.csv                    | DAYS_ENDDATE_FACT            | Days since CB credit ended at the time of application in Home Credit (only for closed credit)                                                                                                                                                                                          | time only relative to the application | 
| 133 | bureau.csv                    | AMT_CREDIT_MAX_OVERDUE       | Maximal amount overdue on the Credit Bureau credit so far (at application date of loan in our sample)                                                                                                                                                                                  |                                       | 
| 134 | bureau.csv                    | CNT_CREDIT_PROLONG           | How many times was the Credit Bureau credit prolonged                                                                                                                                                                                                                                  |                                       | 
| 135 | bureau.csv                    | AMT_CREDIT_SUM               | Current credit amount for the Credit Bureau credit                                                                                                                                                                                                                                     |                                       | 
| 136 | bureau.csv                    | AMT_CREDIT_SUM_DEBT          | Current debt on Credit Bureau credit                                                                                                                                                                                                                                                   |                                       | 
| 137 | bureau.csv                    | AMT_CREDIT_SUM_LIMIT         | Current credit limit of credit card reported in Credit Bureau                                                                                                                                                                                                                          |                                       | 
| 138 | bureau.csv                    | AMT_CREDIT_SUM_OVERDUE       | Current amount overdue on Credit Bureau credit                                                                                                                                                                                                                                         |                                       | 
| 139 | bureau.csv                    | CREDIT_TYPE                  | "Type of Credit Bureau credit (Car, cash,...)"                                                                                                                                                                                                                                         |                                       | 
| 140 | bureau.csv                    | DAYS_CREDIT_UPDATE           | How many days before loan application did last information about the Credit Bureau credit come                                                                                                                                                                                         | time only relative to the application | 
| 141 | bureau.csv                    | AMT_ANNUITY                  | Annuity of the Credit Bureau credit                                                                                                                                                                                                                                                    |                                       | 
| 142 | bureau_balance.csv            | SK_BUREAU_ID                 | Recoded ID of Credit Bureau credit (unique coding for each application) - use this to join to CREDIT_BUREAU table                                                                                                                                                                      | hashed                                | 
| 143 | bureau_balance.csv            | MONTHS_BALANCE               | Month of balance relative to application date (-1 means the freshest balance date)                                                                                                                                                                                                     | time only relative to the application | 
| 144 | bureau_balance.csv            | STATUS                       | "Status of Credit Bureau loan during the month (active, closed, DPD0-30, [C means closed, X means status unknown, 0 means no DPD, 1 means maximal did during month between 1-30, 2 means DPD 31-60, 5 means DPD 120+ or sold or written off ] )"                                     |                                       | 
| 145 | POS_CASH_balance.csv          | SK_ID_PREV                   | "ID of previous credit in Home Credit related to loan in our sample. (One loan in our sample can have 0,1,2 or more previous loans in Home Credit)"                                                                                                                                    |                                       | 
| 146 | POS_CASH_balance.csv          | SK_ID_CURR                   | ID of loan in our sample                                                                                                                                                                                                                                                               |                                       | 
| 147 | POS_CASH_balance.csv          | MONTHS_BALANCE               | "Month of balance relative to application date (-1 means the information to the freshest monthly snapshot, 0 means the information at application - often it will be the same as -1 as many banks are not updating the information to Credit Bureau regularly )"                       | time only relative to the application | 
| 148 | POS_CASH_balance.csv          | CNT_INSTALMENT               | Term of previous credit (can change over time)                                                                                                                                                                                                                                         |                                       | 
| 149 | POS_CASH_balance.csv          | CNT_INSTALMENT_FUTURE        | Installments left to pay on the previous credit                                                                                                                                                                                                                                        |                                       | 
| 150 | POS_CASH_balance.csv          | NAME_CONTRACT_STATUS         | Contract status during the month                                                                                                                                                                                                                                                       |                                       | 
| 151 | POS_CASH_balance.csv          | SK_DPD                       | DPD (days past due) during the month of previous credit                                                                                                                                                                                                                                |                                       | 
| 152 | POS_CASH_balance.csv          | SK_DPD_DEF                   | DPD during the month with tolerance (debts with low loan amounts are ignored) of the previous credit                                                                                                                                                                                   |                                       | 
| 153 | credit_card_balance.csv       | SK_ID_PREV                   | "ID of previous credit in Home credit related to loan in our sample. (One loan in our sample can have 0,1,2 or more previous loans in Home Credit)"                                                                                                                                    | hashed                                | 
| 154 | credit_card_balance.csv       | SK_ID_CURR                   | ID of loan in our sample                                                                                                                                                                                                                                                               | hashed                                | 
| 155 | credit_card_balance.csv       | MONTHS_BALANCE               | Month of balance relative to application date (-1 means the freshest balance date)                                                                                                                                                                                                     | time only relative to the application | 
| 156 | credit_card_balance.csv       | AMT_BALANCE                  | Balance during the month of previous credit                                                                                                                                                                                                                                            |                                       | 
| 157 | credit_card_balance.csv       | AMT_CREDIT_LIMIT_ACTUAL      | Credit card limit during the month of the previous credit                                                                                                                                                                                                                              |                                       | 
| 158 | credit_card_balance.csv       | AMT_DRAWINGS_ATM_CURRENT     | Amount drawing at ATM during the month of the previous credit                                                                                                                                                                                                                          |                                       | 
| 159 | credit_card_balance.csv       | AMT_DRAWINGS_CURRENT         | Amount drawing during the month of the previous credit                                                                                                                                                                                                                                 |                                       | 
| 160 | credit_card_balance.csv       | AMT_DRAWINGS_OTHER_CURRENT   | Amount of other drawings during the month of the previous credit                                                                                                                                                                                                                       |                                       | 
| 161 | credit_card_balance.csv       | AMT_DRAWINGS_POS_CURRENT     | Amount drawing or buying goods during the month of the previous credit                                                                                                                                                                                                                 |                                       | 
| 162 | credit_card_balance.csv       | AMT_INST_MIN_REGULARITY      | Minimal installment for this month of the previous credit                                                                                                                                                                                                                              |                                       | 
| 163 | credit_card_balance.csv       | AMT_PAYMENT_CURRENT          | How much did the client pay during the month on the previous credit                                                                                                                                                                                                                    |                                       | 
| 164 | credit_card_balance.csv       | AMT_PAYMENT_TOTAL_CURRENT    | How much did the client pay during the month in total on the previous credit                                                                                                                                                                                                           |                                       | 
| 165 | credit_card_balance.csv       | AMT_RECEIVABLE_PRINCIPAL     | Amount receivable for principal on the previous credit                                                                                                                                                                                                                                 |                                       | 
| 166 | credit_card_balance.csv       | AMT_RECIVABLE                | Amount receivable on the previous credit                                                                                                                                                                                                                                               |                                       | 
| 167 | credit_card_balance.csv       | AMT_TOTAL_RECEIVABLE         | Total amount receivable on the previous credit                                                                                                                                                                                                                                         |                                       | 
| 168 | credit_card_balance.csv       | CNT_DRAWINGS_ATM_CURRENT     | Number of drawings at ATM during this month on the previous credit                                                                                                                                                                                                                     |                                       | 
| 169 | credit_card_balance.csv       | CNT_DRAWINGS_CURRENT         | Number of drawings during this month on the previous credit                                                                                                                                                                                                                            |                                       | 
| 170 | credit_card_balance.csv       | CNT_DRAWINGS_OTHER_CURRENT   | Number of other drawings during this month on the previous credit                                                                                                                                                                                                                      |                                       | 
| 171 | credit_card_balance.csv       | CNT_DRAWINGS_POS_CURRENT     | Number of drawings for goods during this month on the previous credit                                                                                                                                                                                                                  |                                       | 
| 172 | credit_card_balance.csv       | CNT_INSTALMENT_MATURE_CUM    | Number of paid installments on the previous credit                                                                                                                                                                                                                                     |                                       | 
| 173 | credit_card_balance.csv       | NAME_CONTRACT_STATUS         | "Contract status (active signed,...) on the previous credit"                                                                                                                                                                                                                           |                                       | 
| 174 | credit_card_balance.csv       | SK_DPD                       | DPD (Days past due) during the month on the previous credit                                                                                                                                                                                                                            |                                       | 
| 175 | credit_card_balance.csv       | SK_DPD_DEF                   | DPD (Days past due) during the month with tolerance (debts with low loan amounts are ignored) of the previous credit                                                                                                                                                                   |                                       | 
| 176 | previous_application.csv      | SK_ID_PREV                   | "ID of previous credit in Home credit related to loan in our sample. (One loan in our sample can have 0,1,2 or more previous loan applications in Home Credit, previous application could, but not necessarily have to lead to credit) "                                               | hashed                                | 
| 177 | previous_application.csv      | SK_ID_CURR                   | ID of loan in our sample                                                                                                                                                                                                                                                               | hashed                                | 
| 178 | previous_application.csv      | NAME_CONTRACT_TYPE           | "Contract product type (Cash loan, consumer loan [POS] ,...) of the previous application"                                                                                                                                                                                              |                                       | 
| 179 | previous_application.csv      | AMT_ANNUITY                  | Annuity of previous application                                                                                                                                                                                                                                                        |                                       | 
| 180 | previous_application.csv      | AMT_APPLICATION              | For how much credit did client ask on the previous application                                                                                                                                                                                                                         |                                       | 
| 181 | previous_application.csv      | AMT_CREDIT                   | "Final credit amount on the previous application. This differs from AMT_APPLICATION in a way that the AMT_APPLICATION is the amount for which the client initially applied for, but during our approval process he could have received different amount - AMT_CREDIT"                  |                                       | 
| 182 | previous_application.csv      | AMT_DOWN_PAYMENT             | Down payment on the previous application                                                                                                                                                                                                                                               |                                       | 
| 183 | previous_application.csv      | AMT_GOODS_PRICE              | Goods price of good that client asked for (if applicable) on the previous application                                                                                                                                                                                                  |                                       | 
| 184 | previous_application.csv      | WEEKDAY_APPR_PROCESS_START   | On which day of the week did the client apply for previous application                                                                                                                                                                                                                 |                                       | 
| 185 | previous_application.csv      | HOUR_APPR_PROCESS_START      | Approximately at what day hour did the client apply for the previous application                                                                                                                                                                                                       | rounded                               | 
| 186 | previous_application.csv      | FLAG_LAST_APPL_PER_CONTRACT  | Flag if it was last application for the previous contract. Sometimes by mistake of client or our clerk there could be more applications for one single contract                                                                                                                        |                                       | 
| 187 | previous_application.csv      | NFLAG_LAST_APPL_IN_DAY       | Flag if the application was the last application per day of the client. Sometimes clients apply for more applications a day. Rarely it could also be error in our system that one application is in the database twice                                                                 |                                       | 
| 188 | previous_application.csv      | NFLAG_MICRO_CASH             | Flag Micro finance loan                                                                                                                                                                                                                                                                |                                       | 
| 189 | previous_application.csv      | RATE_DOWN_PAYMENT            | Down payment rate normalized on previous credit                                                                                                                                                                                                                                        | normalized                            | 
| 190 | previous_application.csv      | RATE_INTEREST_PRIMARY        | Interest rate normalized on previous credit                                                                                                                                                                                                                                            | normalized                            | 
| 191 | previous_application.csv      | RATE_INTEREST_PRIVILEGED     | Interest rate normalized on previous credit                                                                                                                                                                                                                                            | normalized                            | 
| 192 | previous_application.csv      | NAME_CASH_LOAN_PURPOSE       | Purpose of the cash loan                                                                                                                                                                                                                                                               |                                       | 
| 193 | previous_application.csv      | NAME_CONTRACT_STATUS         | "Contract status (approved, cancelled, ...) of previous application"                                                                                                                                                                                                                   |                                       | 
| 194 | previous_application.csv      | DAYS_DECISION                | Relative to current application when was the decision about previous application made                                                                                                                                                                                                  | time only relative to the application | 
| 195 | previous_application.csv      | NAME_PAYMENT_TYPE            | Payment method that client chose to pay for the previous application                                                                                                                                                                                                                   |                                       | 
| 196 | previous_application.csv      | CODE_REJECT_REASON           | Why was the previous application rejected                                                                                                                                                                                                                                              |                                       | 
| 197 | previous_application.csv      | NAME_TYPE_SUITE              | Who accompanied client when applying for the previous application                                                                                                                                                                                                                      |                                       | 
| 198 | previous_application.csv      | NAME_CLIENT_TYPE             | Was the client old or new client when applying for the previous application                                                                                                                                                                                                            |                                       | 
| 199 | previous_application.csv      | NAME_GOODS_CATEGORY          | What kind of goods did the client apply for in the previous application                                                                                                                                                                                                                |                                       | 
| 200 | previous_application.csv      | NAME_PORTFOLIO               | "Was the previous application for CASH, POS, CAR, "                                                                                                                                                                                                                                   |                                       | 
| 201 | previous_application.csv      | NAME_PRODUCT_TYPE            | Was the previous application x-sell o walk-in                                                                                                                                                                                                                                          |                                       | 
| 202 | previous_application.csv      | CHANNEL_TYPE                 | Through which channel we acquired the client on the previous application                                                                                                                                                                                                               |                                       | 
| 203 | previous_application.csv      | SELLERPLACE_AREA             | Selling area of seller place of the previous application                                                                                                                                                                                                                               |                                       | 
| 204 | previous_application.csv      | NAME_SELLER_INDUSTRY         | The industry of the seller                                                                                                                                                                                                                                                             |                                       | 
| 205 | previous_application.csv      | CNT_PAYMENT                  | Term of previous credit at application of the previous application                                                                                                                                                                                                                     |                                       | 
| 206 | previous_application.csv      | NAME_YIELD_GROUP             | Grouped interest rate into small medium and high of the previous application                                                                                                                                                                                                           | grouped                               | 
| 207 | previous_application.csv      | PRODUCT_COMBINATION          | Detailed product combination of the previous application                                                                                                                                                                                                                               |                                       | 
| 208 | previous_application.csv      | DAYS_FIRST_DRAWING           | Relative to application date of current application when was the first disbursement of the previous application                                                                                                                                                                        | time only relative to the application | 
| 209 | previous_application.csv      | DAYS_FIRST_DUE               | Relative to application date of current application when was the first due supposed to be of the previous application                                                                                                                                                                  | time only relative to the application | 
| 210 | previous_application.csv      | DAYS_LAST_DUE_1ST_VERSION    | Relative to application date of current application when was the first due of the previous application                                                                                                                                                                                 | time only relative to the application | 
| 211 | previous_application.csv      | DAYS_LAST_DUE                | Relative to application date of current application when was the last due date of the previous application                                                                                                                                                                             | time only relative to the application | 
| 212 | previous_application.csv      | DAYS_TERMINATION             | Relative to application date of current application when was the expected termination of the previous application                                                                                                                                                                      | time only relative to the application | 
| 213 | previous_application.csv      | NFLAG_INSURED_ON_APPROVAL    | Did the client requested insurance during the previous application                                                                                                                                                                                                                     |                                       | 
| 214 | installments_payments.csv     | SK_ID_PREV                   | "ID of previous credit in Home credit related to loan in our sample. (One loan in our sample can have 0,1,2 or more previous loans in Home Credit)"                                                                                                                                    | hashed                                | 
| 215 | installments_payments.csv     | SK_ID_CURR                   | ID of loan in our sample                                                                                                                                                                                                                                                               | hashed                                | 
| 216 | installments_payments.csv     | NUM_INSTALMENT_VERSION       | Version of installment calendar (0 is for credit card) of previous credit. Change of installment version from month to month signifies that some parameter of payment calendar has changed                                                                                             |                                       | 
| 217 | installments_payments.csv     | NUM_INSTALMENT_NUMBER        | On which installment we observe payment                                                                                                                                                                                                                                                |                                       | 
| 218 | installments_payments.csv     | DAYS_INSTALMENT              | When the installment of previous credit was supposed to be paid (relative to application date of current loan)                                                                                                                                                                         | time only relative to the application | 
| 219 | installments_payments.csv     | DAYS_ENTRY_PAYMENT           | When was the installments of previous credit paid actually (relative to application date of current loan)                                                                                                                                                                              | time only relative to the application | 
| 220 | installments_payments.csv     | AMT_INSTALMENT               | What was the prescribed installment amount of previous credit on this installment                                                                                                                                                                                                      |                                       | 
| 221 | installments_payments.csv     | AMT_PAYMENT                  | What the client actually paid on previous credit on this installment                                                                                                                                                                                                                   |                                       | 
|     |                               |                              |                                                                                                                                                                                                                                                                                        |                                       |